//Red border table
//////////////////////////////
.table-red-wrapper
	
	table
		display: inline-block
		width: auto

		font-size: 20rem

		margin-bottom: 48rem

		tr

			border-bottom: 1px solid rgba(250,42,67,0.2)

			&:last-of-type
				border-bottom: none

			th

				opacity: 0.5
				font-weight: 400

				padding: 26rem 48rem
				border-right: 1px solid rgba(250,42,67,0.2)
				text-align: center

				&:first-of-type
					text-align: -webkit-left

				&:last-of-type
					border-right: none
				
			td
				padding: 26rem 48rem
				border-right: 1px solid rgba(250,42,67,0.2)
				text-align: center

				&:first-of-type
					text-align: -webkit-left

					color: rgba(250,42,67,1)

				&:last-of-type
					border-right: none

//Investor table
//////////////////////
.table-big-wrapper
	
	display: inline-block

	font-size: 16rem

	//Text inside is overlapsing
	@media screen and (max-width: 768px) {transform: scale(0.4,0.4)}


	table
		
		tr

			&.above

				td
					border-top: 1px solid rgba(250,42,67,0.2)


			th

				padding: 26rem 48rem
				opacity: 0.5
				font-weight: 400
				text-align: -webkit-left

				&.nosize
					position: absolute

				border-right: 1px solid rgba(255,255,255,0.2)

				&.noborder
					border: none

				&:last-of-type
					border-right: none

			td
				white-space: nowrap

				padding: 26rem 48rem
				text-align: -webkit-left

				border-right: 1px solid rgba(255,255,255,0.2)
				border-top: 1px solid rgba(255,255,255,0.2)



				&.red
					background-color: rgba(250,42,67,0.7)

				&.red2
					background-color: rgba(250,42,67,0.5)

				&.red3
					background-color: rgba(250,42,67,0.25)


				&:first-of-type
					border-top: none

				&:last-of-type
					border-right: none

				&.above
					border-top: 1px solid rgba(250,42,67,0.2)
					font-weight: 600





//Gallery
///////////////////////////////
.gallery-wrapper
	display: flex
	justify-content: space-between
	margin-bottom: 48rem
  	flex-wrap: wrap
  	width: 50%
  	height: auto

	figure
		position: relative
		width: 30%
		height: auto

		&.big
			width: 65%
		

		img
			display: inline-block
			position: relative
			width: 100%

		p
			display: block
			padding: 10rem 0 20rem 0
			opacity: 1

			font-size: 18rem

	&.vertical
		@media screen and (max-width: 768px) {display: block}
		

		figure
			@media screen and (max-width: 768px) {width: 100%; margin-top: 28rem}


//Targeting (people and drinks)
//////////////////////////////
.audience-wrapper
	position: relative
	display: flex
	margin-top: 24rem
	margin-bottom: 48rem
	width: 100%
	@media screen and (max-width: 768px) { display: flex; flex-direction: column; align-items: center }

	.people
		position: relative
		display: flex
		justify-content: space-between

		img
			height: 160rem
			margin-right: 40rem


	.drinks
		position: relative
		display: flex
		justify-content: space-between
		margin-left: 40rem

		@media screen and (max-width: 768px) {margin-left: 0; margin-top: 40rem}

		figure
			position: relative
			max-height: 120px
			padding: 8rem
			margin-right: 16rem

			img
				height: 100rem

			figcaption
				text-align: center
					

//Logo
////////////////////////////////////
.case-block-image-right

	&.block

		header
			width: 100%

		.image-right-wrapper

			&.logo

				float: right
				img
					width: 50%
					float: right
					@media screen and (max-width: 768px) {width: 100%; align: center}
					
//Color elements
////////////////////////////////////
.color-wrapper
	position: relative
	display: flex
	justify-content: space-between
	width: 100%
	margin-bottom: 120rem



	figure
		display: inline-block
		width: 30%
		height: 300rem
		@media screen and (max-width: 768px) {width: 100%; height: 100rem}
		
		&.red
			background-color: #FD1A45
			// border: 20rem solid #FD1A45

		&.white
			background-color: white
			//border: 1rem solid white

		&.black
			background-color: black
			border: 1px solid #3d3d3d


		figcaption
			position: relative
			display: block
			text-align: left
			top: 110%

			font-size: 18rem
			font-weight: 500

			&:last-of-type
				top: 120%
				opacity: 0.5


//Typographics
/////////////////////////
.typographics-wrapper
	
	position: relative
	display: flex
	justify-content: space-between
	width: 100%
	margin-bottom: 120rem

	@media screen and (max-width: 768px) { width: 100%; height:120rem }

	
	figure

		display: block
		width: 30%
		height: auto
		padding: 20rem
		@media screen and (max-width: 768px) { margin-bottom: 20rem }

		border: 1px solid rgba(255,255,255,0.1)
		//Common block
		p
			text-transform: uppercase
			font-size: 18rem
			font-family: Open Sans
			opacity: 1
			line-height: 40rem
			&:first-of-type
				font-size: 26rem
				margin-bottom: 12rem

			&:last-of-type
				font-family: Avenir Next W00
				text-transform: none
				color: white
				opacity: 0.5
				margin-top: 20rem

		//Individual blocks
		&.title

			p
				font-weight: 600

				&:last-of-type
					font-weight: 500

		&.text

			p
				font-weight: 300

				&:last-of-type
					font-weight: 500

		&.value

			p
				font-weight: 400
				color: #FD1A45


				&:first-of-type
					color: white

				&:last-of-type

					font-weight: 500
					color: white


.alc-logo-big
  img
    width: 70%!important
    @media screen and (max-width: 768px) {max-width: 50%;  height:auto; max-height:50%}
    @media screen and (min-width: 1400px) { max-width:440rem; height:auto; max-height:60%}
			

.alc-achievments
  display: flex
  width: 100%

  flex-wrap: wrap
  justify-content: space-around //Changed from: space-between (To fix the spread if there's less elements in lines)
  
  perspective: 640px

  .image
    position: relative

    width: 15%

    padding: 48rem

    //border-radius: 4rem
    //border: 1px solid rgba(255,255,255,0.1)
    overflow: hidden

    margin-bottom: 32rem

    @media screen and (max-width: 768px) {display:inline-block; width:20%}

    &:hover
      img
        cursor: pointer
        transform: scale(1.2,1.2)
    img
      width: 100%
      @media screen and (max-width: 768px) {display:inline-block; width:100%}
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1)	

// //Graph
// ///////////////////////////////
// .graph-wrapper
// 	display: flex
// 	position: relative
// 	width: 60%
// 	justify-content: center

// 	margin-bottom: 48rem

// 	.graph-element
// 		display: flex
// 		position: relative

// 		p
// 			position: relative
// 			top: 8rem
// 			margin-right: 22rem

// 		.graph-bar
// 			background-color: red
// 			position: relative
// 			height: 40rem
// 			width: 720rem
// 			background-color: red





