//Integration schematics
////////////////////////////

.wrapper-problemes
    text-align: left
    

    h4
      @media screen and (max-width: 768px) { width:100%}
      span
        color: #009cff

.alm-design-concept
	display: block
    margin-left: 120rem
    width: 50%

    @media screen and (max-width: 768px) {margin:0; width: 100%}
    img
      min-width: 400px!important
      @media screen and (max-width: 768px) {display:flex; align-items:center; margin:0; width: 50%; height:50%}