.case-inner-page
  .block
    padding-bottom: 0
    header
      margin-bottom: 40rem
      @media screen and (max-width: 768px) { margin-bottom: 40rem}

.wrapper-2-elements
  display: flex
  position: relative

  width: 100%
  height: auto

  justify-content: space-between
  flex-wrap: wrap

  figure
    display: flex
    flex-wrap: nowrap

    justify-content: flex-start

    width: 48%

    margin-bottom: 48rem
    @media screen and (max-width: 768px) {display:flex; width: 100%; justify-content: center}

    img
      height: 96rem

      margin-right: 40rem
      @media screen and (max-width: 768px) {margin-bottom: 40rem}
    figcaption
      h5
        margin-bottom: 8rem
      p
        @media screen and (max-width: 768px) {display:block; width: 100%; margin-right:0rem}

.wrapper-3-elements
  display: flex
  position: relative

  width: 100%

  text-align: center 
  justify-content: space-between
  flex-wrap: wrap

  figure
    width: 30%

    margin-bottom: 60rem

    img
      height: 96rem

      margin-bottom: 20rem
    figcaption
      h5
        display: block
        margin-bottom: 8rem

.gallery
    figure
      @media screen and (max-width: 768px) {width:100%}
      figcaption
        h5
          display: block
          text-align: left


      img
        display: block
        height: auto
        width: 100%  

.wrapper-2-columns
  display: flex
  position: relative

  width: 100%
  height: auto

  justify-content: space-between
  @media screen and (max-width: 768px) {display:inline}

  .wrapper-column
    width: calc(50% - 48rem)
    @media screen and (max-width: 768px) {width:100%}


    .wrapper-image
      display: block
      position: relative

      width: 100%
      height: 100%
      @media screen and (max-width: 768px) {margin-bottom:40rem}
      img
        width: 75%
    .wrapper-image-big
      display: block
      position: relative

      width: 100%
      height: 100%

      overflow: auto

      img
        width: 80%