//Scheme wrapper for Home Credit
///////////////////////////////////
.scheme-wrapper
  
  &.hc

    figure
      display: block
      width: 80%
      height: auto

      p
        display: block
        text-transform: uppercase
        opacity: 1
        padding-left: 18rem
        padding-right: 18rem

        &:first-of-type
          margin-top: 82rem
          font-size: 20rem
          font-weight: 500
          color: #ff0000

        &:last-of-type
          padding-top: 12rem
          font-size: 26rem
          margin-bottom: 84rem
          font-weight: 600


    .placeholder
      width: 20%
      height: 20rem

    .arrows-wrapper
      display: inline-block
      position: relative
      width: 20%
      height: 20rem
      top: 120rem
      @media screen and (max-width: 768px) {margin: 10rem 0 10rem 0;  transform: translateY(0); transform: rotate(90deg); top: 0}

      .arrow
        position: absolute
        background: url("/images/cases/home-credit/arrow.svg") 100%
        width: 100%
        height: 100%
        background-size: cover