//Integration schematics
////////////////////////////
.scheme-wrapper
  display: flex
  position: relative
  justify-content: space-between
  width: 100%
  margin-bottom: 48rem
  @media screen and (max-width: 768px) { display: flex; flex-direction: column; align-items: center }

  figure
    display: block
    width: 360rem
    height: 180rem
    min-width: 120rem
    border: 1px solid rgba(255,255,255,0.1)

    text-align: center

    

    //@media screen and (max-width: 768px) { width: 320rem; height: auto }


    img
      width: 80rem
      height: auto

      margin-top: 28rem

    figcaption
      position: relative
      display: block

      margin-top: 20rem
      margin-bottom: 30rem

      font-size: 16rem
      font-weight: 500
      text-transform: uppercase
      @media screen and (max-width: 768px) {font-size: 20rem}

  .arrows-wrapper
    display: inline-block
    position: relative
    width: 80rem
    height: 80rem
    top: 50rem
    @media screen and (max-width: 768px) {margin: 10rem 0 10rem 0;  transform: translateY(0); transform: rotate(90deg); top: 0}

    .arrow
      width: inherit
      height: inherit
      background: url("/images/cases/streetcar/arrows.png") 100%
      background-size: cover
    