//Integration schematics
////////////////////////////
.scheme-wrapper
  display: flex
  position: relative
  justify-content: space-between
  width: 100%
  margin-bottom: 48rem
  @media screen and (max-width: 768px) { display: flex; flex-direction: column; align-items: center }

  
  .wrapper-problemes
    text-align: left
    h4
      text-align: left
      span
        color:#000000


  figure
    display: block
    width: 420rem
    height: 180rem

    border: 1px solid rgba(255,255,255,0.3)

    text-align: center

    //@media screen and (max-width: 768px) { width: 320rem; height: auto }


    img
      width: 80rem
      height: auto

      margin-top: 28rem

    figcaption
      position: relative
      display: block

      margin-top: 20rem
      margin-bottom: 30rem

      font-size: 22rem
      font-weight: 500
      text-transform: uppercase
  h4
    text-align: center
    span
      color: #df3235


.arrows-wrapper
    display: inline-block
    position: relative
    width: 200rem
    height: 100rem
    top: 40rem
    @media screen and (max-width: 768px) {margin: 10rem 0 10rem 0;  transform: translateY(0); transform: rotate(90deg); top: 0}

.arrow
    width: inherit
    height: inherit
    background: url("/images/cases/stuff/Arrow.svg") 100%
    background-size: cover

.wrapper-problemes
    text-align: left
    h4
      span
        color: #df3235