.our-auditory
  figure
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    flex: 1 0 auto

    text-align: center
    padding: 48rem

    margin-bottom: 0

    border: 1px solid rgba(255,255,255,0.1)

.wrapper-uhp-colors
  display: block
  position: relative

  width: 100%
  height: auto

  margin-top: 48rem

  .wrapper-uhp-color
    display: block
    position: relative

    width: calc(100% - 128rem)
    height: auto

    left: 0

    margin-bottom: 48rem

    .wrapper-text
      display: flex
      justify-content: space-between

      flex-wrap: wrap

      margin-bottom: 16rem

      h5
        flex: 1 0 auto
        margin-left: 48rem
      p
        margin-right: 48rem
        @media screen and (max-width: 768px) {margin-right:0}

        &:last-of-type
          @media screen and (max-width: 768px) {display:none}

  .wrapper-color
      height: 80rem
      background: #00ff88

  .uhp-gold
    left: 0
    .wrapper-text
      h5
        margin-left: 128rem
        @media screen and (max-width: 768px) {margin-left:80rem}
      p
        @media screen and (max-width: 768px) {margin-right:10rem}
    .wrapper-color
      background: #EEA93C
  
  .uhp-navy
    left: 128rem
    .wrapper-text
      h5
        margin-left: 0
      p
        @media screen and (max-width: 768px) {margin-right:10rem}
    .wrapper-color
      background: #272A33
  
  .uhp-gray
    left: 0
    .wrapper-text
      h5
        margin-left: 128rem
        @media screen and (max-width: 768px) {margin-left:80rem}
      p
        @media screen and (max-width: 768px) {margin-right:10rem}
    .wrapper-color
      background: #666E75
  
  .uhp-white
    left: 128rem
    .wrapper-text
      h5
        margin-left: 0
      p
        @media screen and (max-width: 768px) {margin-right:10rem}
    .wrapper-color
      background: white


.wrapper-2-elements
  .wrapper-2-elements
    display: flex

    flex-wrap: wrap
    width: calc(50% - 24rem)


    &:first-of-type
      &:after
        content: ''
        display: block
        position: absolute

        left: calc(100% + 24rem)
        top: 0

        width: 1rem
        height: calc(100% - 48rem)

        background: rgba(255,255,255,0.1)

    .wrapper-uhp-color
      display: block
      position: relative

      width: calc(50% - 16rem)
      height: auto

      margin-bottom: 48rem

      .wrapper-text
        margin-bottom: 16rem
        @media screen and (max-width: 768px) {margin-bottom:10rem}
      .wrapper-color
        height: 80rem
    
    .uhp-gold
      .wrapper-color
        background: #EEA93C
    
    .uhp-navy
      .wrapper-color
        background: #272A33
    
    .uhp-gray
      .wrapper-color
        background: #666E75
      
    .uhp-white
      .wrapper-color
        background: white
.blazons
  figure

    img
      height: 200rem
      @media screen and (max-width: 768px) {width:120rem}


    figcaption
      h5
        display: block
        margin-bottom: 8rem
      p
        font-size: 16rem 
.rules
  figure
    width: 30%

    margin-bottom: 60rem
    @media screen and (max-width: 768px) {display:block; width: 100%}

    img
      height: 96rem

      margin-bottom: 40rem
    figcaption
      h5
        display: block
        margin-bottom: 8rem
      p
        @media screen and (max-width: 768px) {display:block; width: 100%; margin-right:0rem}



.uhp-logo
  img
    width: 25%

.uhp-logo-big
  img
    width: 100%
    @media screen and (max-width: 768px) {max-width: 50%;  height:auto; max-height:50%}
    @media screen and (min-width: 1400px) { max-width:440rem; height:auto; max-height:60%}

.uhp-gerb-big
  img
    width: 100%
    @media screen and (max-width: 768px) {max-width: 80%;  height:auto; max-height:60%}
    @media screen and (min-width: 1400px) { max-width:600rem; height:auto; max-height:60%}


.uhp-pattern
  img
    width: 100%

.pattern-stage
  figure
    @media screen and (max-width: 768px) {display:block; width:100%}
    img
      height: 200rem
      @media screen and (max-width: 768px) {width:240rem; margin-bottom:40rem}


.images-six-interior
  &:last-of-type
    @media screen and (max-width: 768px) {display:none}

.logo-usage
  figure
    width: 30%


    margin-bottom: 60rem

    img
      width: 100%
      height: auto
      max-height: 200rem
      margin-bottom: 40rem
    figcaption
      h5
        display: block
        margin-bottom: 8rem

.logo-prohibited
  figure
    width: 30%


    margin-bottom: 60rem

    img
      height: 160rem
      width: auto
      margin-bottom: 40rem
    figcaption
      h5
        display: block
        margin-bottom: 8rem
      