<section class='block' id='our-cases'>
  <header>
    <span>Наши кейсы</span>
    <h2>Изящные решения помогают нам создавать неповторимые проекты. Каждая новая задача — это возможность превзойти идеал, раздвинуть границы привычного. Без полной самоотдачи, усердной работы и любви к своему делу невозможно создать уникальный инновационный продукт.</h2>
  </header>
  <div class='cases-wrapper'>
    <div class='case-wrapper'>
      <figure>
        <figcaption>
          <img alt='Уникальные Кальянные' src='images/cases/uhp/uhp_logo.svg'>
          <h3 class='uppercase'>Уникальные Кальянные</h3>
          <p>Создание продукта под ключ для федеральной сети кальянных: начиная с разработка 150-страничного digital-брендингаи заканчивая созданием геймифицированный личный кабинет для сотрудников и посетителей.</p>
          <a class='button button-next' href='/cases/uhp.html'>
            <small></small>
          </a>
        </figcaption>
        <div class='video-wrapper'>
          <video autoplay='autoplay' class='uhp video-bg' loop='loop' muted='muted'>
            <source src='/videos/uhp.mp4'>
          </video>
          <canvas class='uhp-canvas'></canvas>
          <script>
            var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
            if (isIOS) {
            var canvasVideo = new CanvasVideoPlayer({
            videoSelector: '.uhp',
            canvasSelector: '.uhp-canvas',
            timelineSelector: false,
            autoplay: true,
            makeLoop: true,
            pauseOnClick: false,
            audio: false
            });
            } else {
            <!-- / Use HTML5 video -->
            document.querySelectorAll('.uhp-canvas')[0].style.display = 'none';
            }
          </script>
        </div>
      </figure>
    </div>
    <div class='case-wrapper'>
      <figure>
        <figcaption>
          <img alt='Street Car' src='images/cases/streetcar/streetcar_logo.svg'>
          <h3 class='uppercase'>Street Car</h3>
          <p>Мобильное приложение для первого в России каршеринг-сервиса. Участники клуба могут найти ближайший автомобиль и забронировать его; составить расписание поездок на день, неделю или месяц.</p>
          <a class='button button-next' href='/cases/streetcar.html'>
            <small></small>
          </a>
        </figcaption>
        <div class='video-wrapper'>
          <video autoplay='autoplay' class='streetcar video-bg' loop='loop' muted='muted'>
            <source src='/videos/streetcar.mp4'>
          </video>
          <canvas class='streetcar-canvas'></canvas>
          <script>
            var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
            if (isIOS) {
            var canvasVideo = new CanvasVideoPlayer({
            videoSelector: '.streetcar',
            canvasSelector: '.streetcar-canvas',
            timelineSelector: false,
            autoplay: true,
            makeLoop: true,
            pauseOnClick: false,
            audio: false
            });
            } else {
            <!-- / Use HTML5 video -->
            document.querySelectorAll('.streetcar-canvas')[0].style.display = 'none';
            }
          </script>
        </div>
      </figure>
    </div>
    <div class='case-wrapper' style='background-image: url(images/cases/almwajaha/almwajaha_bg.png); color: #333333'>
      <figure>
        <figcaption>
          <img alt='Almwajaha' src='images/cases/almwajaha/almwajaha_logo.svg'>
          <h3 class='uppercase'>Almwajaha</h3>
          <p>Крупнейшая арабская игра-викторина, разработанная с учетом специфики пользователей из стран Ближнего Востока. С целью ориентирования приложения на отличительные особенности конечного пользователя был произведен design research, продуманы новые пользовательские сценарии и игровые механики, а так же разработана новый визуальный стиль для игры.</p>
          <a class='button button-next' href='/cases/almwajaha.html'>
            <small></small>
          </a>
        </figcaption>
      </figure>
    </div>
    <div class='case-wrapper'>
      <figure>
        <figcaption>
          <img alt='Alcomath' src='images/cases/alcomath/alcomath_logo.png'>
          <h3 class='uppercase'>Alcomath</h3>
          <p>Cоциальная сеть отчаянных любителей сумасбродных вечеринок и отвязных тусовок, завсегдатаев злачных заведений города и прочих потребителей алкоголя. Проект основан на механике алко-трекера с добавлением социального функционала. Мобильное приложение позволяет хранить историю своих вечеринок, отмечая разновидность и количество выпитого спиртного, делиться впечатлениями с друзьями, и искать единомышленников.</p>
          <a class='button button-next' href='/cases/alcomath.html'>
            <small></small>
          </a>
        </figcaption>
        <div class='video-wrapper'>
          <video autoplay='autoplay' class='alcomath video-bg' loop='loop' muted='muted'>
            <source src='/videos/alcomath.mp4'>
          </video>
          <canvas class='alcomath-canvas'></canvas>
          <script>
            var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
            if (isIOS) {
            var canvasVideo = new CanvasVideoPlayer({
            videoSelector: '.alcomath',
            canvasSelector: '.alcomath-canvas',
            timelineSelector: false,
            autoplay: true,
            makeLoop: true,
            pauseOnClick: false,
            audio: false
            });
            } else {
            <!-- / Use HTML5 video -->
            document.querySelectorAll('.alcomath-canvas')[0].style.display = 'none';
            }
          </script>
        </div>
      </figure>
    </div>
  </div>
</section>
