<section class='block' id='our-team'>
  <header>
    <span>Наша команда</span>
    <h2>Мы успешно сочетаем опыт и талант наших специалистов с идеальной командной работой, у нас один плюс один всегда больше двух.</h2>
  </header>
  <div class='team-wrapper'>
    <figure>
      <img src='images/about/team/ilya-nemov.jpg'>
      <figcaption>
        <h4>Илья Немов</h4>
        <p>Директор по производству</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/kirill-tsyganyk.jpg'>
      <figcaption>
        <h4>Кирилл Цыганюк</h4>
        <p>Арт-директор</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/andrew-gubanov.jpg'>
      <figcaption>
        <h4>Андрей Губанов</h4>
        <p>Дизайнер</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/alexander-sylantiev.jpg'>
      <figcaption>
        <h4>Александр Силантьев</h4>
        <p>Видеограф</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/igor-romanov.jpg'>
      <figcaption>
        <h4>Игорь Романов</h4>
        <p>Технический директор</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/saroar-khandoker.jpg'>
      <figcaption>
        <h4>Сароар Кхандокер</h4>
        <p>Backend разработчик</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/daria-ruymantseva.jpg'>
      <figcaption>
        <h4>Дарья Румянцева</h4>
        <p>Директор по развитию</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/vladimir-erishiv.jpg'>
      <figcaption>
        <h4>Владимир Ерышев</h4>
        <p>iOS разработчик</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/ilya-burakov.jpg'>
      <figcaption>
        <h4>Илья Бураков</h4>
        <p>Креативный директор</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/denis-kabanov.jpg'>
      <figcaption>
        <h4>Денис Кабанов</h4>
        <p>Аккаунт-директор</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/philip-ditrih.jpg'>
      <figcaption>
        <h4>Филипп Дитрих</h4>
        <p>Генеральный директор</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/dmitrii-starchevskii.jpg'>
      <figcaption>
        <h4>Дмитрий Старчевский</h4>
        <p>Android разработчик</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/maxim-borysyuk.jpg'>
      <figcaption>
        <h4>Максим Борисюк</h4>
        <p>Интернет-маркетолог</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/no-photo.jpg'>
      <figcaption>
        <h4>Илья Погребенко</h4>
        <p>Android разработчик</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/no-photo.jpg'>
      <figcaption>
        <h4>Михаил Яковлев</h4>
        <p>Fullstack разработчик</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/no-photo.jpg'>
      <figcaption>
        <h4>Екатерина Тарасова</h4>
        <p>Финансовый директор</p>
      </figcaption>
    </figure>
  </div>
</section>
