<header class='page-header' id='header'>
  <a href='/index.html'>
    <img alt='OZ INTERACTIVE' id='logo' src='/images/logo.svg'>
  </a>
  <img alt='Меню' id='icon-menu-cross' src='/images/cross.svg'>
  <nav>
    <div class='links-wrapper'>
      <a href='/'>Главная</a>
      <a href='/about.html'>О компании</a>
      <a href='/services.html'>Услуги</a>
      <a href='/cases.html'>Кейсы</a>
      <a href='/wip.html'>Блог</a>
      <a href='/contacts.html'>Контакты</a>
    </div>
  </nav>
  <img alt='Меню' id='icon-menu' src='/images/menu.svg'>
  </img>
</header>
