<section class='form_bg' id='popup_contact'>
  <div class='popup_cross'>
    <img alt='Закрыть' src='images/cross.svg'>
  </div>
  <form class='form'>
    <fieldset class='form'>
      <legend class='form'>Контактные данные</legend>
      <!-- <input type="text" name="theme"> Было бы неплохо сделать дропдаун с темами -->
      <input class='form' name='email' placeholder='*Email' required='' type='email'>
      <input class='form' name='name' placeholder='Имя' required='' type='text'>
      <input class='form' name='company' placeholder='Компания' type='text'>
    </fieldset>
    <fieldset class='form'>
      <legend class='form'>Тема письма</legend>
      <textarea class='form' name='description' placeholder='*Краткое описание задачи' required=''></textarea>
    </fieldset>
    <fieldset class='form'>
      <legend class='form'>Прикрепить файл</legend>
      <label class='uploadbutton form'>
        <div class='button upload_file form' id='upload_btn'>
          <input id='upload_file' name='file' type='file'>
          <span id='name_file'>Файл не выбран</span>
        </div>
      </label>
    </fieldset>
    <button class='button form' name='sumbit'>
      <small></small>
    </button>
  </form>
</section>
