<section id='preloader'>
  <div class='oz_wrapper'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <br>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <br>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <br>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <br>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
  </div>
</section>
