#our-cases {
  padding: 0;
  min-height: 100%; }
  #our-cases header {
    padding: 128rem;
    border-top: 1px solid rgba(255, 255, 255, 0.075); }
    @media screen and (max-width: 768px) {
      #our-cases header {
        padding: 80rem; } }

.cases-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }
  .cases-wrapper:active {
    cursor: -webkit-grab; }
  .cases-wrapper .case-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 88vh;
    outline: 0px solid transparent;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black; }
    .cases-wrapper .case-wrapper:focus {
      outline: 0px solid transparent; }
    .cases-wrapper .case-wrapper figure {
      display: flex;
      position: relative;
      padding: 128rem;
      width: 100%;
      height: 100%;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      user-select: auto; }
      @media screen and (max-width: 768px) {
        .cases-wrapper .case-wrapper figure {
          padding: 80rem; } }
      .cases-wrapper .case-wrapper figure figcaption {
        position: relative;
        max-width: 560rem;
        left: 160rem;
        transition: all 750ms cubic-bezier(0, 0.55, 0.5, 1);
        z-index: 150; }
        .cases-wrapper .case-wrapper figure figcaption img {
          height: 80rem;
          margin-bottom: 40rem; }
        .cases-wrapper .case-wrapper figure figcaption h3 {
          margin-bottom: 16rem; }
        .cases-wrapper .case-wrapper figure figcaption p:last-of-type {
          margin-bottom: 48rem; }
    .cases-wrapper .case-wrapper figcaption:active {
      cursor: auto; }
  .cases-wrapper .slick-current figure figcaption {
    left: 0rem; }
