@charset "UTF-8";
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=5cb5d4ef-cf86-4cec-abac-63e0578c876d");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Avenir Next W00_n3";
  src: url("../fonts/5db267f9-3612-485c-ae18-5698d2692816.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Avenir Next W00";
  src: url("../fonts/5db267f9-3612-485c-ae18-5698d2692816.eot?#iefix");
  src: url("../fonts/5db267f9-3612-485c-ae18-5698d2692816.eot?#iefix") format("eot"), url("../fonts/174d458a-81e0-4174-9473-35e3bf0a613c.woff2") format("woff2"), url("../fonts/57a79aa3-9b06-4ba7-a9a4-2b766d826ecf.woff") format("woff"), url("../fonts/733cb7bd-50e1-4dee-893a-0b40ef382b02.ttf") format("truetype"), url("../fonts/594135c6-6c4f-4880-a0d2-ba923b5ef38e.svg#594135c6-6c4f-4880-a0d2-ba923b5ef38e") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Avenir Next W00_i3";
  src: url("../fonts/9e4f77ac-2ea3-4f4e-b592-290f5c4af932.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Avenir Next W00";
  src: url("../fonts/9e4f77ac-2ea3-4f4e-b592-290f5c4af932.eot?#iefix");
  src: url("../fonts/9e4f77ac-2ea3-4f4e-b592-290f5c4af932.eot?#iefix") format("eot"), url("../fonts/69a545eb-cdd0-4c00-9035-0029d8cede28.woff2") format("woff2"), url("../fonts/642cb581-067a-4f15-9df9-55c49c6b5446.woff") format("woff"), url("../fonts/972d8132-0f21-4d94-b42d-8f4022e6aa17.ttf") format("truetype"), url("../fonts/670d40f3-affd-4e16-8ad8-055f11470e24.svg#670d40f3-affd-4e16-8ad8-055f11470e24") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Avenir Next W00_n4";
  src: url("../fonts/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Avenir Next W00";
  src: url("../fonts/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix");
  src: url("../fonts/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix") format("eot"), url("../fonts/7db1f672-3a8f-4d19-9c49-7f61aed450b5.woff2") format("woff2"), url("../fonts/4ab86b35-c0c2-42b5-98ad-4b6eba66b197.woff") format("woff"), url("../fonts/276b3566-1c3b-4bc1-8915-15314f091f29.ttf") format("truetype"), url("../fonts/5d02f5f4-46e7-453a-aef9-3e7106d7bb68.svg#5d02f5f4-46e7-453a-aef9-3e7106d7bb68") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Avenir Next W00_i4";
  src: url("../fonts/78f55966-cc8e-4f4c-bf8b-8fe59be9fe96.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Avenir Next W00";
  src: url("../fonts/78f55966-cc8e-4f4c-bf8b-8fe59be9fe96.eot?#iefix");
  src: url("../fonts/78f55966-cc8e-4f4c-bf8b-8fe59be9fe96.eot?#iefix") format("eot"), url("../fonts/b17468ea-cf53-4635-984b-4d930a68ed4d.woff2") format("woff2"), url("../fonts/4d1d0d0d-9ea6-4117-901f-8b32ca1ab936.woff") format("woff"), url("../fonts/66b50093-e606-427c-a42a-a44b2f9ff219.ttf") format("truetype"), url("../fonts/78695677-7ebb-4ef8-8996-eff09dc64f26.svg#78695677-7ebb-4ef8-8996-eff09dc64f26") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Avenir Next W00_n5";
  src: url("../fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Avenir Next W00";
  src: url("../fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix");
  src: url("../fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix") format("eot"), url("../fonts/b0b84e4d-2164-45c7-a674-1662f19f3ba6.woff2") format("woff2"), url("../fonts/e91d1bbf-3fea-45e2-b003-a22b12ce6e5f.woff") format("woff"), url("../fonts/ead8b64b-1abd-4d5b-a642-a21dfe2f463b.ttf") format("truetype"), url("../fonts/e536e1c2-92a4-4db4-8a41-1c55354d11b7.svg#e536e1c2-92a4-4db4-8a41-1c55354d11b7") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Avenir Next W00_i5";
  src: url("../fonts/1f022c78-180e-4c6b-b5ee-e1573f17e4b6.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Avenir Next W00";
  src: url("../fonts/1f022c78-180e-4c6b-b5ee-e1573f17e4b6.eot?#iefix");
  src: url("../fonts/1f022c78-180e-4c6b-b5ee-e1573f17e4b6.eot?#iefix") format("eot"), url("../fonts/349e5647-5161-46bb-a19f-8a609ae235e4.woff2") format("woff2"), url("../fonts/cc0a88c2-524b-4c90-b6f0-a80570222c30.woff") format("woff"), url("../fonts/03aefdc0-0198-4662-a9c7-640a4734063e.ttf") format("truetype"), url("../fonts/132a539d-37fa-48fb-92ec-1f4591f98ee1.svg#132a539d-37fa-48fb-92ec-1f4591f98ee1") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Avenir Next W00_n6";
  src: url("../fonts/fbf4298d-ef75-419c-b615-47f209a48ed2.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Avenir Next W00";
  src: url("../fonts/fbf4298d-ef75-419c-b615-47f209a48ed2.eot?#iefix");
  src: url("../fonts/fbf4298d-ef75-419c-b615-47f209a48ed2.eot?#iefix") format("eot"), url("../fonts/40d36b4a-60c6-460a-bf43-4c948c23563e.woff2") format("woff2"), url("../fonts/45b78f45-e639-4836-8612-e0892e120f14.woff") format("woff"), url("../fonts/cbc021cc-b96f-4c82-ba0d-59cb0b7449c0.ttf") format("truetype"), url("../fonts/c6778bcf-ca82-4a86-8a5f-08b70c9a71fd.svg#c6778bcf-ca82-4a86-8a5f-08b70c9a71fd") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Avenir Next W00_i6";
  src: url("../fonts/6fe465ee-8bf8-4fb1-b3c9-be94e71375e6.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Avenir Next W00";
  src: url("../fonts/6fe465ee-8bf8-4fb1-b3c9-be94e71375e6.eot?#iefix");
  src: url("../fonts/6fe465ee-8bf8-4fb1-b3c9-be94e71375e6.eot?#iefix") format("eot"), url("../fonts/553b4ee3-b700-43b9-946e-f48d29a14959.woff2") format("woff2"), url("../fonts/0ee6969c-805b-4b51-8340-7e7bcecec99e.woff") format("woff"), url("../fonts/4f41e5bd-7b7e-4e8a-bdde-0688fcdec93f.ttf") format("truetype"), url("../fonts/ab92199b-7296-43db-8910-aebba5069daa.svg#ab92199b-7296-43db-8910-aebba5069daa") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Avenir Next W00_n7";
  src: url("../fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Avenir Next W00";
  src: url("../fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix");
  src: url("../fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix") format("eot"), url("../fonts/4c04fb14-abdb-4f93-82bb-734d1b84307b.woff2") format("woff2"), url("../fonts/04d2f223-2786-40c9-8481-be9dd47d8e7f.woff") format("woff"), url("../fonts/bce3274e-f498-48ae-b269-a6930df496e7.ttf") format("truetype"), url("../fonts/68f0375d-f66f-4f88-822a-5a0b61d2efc0.svg#68f0375d-f66f-4f88-822a-5a0b61d2efc0") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Avenir Next W00_i7";
  src: url("../fonts/8316f326-afe6-49dc-a5d8-cd1d521182c2.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Avenir Next W00";
  src: url("../fonts/8316f326-afe6-49dc-a5d8-cd1d521182c2.eot?#iefix");
  src: url("../fonts/8316f326-afe6-49dc-a5d8-cd1d521182c2.eot?#iefix") format("eot"), url("../fonts/395aeb70-3407-45d6-91b3-3d9a114af9bd.woff2") format("woff2"), url("../fonts/5f0686cb-9605-4656-8b38-9b8ca092ca9b.woff") format("woff"), url("../fonts/5fafc2a7-1ec9-4ba2-8d0b-836dfae0023b.ttf") format("truetype"), url("../fonts/f2ab6bd3-14da-4c86-949e-eddf030a8147.svg#f2ab6bd3-14da-4c86-949e-eddf030a8147") format("svg");
  font-weight: 700;
  font-style: italic; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }
  *::selection {
    background: rgba(255, 255, 255, 0.16); }

html {
  overflow-y: auto; }

body {
  overflow-y: auto; }

html, body {
  display: block;
  position: static;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  font-size: 0.75px;
  line-height: 0.75px;
  font-family: "Avenir Next W00", sans-serif;
  color: white;
  background: black; }
  @media screen and (max-width: 768px) {
    html, body {
      font-size: 0.55px; } }

.block {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 128rem;
  overflow: hidden;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .block {
      padding: 80rem; } }
  .block header span {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18rem;
    font-weight: 600;
    line-height: 28rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00ff8b;
    margin-bottom: 32rem; }

.block-hero header {
  padding: 64rem 0; }

.block-hero footer {
  position: relative;
  z-index: 150; }

.page-case .block {
  padding: 64rem 128rem; }
  @media screen and (max-width: 768px) {
    .page-case .block {
      padding: 80rem; } }

.gradient-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(top, transparent 30%, black 100%);
  pointer-events: none;
  overflow: hidden;
  z-index: 110; }

a[href] {
  cursor: pointer; }

input[type='submit'], input[type='image'] {
  cursor: pointer; }

label[for], select, button, .pointer, a:active {
  cursor: pointer; }

.uppercase {
  text-transform: uppercase;
  letter-spacing: 4rem; }

h1 {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 48rem;
  font-weight: 400;
  line-height: 64rem;
  text-transform: uppercase;
  letter-spacing: 4px; }

h2 {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 28rem;
  font-weight: 500;
  line-height: 44rem; }

h3 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 28rem;
  font-weight: 500;
  line-height: 48rem; }

h4 {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20rem;
  font-weight: 600;
  line-height: 28rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 12rem; }

h5 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16rem;
  font-weight: 500;
  line-height: 24rem;
  text-transform: uppercase;
  letter-spacing: 2px; }

p {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18rem;
  font-weight: 500;
  line-height: 28rem;
  opacity: 0.5; }

b {
  font-weight: 500; }

a {
  display: block;
  position: relative;
  font-size: 14rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2rem;
  text-decoration: none;
  color: #00ff8b;
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1); }
  a:hover {
    color: rgba(0, 255, 139, 0.5);
    cursor: pointer; }

a.download-pdf {
  font-size: 18rem; }
  a.download-pdf:hover {
    cursor: pointer; }
    a.download-pdf:hover:before {
      opacity: 0.5;
      cursor: pointer; }
  a.download-pdf:before {
    content: '';
    display: inline-block;
    position: relative;
    width: 28rem;
    height: 28rem;
    margin-bottom: -10rem;
    margin-right: 12rem;
    background-image: url(../images/download-pdf.svg);
    background-size: 100% 100%;
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1); }

.button {
  display: inline-block;
  position: relative;
  width: 256rem;
  height: 64rem;
  overflow: hidden;
  font-size: 14rem;
  text-align: center;
  color: white;
  background: none;
  border: 2rem solid rgba(255, 255, 255, 0.25);
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer; }
  .button small {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/mail.svg) center center no-repeat;
    background-size: 36% 36%;
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1); }
  .button:before {
    content: 'Написать нам';
    display: block;
    position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16rem;
    font-weight: 500;
    line-height: 56rem;
    color: white;
    background-color: #00ff8b;
    border: 0;
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1); }
  .button:hover {
    border: 2rem solid #00ff8b; }
    .button:hover:before {
      top: 0; }
    .button:hover small {
      top: -100%; }
  .button:active {
    border: 1rem solid black; }
    .button:active:before {
      top: 0;
      background-size: 40% 40%;
      background-color: black; }
    .button:active small {
      top: -100%; }
  .button:focus {
    -webkit-appearance: none;
    outline: none; }

.button-next small {
  background: url(../images/next.svg) center center no-repeat;
  background-size: 28% 28%; }

.button-next:before {
  content: 'Перейти'; }

#landing-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 66%; }
  #landing-block header {
    max-width: 720rem;
    margin: 120rem 0;
    z-index: 150; }
    @media screen and (max-width: 768px) {
      #landing-block header {
        margin: 256rem 0; } }
    #landing-block header h1 {
      margin-bottom: 48rem; }
      @media screen and (max-width: 768px) {
        #landing-block header h1 {
          line-height: 1.6; } }
  #landing-block footer {
    position: relative;
    z-index: 200; }

#about-us {
  border-top: 1px solid rgba(255, 255, 255, 0.075);
  border-bottom: 1px solid rgba(255, 255, 255, 0.075); }
  #about-us header h2 {
    margin-bottom: 32rem; }

#our-services header {
  margin-bottom: 48rem; }
  @media screen and (max-width: 960px) {
    #our-services header {
      margin-bottom: 80rem; } }

#our-services div {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }
  #our-services div section {
    width: 23%; }
    @media screen and (max-width: 960px) {
      #our-services div section {
        width: 48%;
        margin-bottom: 64rem; } }
    #our-services div section:last-of-type {
      margin-bottom: 0; }
    @media screen and (max-width: 640px) {
      #our-services div section {
        width: 100%; } }
    #our-services div section h4 {
      margin-bottom: 16rem; }
    #our-services div section p {
      margin-bottom: 32rem; }

#our-clients header {
  margin-bottom: 64rem; }

#our-clients .logos-wrapper {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(255, 255, 255, 0.1); }
  #our-clients .logos-wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 80rem 48rem 80rem 48rem;
    text-align: center;
    opacity: 0.66;
    border: 0; }
    @media screen and (max-width: 768px) {
      #our-clients .logos-wrapper div {
        width: 50%; } }
    @media screen and (max-width: 768px) {
      #our-clients .logos-wrapper div {
        padding: 64rem 24rem 64rem 24rem; } }
    #our-clients .logos-wrapper div img {
      height: 64rem; }
      @media screen and (max-width: 768px) {
        #our-clients .logos-wrapper div img {
          height: 48rem; } }
      #our-clients .logos-wrapper div img.onetwotrip {
        height: 72rem; }

#lets-work-together {
  border-top: 1px solid rgba(255, 255, 255, 0.075); }
  #lets-work-together header {
    z-index: 150; }
    #lets-work-together header h2 {
      max-width: 560px;
      margin-bottom: 32rem; }
    #lets-work-together header button {
      display: block;
      color: white;
      margin-bottom: 48rem; }
  #lets-work-together .contacts-wrapper {
    position: relative;
    z-index: 150; }
    #lets-work-together .contacts-wrapper h4 {
      margin-bottom: 24rem; }
    #lets-work-together .contacts-wrapper .contacts {
      display: inline-block;
      margin-right: 48rem; }
      @media screen and (max-width: 768px) {
        #lets-work-together .contacts-wrapper .contacts {
          display: block;
          margin-bottom: 24rem; } }
      #lets-work-together .contacts-wrapper .contacts p {
        display: block; }
      #lets-work-together .contacts-wrapper .contacts p:last-of-type {
        color: #00ff8b;
        opacity: 1; }

#services-hero header {
  position: relative;
  z-index: 150; }

#services-hero footer {
  color: #00ff88; }

#our-philosophy {
  border-top: 1px solid rgba(255, 255, 255, 0.15); }
  #our-philosophy header {
    position: relative;
    margin-bottom: 80rem;
    z-index: 150; }
  #our-philosophy .history-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    @media screen and (max-width: 640px) {
      #our-philosophy .history-wrapper {
        flex-wrap: wrap; } }
    #our-philosophy .history-wrapper figure {
      width: 30%; }
      @media screen and (max-width: 640px) {
        #our-philosophy .history-wrapper figure {
          width: 100%;
          margin-bottom: 48rem; } }
      #our-philosophy .history-wrapper figure img {
        height: 64rem;
        margin-bottom: 32rem; }

#our-values header {
  margin-bottom: 80rem;
  position: relative;
  z-index: 150; }

#our-values .rules-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 150; }
  #our-values .rules-wrapper .rule {
    position: relative;
    width: 30%; }
    @media screen and (max-width: 640px) {
      #our-values .rules-wrapper .rule {
        width: 100%; } }
    #our-values .rules-wrapper .rule span {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      top: -4rem;
      left: -56rem;
      width: 36rem;
      height: 36rem;
      border: 2px solid rgba(0, 255, 136, 0.33);
      border-radius: 100%;
      font-size: 18rem;
      font-weight: 600;
      line-height: 36rem;
      color: #00ff88; }
    #our-values .rules-wrapper .rule h4 {
      display: inline-block;
      margin-bottom: 16rem;
      color: #00ff88; }
    #our-values .rules-wrapper .rule p {
      margin-bottom: 32rem; }

#our-team header {
  max-width: 1080rem;
  margin-bottom: 48rem; }

#our-team .team-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto; }
  #our-team .team-wrapper figure {
    position: relative;
    width: 23%;
    margin-bottom: 48rem;
    height: auto; }
    @media screen and (max-width: 640px) {
      #our-team .team-wrapper figure {
        width: 48%;
        margin-bottom: 64rem; } }
    #our-team .team-wrapper figure img {
      width: 100%;
      height: auto;
      border: 1px solid #0f0f0f;
      margin-bottom: 32rem; }

#vacancies header {
  max-width: 720rem;
  margin-bottom: 32rem;
  position: relative;
  z-index: 150; }
  @media screen and (max-width: 640px) {
    #vacancies header {
      max-width: 90%; } }
  #vacancies header h2 {
    margin-bottom: 16rem; }

#vacancies .vacancies-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 32rem;
  z-index: 150; }
  #vacancies .vacancies-wrapper .column {
    margin-right: 32rem; }
    #vacancies .vacancies-wrapper .column a {
      display: block;
      line-height: 2.5; }

#vacancies p {
  position: relative;
  max-width: 640rem;
  z-index: 150; }

#our-vision {
  border-top: 1px solid rgba(255, 255, 255, 0.075); }
  #our-vision header {
    max-width: 960rem;
    margin-bottom: 48rem; }
  #our-vision .main-services-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      #our-vision .main-services-wrapper {
        flex-wrap: wrap; } }
    #our-vision .main-services-wrapper .main-service {
      display: inline-flex;
      position: relative;
      align-items: center; }
      @media screen and (max-width: 767px) {
        #our-vision .main-services-wrapper .main-service {
          width: 100%;
          margin-bottom: 48rem; } }
      #our-vision .main-services-wrapper .main-service .main-service-icon {
        display: inline-block;
        position: relative;
        height: 48rem;
        margin-right: 32rem; }
      #our-vision .main-services-wrapper .main-service figcaption {
        display: inline-block;
        position: relative; }
        #our-vision .main-services-wrapper .main-service figcaption h4 {
          margin-bottom: 0; }

#services-list {
  border-top: 1px solid rgba(255, 255, 255, 0.075); }
  #services-list header {
    max-width: 1080rem;
    margin-bottom: 64rem; }
  #services-list .services-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      #services-list .services-wrapper {
        flex-wrap: wrap; } }
    #services-list .services-wrapper .service {
      display: inline-block;
      position: relative; }
      @media screen and (max-width: 768px) {
        #services-list .services-wrapper .service {
          margin-bottom: 48rem; } }
      #services-list .services-wrapper .service h4 {
        margin-bottom: 8rem; }
      #services-list .services-wrapper .service a {
        display: block;
        line-height: 3; }
      #services-list .services-wrapper .service a:before {
        content: '';
        display: block;
        width: 8rem;
        height: 1px;
        left: -20rem;
        top: 20rem;
        background: #00ff8b;
        position: relative; }

#competetions header {
  margin-bottom: 80rem; }

#competetions .competences-wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto; }
  @media screen and (max-width: 768px) {
    #competetions .competences-wrapper {
      flex-wrap: wrap; } }
  #competetions .competences-wrapper .competence {
    position: relative;
    width: 30%;
    height: auto;
    margin-bottom: 48rem; }
    @media screen and (max-width: 768px) {
      #competetions .competences-wrapper .competence {
        width: 50%;
        margin-bottom: 48rem; } }
    @media screen and (max-width: 640px) {
      #competetions .competences-wrapper .competence {
        width: 100%;
        margin-bottom: 48rem; } }

#our-process header {
  position: relative;
  z-index: 150;
  max-width: 1080rem;
  margin-bottom: 64rem; }

#our-process .process-wrapper {
  display: block;
  position: relative;
  z-index: 150;
  justify-content: space-between;
  flex-wrap: wrap;
  left: -16rem;
  width: calc(100% + 32rem);
  height: auto; }
  #our-process .process-wrapper .process-stage {
    display: inline-block;
    position: relative;
    width: 10%;
    margin: 16rem;
    padding: 24rem 0;
    color: #00ff8b;
    text-align: center;
    font-size: 16rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2rem;
    line-height: 1;
    border: 1px solid rgba(0, 255, 139, 0.25);
    transition: all 400ms cubic-bezier(0, 0.55, 0.5, 1); }
    @media screen and (max-width: 767px) {
      #our-process .process-wrapper .process-stage {
        width: 25%; } }
    #our-process .process-wrapper .process-stage:hover {
      cursor: pointer;
      color: white;
      background: #00ff8b; }
    #our-process .process-wrapper .process-stage:active {
      transform: scale(0.9, 0.9); }

.alm-design-concept img {
  width: 100%;
  min-width: 720rem; }
  @media screen and (max-width: 768px) {
    .alm-design-concept img {
      max-width: 50%;
      height: auto;
      max-height: 60%; } }
  @media screen and (min-width: 1400px) {
    .alm-design-concept img {
      max-width: 720rem;
      height: auto;
      max-height: 60%; } }

@media screen and (max-width: 768px) {
  .last-achiviements {
    display: none !important; } }

section.block p {
  font-size: 20rem;
  line-height: 28rem; }
  @media screen and (max-width: 768px) {
    section.block p {
      margin-bottom: 0rem; } }

section.block h5 {
  margin-bottom: 20rem; }
  @media screen and (max-width: 768px) {
    section.block h5 {
      margin-bottom: 12rem;
      margin-top: 20rem; } }

section.block.case-block.text .screen-wrapper {
  margin-bottom: 36rem; }

section.block.case-block.text header .image-wrapper {
  margin-top: 36rem;
  width: 100%; }
  @media screen and (max-width: 768px) {
    section.block.case-block.text header .image-wrapper {
      width: 100%; } }

section.block.case-block.text header p {
  margin-bottom: 20rem; }

section.block.case-block.text header ul {
  display: block;
  margin-bottom: 48rem; }
  section.block.case-block.text header ul li {
    padding-left: 20rem; }
    section.block.case-block.text header ul li p {
      margin-bottom: 6rem; }
  section.block.case-block.text header ul.red-marker li {
    background: url("/images/cases/alcomath/marker1.png") 0 12rem no-repeat; }

#case-hero {
  padding: 0; }

.block-first {
  min-height: 66vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black; }

.case-block header {
  max-width: 960rem; }

.images-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  perspective: 640px; }
  .images-wrapper .image {
    position: relative;
    width: 10.1%;
    border-radius: 4rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    margin-bottom: 16rem;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }
    @media screen and (max-width: 768px) {
      .images-wrapper .image {
        width: 16%; } }
    .images-wrapper .image:hover {
      transform: rotate3d(1, 0, 0, 10deg); }
    .images-wrapper .image img {
      width: 100%; }

.wrapper-problemes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  text-align: left; }
  .wrapper-problemes h4 {
    width: 32%;
    padding: 48rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 32rem; }
    @media screen and (max-width: 768px) {
      .wrapper-problemes h4 {
        width: 100%; } }
    .wrapper-problemes h4 span {
      display: block;
      color: #009cff;
      margin-bottom: 8rem; }

.case-block-image-right {
  display: flex; }
  .case-block-image-right header {
    width: 38%; }
    .case-block-image-right header p {
      margin-bottom: 16rem; }
  .case-block-image-right .image-right-wrapper {
    display: block;
    margin-left: 120rem;
    width: 50%; }
    .case-block-image-right .image-right-wrapper img {
      width: 100%; }

.use-flow {
  display: block;
  position: relative;
  width: 100%; }
  .use-flow .use-flow-bg {
    width: 100%; }
    .use-flow .use-flow-bg video {
      width: 100%; }

.achievments-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  perspective: 640px; }
  .achievments-wrapper .image {
    position: relative;
    width: 15%;
    padding: 48rem;
    overflow: hidden;
    margin-bottom: 32rem; }
    @media screen and (max-width: 768px) {
      .achievments-wrapper .image {
        display: inline-block;
        width: 25%; } }
    .achievments-wrapper .image:hover img {
      cursor: pointer;
      transform: scale(1.2, 1.2); }
    .achievments-wrapper .image img {
      width: 100%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }
      @media screen and (max-width: 768px) {
        .achievments-wrapper .image img {
          display: inline-block;
          width: 200%; } }

.avatars-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .avatars-wrapper {
      width: 100%;
      margin-top: 20rem; } }
  .avatars-wrapper .avatar {
    display: block;
    position: relative;
    width: 20%; }
    @media screen and (max-width: 768px) {
      .avatars-wrapper .avatar {
        width: 25%; } }
    .avatars-wrapper .avatar img {
      width: 80%; }

.all-screens-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40rem; }
  @media screen and (max-width: 768px) {
    .all-screens-wrapper {
      display: flex; } }
  .all-screens-wrapper .screen-preview {
    width: 13.5%; }
    @media screen and (max-width: 768px) {
      .all-screens-wrapper .screen-preview:last-of-type {
        display: none; } }
    @media screen and (max-width: 768px) {
      .all-screens-wrapper .screen-preview {
        width: 25%; } }
    .all-screens-wrapper .screen-preview img {
      width: 95%;
      margin-bottom: 32rem; }

#about-case {
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
  overflow: hidden; }
  #about-case header {
    max-width: 720rem;
    margin: 120rem 0;
    z-index: 160; }
    @media screen and (max-width: 768px) {
      #about-case header {
        margin: 256rem 0; } }
    #about-case header h1 {
      margin-bottom: 16rem;
      z-index: 160; }
    #about-case header img {
      display: block;
      position: relative;
      height: 80rem;
      margin-bottom: 32rem;
      z-index: 160; }
    #about-case header div {
      margin-bottom: 16rem; }
    #about-case header .info-wrapper {
      margin-bottom: 16rem;
      z-index: 160; }
      #about-case header .info-wrapper p {
        display: block; }
    #about-case header p {
      max-width: 960rem;
      z-index: 160; }
    #about-case header .social-buttons {
      margin-top: 32rem; }
      #about-case header .social-buttons .social-button {
        display: inline-block;
        width: auto;
        margin-right: 16rem;
        z-index: 160; }

.case-block header {
  margin-bottom: 48rem; }
  @media screen and (max-width: 768px) {
    .case-block header {
      max-width: 100%; } }

@media screen and (max-width: 768px) {
  .case-block p {
    display: block; } }

@media screen and (max-width: 768px) {
  .case-block {
    display: flex;
    flex-direction: column; } }

.screen-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 64rem; }
  @media screen and (max-width: 768px) {
    .screen-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 768px) {
    .screen-wrapper {
      margin-top: 48rem; } }
  @media screen and (max-width: 768px) {
    .screen-wrapper figure {
      margin-bottom: 40rem;
      text-align: center;
      padding: 20rem; } }
  .screen-wrapper .iphone-wrapper {
    position: relative;
    width: 208px;
    height: 424px;
    margin-right: 16rem;
    margin-bottom: 32rem;
    background-image: url(../images/cases/iphone-white-mockup.png);
    background-size: 100% 100%; }
    @media screen and (max-width: 768px) {
      .screen-wrapper .iphone-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .screen-wrapper .iphone-wrapper img {
      position: absolute;
      left: 14px;
      top: 52px;
      width: 180px;
      height: 320px; }

.image-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 64rem; }
  .image-wrapper img {
    display: block;
    position: relative;
    width: 100%;
    height: auto; }
    @media screen and (max-width: 768px) {
      .image-wrapper img {
        width: 100%; } }

.page-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between; }
  .page-wrapper img {
    display: block;
    width: 90%;
    height: auto;
    margin-bottom: 32rem; }

@media screen and (max-width: 768px) {
  .achievment-all-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; } }

.achievment-all-wrapper .achievment-wrapper {
  width: 20%; }
  .achievment-all-wrapper .achievment-wrapper img {
    width: 250rem;
    margin-bottom: 24rem; }

.achievment-all-wrapper figure figcaption {
  display: block;
  text-align: center; }

.image-grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  .image-grid-wrapper .image-big {
    display: block;
    width: 65%;
    height: 100%; }
  .image-grid-wrapper img {
    display: inline-block;
    position: relative;
    width: 30%;
    height: 100%;
    margin-bottom: 5%; }
    @media screen and (max-width: 768px) {
      .image-grid-wrapper img {
        width: 100%;
        margin-bottom: 40rem; } }

.case-block-end {
  display: flex;
  flex-direction: row;
  padding: 0 !important; }
  .case-block-end .case-block-prev, .case-block-end .case-block-next {
    display: block;
    position: relative;
    width: 50%;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.075); }
  .case-block-end .case-block-prev .arrow-wrapper, .case-block-end .case-block-next .arrow-wrapper {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    padding: 128rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 160; }
    .case-block-end .case-block-prev .arrow-wrapper header, .case-block-end .case-block-next .arrow-wrapper header {
      position: relative;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
      z-index: 150; }
      .case-block-end .case-block-prev .arrow-wrapper header h2, .case-block-end .case-block-next .arrow-wrapper header h2 {
        margin-bottom: 8rem; }
    .case-block-end .case-block-prev .arrow-wrapper:hover, .case-block-end .case-block-next .arrow-wrapper:hover {
      cursor: pointer; }
      .case-block-end .case-block-prev .arrow-wrapper:hover img:last-of-type, .case-block-end .case-block-next .arrow-wrapper:hover img:last-of-type {
        opacity: 0.6; }
    .case-block-end .case-block-prev .arrow-wrapper img, .case-block-end .case-block-next .arrow-wrapper img {
      position: relative;
      width: 32rem;
      margin-top: -5rem;
      z-index: 150;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }
    .case-block-end .case-block-prev .arrow-wrapper img:last-of-type, .case-block-end .case-block-next .arrow-wrapper img:last-of-type {
      position: absolute;
      top: 0;
      opacity: 0;
      height: auto;
      width: 100%;
      z-index: 100;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }
  .case-block-end .case-block-prev {
    text-align: left; }
    .case-block-end .case-block-prev .arrow-wrapper:hover header {
      left: 0; }
    .case-block-end .case-block-prev .arrow-wrapper:hover img {
      left: 0;
      opacity: 1;
      margin-right: 40rem; }
    .case-block-end .case-block-prev .arrow-wrapper:hover img:last-of-type {
      left: 0rem; }
    .case-block-end .case-block-prev .arrow-wrapper header {
      left: 16rem; }
    .case-block-end .case-block-prev .arrow-wrapper img {
      left: 16rem;
      margin-right: -20rem;
      opacity: 0; }
    .case-block-end .case-block-prev .arrow-wrapper img:last-of-type {
      left: -80rem; }
  .case-block-end .case-block-next {
    text-align: right; }
    .case-block-end .case-block-next .arrow-wrapper:hover img {
      right: 0;
      opacity: 1;
      margin-left: 40rem; }
    .case-block-end .case-block-next .arrow-wrapper:hover img:last-of-type {
      right: 0rem; }
    .case-block-end .case-block-next .arrow-wrapper img {
      right: 16rem;
      opacity: 0;
      margin-left: -20rem; }
    .case-block-end .case-block-next .arrow-wrapper img:last-of-type {
      right: -80rem; }
  .case-block-end .color-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 100;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }

.case-image-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .case-image-right .section-wrapper {
    width: 60%; }
  .case-image-right .logo-wrapper {
    width: 24%; }
    .case-image-right .logo-wrapper img {
      width: 100%; }
  .case-image-right .fonts-wrapper {
    width: 60%;
    margin-bottom: 128rem; }
    .case-image-right .fonts-wrapper img {
      width: 100%; }
  .case-image-right .symbol-wrapper {
    width: 45%;
    margin-top: 24rem; }
    .case-image-right .symbol-wrapper img {
      width: 100%; }

#cases-grid {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }
  #cases-grid .case-prevew {
    display: block;
    position: relative;
    flex: 1 0 auto;
    width: 50%;
    height: 320px;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      #cases-grid .case-prevew {
        width: 100%;
        height: 320px; } }
    #cases-grid .case-prevew .case-content-wrapper {
      display: flex;
      position: relative;
      padding: 128rem;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 150;
      transform: scale(1.5, 1.5);
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.66);
      transition: all 660ms cubic-bezier(0.19, 1, 0.22, 1); }
      #cases-grid .case-prevew .case-content-wrapper h3 {
        margin-bottom: 24rem; }
      #cases-grid .case-prevew .case-content-wrapper p {
        margin-bottom: 48rem; }
    #cases-grid .case-prevew .case-image-wrapper {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden; }
      #cases-grid .case-prevew .case-image-wrapper .image-bg {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
        background-size: cover;
        overflow: hidden; }
    #cases-grid .case-prevew:hover {
      cursor: pointer; }
      #cases-grid .case-prevew:hover .case-content-wrapper {
        transform: scale(1, 1);
        opacity: 1; }
      #cases-grid .case-prevew:hover .case-image-wrapper .image-bg {
        transform: scale(1.2, 1.2); }

.cases-link {
  color: white; }
  .cases-link:hover {
    color: white; }

#wip-block {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: calc(100vh - 128rem); }
  #wip-block .icon-gear {
    height: 120rem;
    margin-bottom: 48rem; }

#our-location {
  display: block;
  position: relative;
  width: 100%;
  height: 72vh;
  color: black; }
  #our-location .gmnoprint {
    display: none; }
  #our-location h4 {
    margin-bottom: 0;
    line-height: 1.5; }

.case-inner-page .block {
  padding-bottom: 0; }
  .case-inner-page .block header {
    margin-bottom: 40rem; }
    @media screen and (max-width: 768px) {
      .case-inner-page .block header {
        margin-bottom: 40rem; } }

.wrapper-2-elements {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap; }
  .wrapper-2-elements figure {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 48%;
    margin-bottom: 48rem; }
    @media screen and (max-width: 768px) {
      .wrapper-2-elements figure {
        display: flex;
        width: 100%;
        justify-content: center; } }
    .wrapper-2-elements figure img {
      height: 96rem;
      margin-right: 40rem; }
      @media screen and (max-width: 768px) {
        .wrapper-2-elements figure img {
          margin-bottom: 40rem; } }
    .wrapper-2-elements figure figcaption h5 {
      margin-bottom: 8rem; }
    @media screen and (max-width: 768px) {
      .wrapper-2-elements figure figcaption p {
        display: block;
        width: 100%;
        margin-right: 0rem; } }

.wrapper-3-elements {
  display: flex;
  position: relative;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  .wrapper-3-elements figure {
    width: 30%;
    margin-bottom: 60rem; }
    .wrapper-3-elements figure img {
      height: 96rem;
      margin-bottom: 20rem; }
    .wrapper-3-elements figure figcaption h5 {
      display: block;
      margin-bottom: 8rem; }

@media screen and (max-width: 768px) {
  .gallery figure {
    width: 100%; } }

.gallery figure figcaption h5 {
  display: block;
  text-align: left; }

.gallery figure img {
  display: block;
  height: auto;
  width: 100%; }

.wrapper-2-columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .wrapper-2-columns {
      display: inline; } }
  .wrapper-2-columns .wrapper-column {
    width: calc(50% - 48rem); }
    @media screen and (max-width: 768px) {
      .wrapper-2-columns .wrapper-column {
        width: 100%; } }
    .wrapper-2-columns .wrapper-column .wrapper-image {
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
      @media screen and (max-width: 768px) {
        .wrapper-2-columns .wrapper-column .wrapper-image {
          margin-bottom: 40rem; } }
      .wrapper-2-columns .wrapper-column .wrapper-image img {
        width: 75%; }
    .wrapper-2-columns .wrapper-column .wrapper-image-big {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: auto; }
      .wrapper-2-columns .wrapper-column .wrapper-image-big img {
        width: 80%; }

.our-auditory figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
  text-align: center;
  padding: 48rem;
  margin-bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.1); }

.wrapper-uhp-colors {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 48rem; }
  .wrapper-uhp-colors .wrapper-uhp-color {
    display: block;
    position: relative;
    width: calc(100% - 128rem);
    height: auto;
    left: 0;
    margin-bottom: 48rem; }
    .wrapper-uhp-colors .wrapper-uhp-color .wrapper-text {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 16rem; }
      .wrapper-uhp-colors .wrapper-uhp-color .wrapper-text h5 {
        flex: 1 0 auto;
        margin-left: 48rem; }
      .wrapper-uhp-colors .wrapper-uhp-color .wrapper-text p {
        margin-right: 48rem; }
        @media screen and (max-width: 768px) {
          .wrapper-uhp-colors .wrapper-uhp-color .wrapper-text p {
            margin-right: 0; } }
        @media screen and (max-width: 768px) {
          .wrapper-uhp-colors .wrapper-uhp-color .wrapper-text p:last-of-type {
            display: none; } }
  .wrapper-uhp-colors .wrapper-color {
    height: 80rem;
    background: #00ff88; }
  .wrapper-uhp-colors .uhp-gold {
    left: 0; }
    .wrapper-uhp-colors .uhp-gold .wrapper-text h5 {
      margin-left: 128rem; }
      @media screen and (max-width: 768px) {
        .wrapper-uhp-colors .uhp-gold .wrapper-text h5 {
          margin-left: 80rem; } }
    @media screen and (max-width: 768px) {
      .wrapper-uhp-colors .uhp-gold .wrapper-text p {
        margin-right: 10rem; } }
    .wrapper-uhp-colors .uhp-gold .wrapper-color {
      background: #EEA93C; }
  .wrapper-uhp-colors .uhp-navy {
    left: 128rem; }
    .wrapper-uhp-colors .uhp-navy .wrapper-text h5 {
      margin-left: 0; }
    @media screen and (max-width: 768px) {
      .wrapper-uhp-colors .uhp-navy .wrapper-text p {
        margin-right: 10rem; } }
    .wrapper-uhp-colors .uhp-navy .wrapper-color {
      background: #272A33; }
  .wrapper-uhp-colors .uhp-gray {
    left: 0; }
    .wrapper-uhp-colors .uhp-gray .wrapper-text h5 {
      margin-left: 128rem; }
      @media screen and (max-width: 768px) {
        .wrapper-uhp-colors .uhp-gray .wrapper-text h5 {
          margin-left: 80rem; } }
    @media screen and (max-width: 768px) {
      .wrapper-uhp-colors .uhp-gray .wrapper-text p {
        margin-right: 10rem; } }
    .wrapper-uhp-colors .uhp-gray .wrapper-color {
      background: #666E75; }
  .wrapper-uhp-colors .uhp-white {
    left: 128rem; }
    .wrapper-uhp-colors .uhp-white .wrapper-text h5 {
      margin-left: 0; }
    @media screen and (max-width: 768px) {
      .wrapper-uhp-colors .uhp-white .wrapper-text p {
        margin-right: 10rem; } }
    .wrapper-uhp-colors .uhp-white .wrapper-color {
      background: white; }

.wrapper-2-elements .wrapper-2-elements {
  display: flex;
  flex-wrap: wrap;
  width: calc(50% - 24rem); }
  .wrapper-2-elements .wrapper-2-elements:first-of-type:after {
    content: '';
    display: block;
    position: absolute;
    left: calc(100% + 24rem);
    top: 0;
    width: 1rem;
    height: calc(100% - 48rem);
    background: rgba(255, 255, 255, 0.1); }
  .wrapper-2-elements .wrapper-2-elements .wrapper-uhp-color {
    display: block;
    position: relative;
    width: calc(50% - 16rem);
    height: auto;
    margin-bottom: 48rem; }
    .wrapper-2-elements .wrapper-2-elements .wrapper-uhp-color .wrapper-text {
      margin-bottom: 16rem; }
      @media screen and (max-width: 768px) {
        .wrapper-2-elements .wrapper-2-elements .wrapper-uhp-color .wrapper-text {
          margin-bottom: 10rem; } }
    .wrapper-2-elements .wrapper-2-elements .wrapper-uhp-color .wrapper-color {
      height: 80rem; }
  .wrapper-2-elements .wrapper-2-elements .uhp-gold .wrapper-color {
    background: #EEA93C; }
  .wrapper-2-elements .wrapper-2-elements .uhp-navy .wrapper-color {
    background: #272A33; }
  .wrapper-2-elements .wrapper-2-elements .uhp-gray .wrapper-color {
    background: #666E75; }
  .wrapper-2-elements .wrapper-2-elements .uhp-white .wrapper-color {
    background: white; }

.blazons figure img {
  height: 200rem; }
  @media screen and (max-width: 768px) {
    .blazons figure img {
      width: 120rem; } }

.blazons figure figcaption h5 {
  display: block;
  margin-bottom: 8rem; }

.blazons figure figcaption p {
  font-size: 16rem; }

.rules figure {
  width: 30%;
  margin-bottom: 60rem; }
  @media screen and (max-width: 768px) {
    .rules figure {
      display: block;
      width: 100%; } }
  .rules figure img {
    height: 96rem;
    margin-bottom: 40rem; }
  .rules figure figcaption h5 {
    display: block;
    margin-bottom: 8rem; }
  @media screen and (max-width: 768px) {
    .rules figure figcaption p {
      display: block;
      width: 100%;
      margin-right: 0rem; } }

.uhp-logo img {
  width: 25%; }

.uhp-logo-big img {
  width: 100%; }
  @media screen and (max-width: 768px) {
    .uhp-logo-big img {
      max-width: 50%;
      height: auto;
      max-height: 50%; } }
  @media screen and (min-width: 1400px) {
    .uhp-logo-big img {
      max-width: 440rem;
      height: auto;
      max-height: 60%; } }

.uhp-gerb-big img {
  width: 100%; }
  @media screen and (max-width: 768px) {
    .uhp-gerb-big img {
      max-width: 80%;
      height: auto;
      max-height: 60%; } }
  @media screen and (min-width: 1400px) {
    .uhp-gerb-big img {
      max-width: 600rem;
      height: auto;
      max-height: 60%; } }

.uhp-pattern img {
  width: 100%; }

@media screen and (max-width: 768px) {
  .pattern-stage figure {
    display: block;
    width: 100%; } }

.pattern-stage figure img {
  height: 200rem; }
  @media screen and (max-width: 768px) {
    .pattern-stage figure img {
      width: 240rem;
      margin-bottom: 40rem; } }

@media screen and (max-width: 768px) {
  .images-six-interior:last-of-type {
    display: none; } }

.logo-usage figure {
  width: 30%;
  margin-bottom: 60rem; }
  .logo-usage figure img {
    width: 100%;
    height: auto;
    max-height: 200rem;
    margin-bottom: 40rem; }
  .logo-usage figure figcaption h5 {
    display: block;
    margin-bottom: 8rem; }

.logo-prohibited figure {
  width: 30%;
  margin-bottom: 60rem; }
  .logo-prohibited figure img {
    height: 160rem;
    width: auto;
    margin-bottom: 40rem; }
  .logo-prohibited figure figcaption h5 {
    display: block;
    margin-bottom: 8rem; }

.table-red-wrapper table {
  display: inline-block;
  width: auto;
  font-size: 20rem;
  margin-bottom: 48rem; }
  .table-red-wrapper table tr {
    border-bottom: 1px solid rgba(250, 42, 67, 0.2); }
    .table-red-wrapper table tr:last-of-type {
      border-bottom: none; }
    .table-red-wrapper table tr th {
      opacity: 0.5;
      font-weight: 400;
      padding: 26rem 48rem;
      border-right: 1px solid rgba(250, 42, 67, 0.2);
      text-align: center; }
      .table-red-wrapper table tr th:first-of-type {
        text-align: -webkit-left; }
      .table-red-wrapper table tr th:last-of-type {
        border-right: none; }
    .table-red-wrapper table tr td {
      padding: 26rem 48rem;
      border-right: 1px solid rgba(250, 42, 67, 0.2);
      text-align: center; }
      .table-red-wrapper table tr td:first-of-type {
        text-align: -webkit-left;
        color: #fa2a43; }
      .table-red-wrapper table tr td:last-of-type {
        border-right: none; }

.table-big-wrapper {
  display: inline-block;
  font-size: 16rem; }
  @media screen and (max-width: 768px) {
    .table-big-wrapper {
      transform: scale(0.4, 0.4); } }
  .table-big-wrapper table tr.above td {
    border-top: 1px solid rgba(250, 42, 67, 0.2); }
  .table-big-wrapper table tr th {
    padding: 26rem 48rem;
    opacity: 0.5;
    font-weight: 400;
    text-align: -webkit-left;
    border-right: 1px solid rgba(255, 255, 255, 0.2); }
    .table-big-wrapper table tr th.nosize {
      position: absolute; }
    .table-big-wrapper table tr th.noborder {
      border: none; }
    .table-big-wrapper table tr th:last-of-type {
      border-right: none; }
  .table-big-wrapper table tr td {
    white-space: nowrap;
    padding: 26rem 48rem;
    text-align: -webkit-left;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .table-big-wrapper table tr td.red {
      background-color: rgba(250, 42, 67, 0.7); }
    .table-big-wrapper table tr td.red2 {
      background-color: rgba(250, 42, 67, 0.5); }
    .table-big-wrapper table tr td.red3 {
      background-color: rgba(250, 42, 67, 0.25); }
    .table-big-wrapper table tr td:first-of-type {
      border-top: none; }
    .table-big-wrapper table tr td:last-of-type {
      border-right: none; }
    .table-big-wrapper table tr td.above {
      border-top: 1px solid rgba(250, 42, 67, 0.2);
      font-weight: 600; }

.gallery-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48rem;
    margin-bottom-flex-wrap: wrap;
    margin-bottom-width: 50%;
    margin-bottom-height: auto; }
  .gallery-wrapper figure {
    position: relative;
    width: 30%;
    height: auto; }
    .gallery-wrapper figure.big {
      width: 65%; }
    .gallery-wrapper figure img {
      display: inline-block;
      position: relative;
      width: 100%; }
    .gallery-wrapper figure p {
      display: block;
      padding: 10rem 0 20rem 0;
      opacity: 1;
      font-size: 18rem; }
  @media screen and (max-width: 768px) {
    .gallery-wrapper.vertical {
      display: block; } }
  @media screen and (max-width: 768px) {
    .gallery-wrapper.vertical figure {
      width: 100%;
      margin-top: 28rem; } }

.audience-wrapper {
  position: relative;
  display: flex;
  margin-top: 24rem;
  margin-bottom: 48rem;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .audience-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .audience-wrapper .people {
    position: relative;
    display: flex;
    justify-content: space-between; }
    .audience-wrapper .people img {
      height: 160rem;
      margin-right: 40rem; }
  .audience-wrapper .drinks {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 40rem; }
    @media screen and (max-width: 768px) {
      .audience-wrapper .drinks {
        margin-left: 0;
        margin-top: 40rem; } }
    .audience-wrapper .drinks figure {
      position: relative;
      max-height: 120px;
      padding: 8rem;
      margin-right: 16rem; }
      .audience-wrapper .drinks figure img {
        height: 100rem; }
      .audience-wrapper .drinks figure figcaption {
        text-align: center; }

.case-block-image-right.block header {
  width: 100%; }

.case-block-image-right.block .image-right-wrapper.logo {
  float: right; }
  .case-block-image-right.block .image-right-wrapper.logo img {
    width: 50%;
    float: right; }
    @media screen and (max-width: 768px) {
      .case-block-image-right.block .image-right-wrapper.logo img {
        width: 100%;
        align: center; } }

.color-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 120rem; }
  .color-wrapper figure {
    display: inline-block;
    width: 30%;
    height: 300rem; }
    @media screen and (max-width: 768px) {
      .color-wrapper figure {
        width: 100%;
        height: 100rem; } }
    .color-wrapper figure.red {
      background-color: #FD1A45; }
    .color-wrapper figure.white {
      background-color: white; }
    .color-wrapper figure.black {
      background-color: black;
      border: 1px solid #3d3d3d; }
    .color-wrapper figure figcaption {
      position: relative;
      display: block;
      text-align: left;
      top: 110%;
      font-size: 18rem;
      font-weight: 500; }
      .color-wrapper figure figcaption:last-of-type {
        top: 120%;
        opacity: 0.5; }

.typographics-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 120rem; }
  @media screen and (max-width: 768px) {
    .typographics-wrapper {
      width: 100%;
      height: 120rem; } }
  .typographics-wrapper figure {
    display: block;
    width: 30%;
    height: auto;
    padding: 20rem;
    border: 1px solid rgba(255, 255, 255, 0.1); }
    @media screen and (max-width: 768px) {
      .typographics-wrapper figure {
        margin-bottom: 20rem; } }
    .typographics-wrapper figure p {
      text-transform: uppercase;
      font-size: 18rem;
      font-family: Open Sans;
      opacity: 1;
      line-height: 40rem; }
      .typographics-wrapper figure p:first-of-type {
        font-size: 26rem;
        margin-bottom: 12rem; }
      .typographics-wrapper figure p:last-of-type {
        font-family: Avenir Next W00;
        text-transform: none;
        color: white;
        opacity: 0.5;
        margin-top: 20rem; }
    .typographics-wrapper figure.title p {
      font-weight: 600; }
      .typographics-wrapper figure.title p:last-of-type {
        font-weight: 500; }
    .typographics-wrapper figure.text p {
      font-weight: 300; }
      .typographics-wrapper figure.text p:last-of-type {
        font-weight: 500; }
    .typographics-wrapper figure.value p {
      font-weight: 400;
      color: #FD1A45; }
      .typographics-wrapper figure.value p:first-of-type {
        color: white; }
      .typographics-wrapper figure.value p:last-of-type {
        font-weight: 500;
        color: white; }

.alc-logo-big img {
  width: 70% !important; }
  @media screen and (max-width: 768px) {
    .alc-logo-big img {
      max-width: 50%;
      height: auto;
      max-height: 50%; } }
  @media screen and (min-width: 1400px) {
    .alc-logo-big img {
      max-width: 440rem;
      height: auto;
      max-height: 60%; } }

.alc-achievments {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  perspective: 640px; }
  .alc-achievments .image {
    position: relative;
    width: 15%;
    padding: 48rem;
    overflow: hidden;
    margin-bottom: 32rem; }
    @media screen and (max-width: 768px) {
      .alc-achievments .image {
        display: inline-block;
        width: 20%; } }
    .alc-achievments .image:hover img {
      cursor: pointer;
      transform: scale(1.2, 1.2); }
    .alc-achievments .image img {
      width: 100%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }
      @media screen and (max-width: 768px) {
        .alc-achievments .image img {
          display: inline-block;
          width: 100%; } }

.scheme-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 48rem; }
  @media screen and (max-width: 768px) {
    .scheme-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .scheme-wrapper figure {
    display: block;
    width: 360rem;
    height: 180rem;
    min-width: 120rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center; }
    .scheme-wrapper figure img {
      width: 80rem;
      height: auto;
      margin-top: 28rem; }
    .scheme-wrapper figure figcaption {
      position: relative;
      display: block;
      margin-top: 20rem;
      margin-bottom: 30rem;
      font-size: 16rem;
      font-weight: 500;
      text-transform: uppercase; }
      @media screen and (max-width: 768px) {
        .scheme-wrapper figure figcaption {
          font-size: 20rem; } }
  .scheme-wrapper .arrows-wrapper {
    display: inline-block;
    position: relative;
    width: 80rem;
    height: 80rem;
    top: 50rem; }
    @media screen and (max-width: 768px) {
      .scheme-wrapper .arrows-wrapper {
        margin: 10rem 0 10rem 0;
        transform: translateY(0);
        transform: rotate(90deg);
        top: 0; } }
    .scheme-wrapper .arrows-wrapper .arrow {
      width: inherit;
      height: inherit;
      background: url("/images/cases/streetcar/arrows.png") 100%;
      background-size: cover; }

.scheme-wrapper.hc figure {
  display: block;
  width: 80%;
  height: auto; }
  .scheme-wrapper.hc figure p {
    display: block;
    text-transform: uppercase;
    opacity: 1;
    padding-left: 18rem;
    padding-right: 18rem; }
    .scheme-wrapper.hc figure p:first-of-type {
      margin-top: 82rem;
      font-size: 20rem;
      font-weight: 500;
      color: #ff0000; }
    .scheme-wrapper.hc figure p:last-of-type {
      padding-top: 12rem;
      font-size: 26rem;
      margin-bottom: 84rem;
      font-weight: 600; }

.scheme-wrapper.hc .placeholder {
  width: 20%;
  height: 20rem; }

.scheme-wrapper.hc .arrows-wrapper {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 20rem;
  top: 120rem; }
  @media screen and (max-width: 768px) {
    .scheme-wrapper.hc .arrows-wrapper {
      margin: 10rem 0 10rem 0;
      transform: translateY(0);
      transform: rotate(90deg);
      top: 0; } }
  .scheme-wrapper.hc .arrows-wrapper .arrow {
    position: absolute;
    background: url("/images/cases/home-credit/arrow.svg") 100%;
    width: 100%;
    height: 100%;
    background-size: cover; }

#popup_contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  min-height: 100%;
  height: auto;
  color: white;
  z-index: 100;
  background: black;
  z-index: 1000;
  top: 100%; }
  #popup_contact > form {
    display: block;
    position: relative;
    overflow: auto;
    width: 100%;
    min-height: auto;
    max-width: 640rem;
    padding: 80rem;
    background: black; }
    #popup_contact > form .button {
      width: 100%; }
    #popup_contact > form > fieldset {
      display: block;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: auto;
      max-width: 100%; }
      #popup_contact > form > fieldset > legend {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 14rem;
        font-weight: 600;
        line-height: 28rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 24rem;
        color: white; }
      #popup_contact > form > fieldset > input {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        background: white !important;
        max-width: 100%;
        resize: vertical;
        padding: 24rem;
        border: 0;
        margin-bottom: 24rem; }

textarea {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: white !important;
  max-width: 100%;
  resize: vertical;
  padding: 24rem;
  border: 0;
  margin-bottom: 24rem; }

#popup_contact > form > fieldset > input:focus, #popup_contact > form > fieldset > textarea:focus {
  outline: none; }

#upload_file {
  position: absolute;
  opacity: 0; }

.upload_file {
  width: 100%;
  text-align: left;
  padding: 24rem;
  height: auto; }
  .upload_file:hover {
    border: 1px solid rgba(255, 255, 255, 0.6); }
  .upload_file:before {
    display: none; }

.uploadbutton {
  display: block;
  position: relative;
  background: none;
  margin-bottom: 48rem; }
  .uploadbutton > span {
    text-align: left;
    font-size: 14rem; }

.popup_cross {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-top: 0;
  border-right: 0;
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1); }
  .popup_cross:hover {
    background: #00ff8b; }
  .popup_cross > img {
    height: 16rem; }

@font-face {
  font-family: 'icomoon';
  src: url("../icons/icomoon.eot?8nqtqc");
  src: url("../icons/icomoon.eot?8nqtqc#iefix") format("embedded-opentype"), url("../icons/icomoon.ttf?8nqtqc") format("truetype"), url("../icons/icomoon.woff?8nqtqc") format("woff"), url("../icons/icomoon.svg?8nqtqc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-download:before {
  content: "\e900";
  color: inherit;
  display: inline-block;
  position: relative;
  font-size: 23rem;
  top: 4px;
  margin-right: 8px; }

#preloader {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 500;
  user-select: none;
  cursor: default; }
  #preloader div {
    text-align: center; }
    #preloader div .oz {
      display: inline-block;
      height: 14rem;
      margin: 7rem;
      opacity: 0;
      transform: scale(0.8); }

.slick-dots {
  display: block;
  position: relative;
  height: auto;
  width: auto;
  top: -96rem;
  left: 128rem;
  z-index: 300;
  cursor: default; }
  @media screen and (max-width: 768px) {
    .slick-dots {
      left: 80rem; } }
  .slick-dots > li {
    display: inline-block;
    width: 16rem;
    height: 16rem;
    border-radius: 8rem;
    margin-left: 16rem;
    background: none;
    border: 1rem solid rgba(255, 255, 255, 0.25);
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(0.75, 0.75);
    cursor: default; }
    .slick-dots > li:first-of-type {
      margin-left: 0; }
    .slick-dots > li > button {
      display: none; }
    .slick-dots > li.slick-active {
      cursor: default;
      background: white;
      border: 2rem solid white;
      transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
      transform: scale(1, 1); }
    .slick-dots > li:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.15);
      border: 2rem solid rgba(255, 255, 255, 0.25); }
    .slick-dots > li:active {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.5);
      border: 1rem solid white;
      transform: scale(1, 1); }
    .slick-dots > li.slick-active:hover {
      cursor: default;
      background: white;
      border: 2rem solid white; }

.slick-slider {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  height: 100%; }
  .slick-track:before {
    display: table;
    content: ''; }
  .slick-track:after {
    display: table;
    content: '';
    clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  width: 100%;
  height: 100%; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.video-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  transition: all 1600ms cubic-bezier(0.19, 1, 0.22, 1); }
  .video-wrapper video, .video-wrapper canvas {
    /* Make video to at least 100% wide and tall */
    min-width: 130%;
    min-height: 130%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%); }

#header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  padding: 40rem 128rem;
  line-height: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.25);
  -webkit-backface-visibility: hidden;
  z-index: 400;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1); }
  @media screen and (max-width: 768px) {
    #header {
      justify-content: center; } }
  @media screen and (max-width: 768px) {
    #header {
      text-align: center;
      padding: 32rem; } }
  #header.sticky {
    position: fixed;
    background-color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  #header.active {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    background: black;
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1); }
    #header.active a img {
      display: none; }
    @media screen and (max-width: 768px) {
      #header.active #icon-menu-cross {
        display: inline-block;
        float: none;
        width: 18px;
        height: auto;
        margin: 128rem; } }
    #header.active #icon-menu {
      display: none; }
    #header.active nav {
      display: block; }
      @media screen and (max-width: 768px) {
        #header.active nav .links-wrapper {
          display: block;
          text-align: center; } }
      #header.active nav .links-wrapper a {
        display: block;
        margin-left: 0;
        font-size: 48rem;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 2.5; }
  #header #icon-menu-cross {
    display: none;
    height: 32rem;
    width: 32rem;
    float: left; }
  #header #icon-menu {
    display: none;
    height: 32rem;
    width: 32rem;
    float: left; }
    @media screen and (max-width: 768px) {
      #header #icon-menu {
        display: inline-block; } }
  #header a {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto; }
    @media screen and (max-width: 768px) {
      #header a {
        display: none; } }
    #header a img {
      height: 14rem;
      width: auto; }
      @media screen and (max-width: 768px) {
        #header a img {
          height: 20rem; } }
  #header nav {
    display: inline-block; }
    #header nav .links-wrapper {
      display: inline-block; }
      @media screen and (max-width: 768px) {
        #header nav .links-wrapper {
          display: none; } }
      #header nav .links-wrapper a {
        display: inline-block;
        color: rgba(255, 255, 255, 0.66);
        font-size: 16rem;
        letter-spacing: 2px;
        font-weight: 600;
        margin-left: 40rem; }
        @media screen and (max-width: 768px) {
          #header nav .links-wrapper a {
            margin-left: 24rem; } }
        #header nav .links-wrapper a:hover {
          color: white;
          transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1); }
        #header nav .links-wrapper a:first-of-type {
          margin-left: 0rem; }
    #header nav .languages-wrapper {
      display: inline-block; }
      #header nav .languages-wrapper a {
        display: inline-block;
        color: rgba(255, 255, 255, 0.66);
        font-size: 22px;
        letter-spacing: 2px;
        font-weight: 600; }
      #header nav .languages-wrapper p {
        display: inline-block;
        color: white;
        font-size: 16rem;
        letter-spacing: 2px;
        font-weight: 600; }
      #header nav .languages-wrapper .flag-wrapper {
        display: inline-flex;
        align-items: center;
        position: relative;
        width: 22px;
        height: 22px;
        border: 1px solid gray; }
        #header nav .languages-wrapper .flag-wrapper img {
          width: 16px; }
      #header nav .languages-wrapper p {
        display: none; }

#footer {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 48rem 128rem;
  background: black;
  border-top: 1px solid rgba(255, 255, 255, 0.075); }
  @media screen and (max-width: 768px) {
    #footer {
      padding: 48rem 80rem; } }

#our-cases {
  padding: 0;
  min-height: 100%; }
  #our-cases header {
    padding: 128rem;
    border-top: 1px solid rgba(255, 255, 255, 0.075); }
    @media screen and (max-width: 768px) {
      #our-cases header {
        padding: 80rem; } }

.cases-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }
  .cases-wrapper:active {
    cursor: -webkit-grab; }
  .cases-wrapper .case-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 88vh;
    outline: 0px solid transparent;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black; }
    .cases-wrapper .case-wrapper:focus {
      outline: 0px solid transparent; }
    .cases-wrapper .case-wrapper figure {
      display: flex;
      position: relative;
      padding: 128rem;
      width: 100%;
      height: 100%;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      user-select: auto; }
      @media screen and (max-width: 768px) {
        .cases-wrapper .case-wrapper figure {
          padding: 80rem; } }
      .cases-wrapper .case-wrapper figure figcaption {
        position: relative;
        max-width: 560rem;
        left: 160rem;
        transition: all 750ms cubic-bezier(0, 0.55, 0.5, 1);
        z-index: 150; }
        .cases-wrapper .case-wrapper figure figcaption img {
          height: 80rem;
          margin-bottom: 40rem; }
        .cases-wrapper .case-wrapper figure figcaption h3 {
          margin-bottom: 16rem; }
        .cases-wrapper .case-wrapper figure figcaption h1 {
          margin-bottom: 48rem; }
        .cases-wrapper .case-wrapper figure figcaption p:last-of-type {
          margin-bottom: 48rem; }
    .cases-wrapper .case-wrapper figcaption:active {
      cursor: auto; }
  .cases-wrapper .slick-current figure figcaption {
    left: 0rem; }
