.case-prevew{:href => "#{link}"}
  .case-content-wrapper
    %h3.uppercase #{title}
    %a{:href => "#{link}"} Посмотреть кейс →
  .case-image-wrapper
    .image-bg{:style => "background-image: url(#{image})"}