-# Враппер для видео
.video-wrapper
  -# Видео и блок c canvas
  %video.video-bg{:class => "#{namevideo}", :autoplay => "autoplay", :loop => "loop", :muted => "muted"}
    %source{:src => "/videos/#{namevideo}.mp4"}
  %canvas{:class => "#{namevideo}-canvas"}

  -# Скрипт для работы видео на мобильных
  %script
    var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);

    if (isIOS) {
    var canvasVideo = new CanvasVideoPlayer({
    videoSelector: '.#{namevideo}',
    canvasSelector: '.#{namevideo}-canvas',
    timelineSelector: false,
    autoplay: true,
    makeLoop: true,
    pauseOnClick: false,
    audio: false
    });
    } else {
    // Use HTML5 video
    document.querySelectorAll('.#{namevideo}-canvas')[0].style.display = 'none';
    }