%section#our-cases.block
  %header
    %span Наши кейсы
    %h2 Изящные решения помогают нам создавать неповторимые проекты. Каждая новая задача — это возможность превзойти идеал, раздвинуть границы привычного. Без полной самоотдачи, усердной работы и любви к своему делу невозможно создать уникальный инновационный продукт.

  .cases-wrapper
    -# Уникальные Кальянные
    .case-wrapper
      %figure
        %figcaption
          %img{:alt => "Уникальные Кальянные", :src => "images/cases/uhp/uhp_logo.svg"}/
          %h3.uppercase Уникальные Кальянные
          %p Создание продукта под ключ для федеральной сети кальянных: начиная с разработка 150-страничного digital-брендингаи заканчивая созданием геймифицированный личный кабинет для сотрудников и посетителей.
          %a.button.button-next{:href => "/cases/uhp.html"}
            %small
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "uhp")

    -# Street Car
    .case-wrapper
      %figure
        %figcaption
          %img{:alt => "Street Car", :src => "images/cases/streetcar/streetcar_logo.svg"}/
          %h3.uppercase Street Car
          %p Мобильное приложение для первого в России каршеринг-сервиса. Участники клуба могут найти ближайший автомобиль и забронировать его; составить расписание поездок на день, неделю или месяц.
          %a.button.button-next{:href => "/cases/streetcar.html"}
            %small
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "streetcar")

    -# Almwajaha
    .case-wrapper{:style => "background-image: url(images/cases/almwajaha/almwajaha_bg.png); color: #333333"}
      %figure
        %figcaption
          %img{:alt => "Almwajaha", :src => "images/cases/almwajaha/almwajaha_logo.svg"}/
          %h3.uppercase Almwajaha
          %p Крупнейшая арабская игра-викторина, разработанная с учетом специфики пользователей из стран Ближнего Востока. С целью ориентирования приложения на отличительные особенности конечного пользователя был произведен design research, продуманы новые пользовательские сценарии и игровые механики, а так же разработана новый визуальный стиль для игры.
          %a.button.button-next{:href => "/cases/almwajaha.html"}
            %small

    -# ALCOMATH
    .case-wrapper
      %figure
        %figcaption
          %img{:alt => "Alcomath", :src => "images/cases/alcomath/alcomath_logo.png"}/
          %h3.uppercase Alcomath
          %p Cоциальная сеть отчаянных любителей сумасбродных вечеринок и отвязных тусовок, завсегдатаев злачных заведений города и прочих потребителей алкоголя. Проект основан на механике алко-трекера с добавлением социального функционала. Мобильное приложение позволяет хранить историю своих вечеринок, отмечая разновидность и количество выпитого спиртного, делиться впечатлениями с друзьями, и искать единомышленников.
          %a.button.button-next{:href => "/cases/alcomath.html"}
            %small
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "alcomath")
