%section#our-team.block
  %header
    %span Наша команда
    %h2 Мы успешно сочетаем опыт и талант наших специалистов с идеальной командной работой, у нас один плюс один всегда больше двух. 
  .team-wrapper
    -# Илья Немов
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "ilya-nemov", :name => "Илья Немов" , :position => "Директор по производству")
    
    -# Кирилл Цыганюк
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "kirill-tsyganyk", :name => "Кирилл Цыганюк" , :position => "Арт-директор")
    
    -# Андрей Губанов
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "andrew-gubanov", :name => "Андрей Губанов" , :position => "Дизайнер")
    
    -# Александр Силантьев
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "alexander-sylantiev", :name => "Александр Силантьев" , :position => "Видеограф")

    -# Игорь Романов
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "igor-romanov", :name => "Игорь Романов" , :position => "Технический директор")

    -# Сароар Кхандокер
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "saroar-khandoker", :name => "Сароар Кхандокер" , :position => "Backend разработчик")

    -# Дарья Румянцева
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "daria-ruymantseva", :name => "Дарья Румянцева" , :position => "Директор по развитию")

    -# Владимир Ерышев
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "vladimir-erishiv", :name => "Владимир Ерышев" , :position => "iOS разработчик")

    -# Илья Бураков
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "ilya-burakov", :name => "Илья Бураков" , :position => "Креативный директор")
    
    -# Денис Кабанов
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "denis-kabanov", :name => "Денис Кабанов" , :position => "Аккаунт-директор")

    -# Филипп Дитрих
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "philip-ditrih", :name => "Филипп Дитрих" , :position => "Генеральный директор")
    
    -# Дмитрий Старчевский
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "dmitrii-starchevskii", :name => "Дмитрий Старчевский" , :position => "Android разработчик")

    -# Максим Борисюк
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "maxim-borysyuk", :name => "Максим Борисюк" , :position => "Интернет-маркетолог")

    -# Илья Погребенко
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "no-photo", :name => "Илья Погребенко" , :position => "Android разработчик")
    
    -# Михаил Яковлев
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "no-photo", :name => "Михаил Яковлев" , :position => "Fullstack разработчик")
    
    -# Екатерина Тарасова
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "no-photo", :name => "Екатерина Тарасова" , :position => "Финансовый директор")