!!!
%html(lang="ru")

  -# Head
  -# ####################################
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "image/png", :href => "/images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
    %script(src="/js/video.js")

  -# Body
  -# ####################################
  %body.case-inner-page

    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render

    -# Попап: связаться с нами
    = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render

    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    -# ####################################
    %main#main-content
      %section.block#about-case
        %header
          %img{:alt => "Alcomath", :src =>"/images/cases/alcomath/alcomath_logo.png"}
          %h1 Alcomath
          .info-wrapper
            %p Клиент: OZ INTERACTIVE
            %p Услуга: Full-cycle application development
            %p Команда: Илья&nbsp;Бураков
          %p Cоциальная сеть отчаянных любителей сумасбродных вечеринок и отвязных тусовок, завсегдатаев злачных заведений города и прочих потребителей алкоголя. Проект основан на механике алко-трекера с добавлением социального функционала. Мобильное приложение позволяет хранить историю своих вечеринок, отмечая разновидность и количество выпитого спиртного, делиться впечатлениями с друзьями и искать единомышленников.
          -#.social-buttons
            -#.social-button
              -#.fb-share-button{"data-href" => "https://dribbble.com/", "data-layout" => "button_count", "data-mobile-iframe" => "false", "data-size" => "large"}
                -#%a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdribbble.com%2F&src=sdkpreparse", :target => "_blank"}
            -#.social-button
              -#%a.twitter-share-button{"data-size" => "large", :href => "https://twitter.com/intent/tweet?text=Hello%20world"} Tweet
        -# Градиент
        .gradient-overlay
        -# Видео на фоне
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "alcomath")



    -# Intro
    -# ####################################
    %section.block.case-block.text
      %header
        %h4 Запуск проекта
      %header
        %h5 Рыночная ситуация
        %p Одним из необходимых условий запуска качественного проекта является понимание ситуации на целевом потребительском рынке.
        %br
        %p Для более глубокого погружения в функционирование рынка алкогольной продукции в России и на Западе наша команда провела собственный R&D (Research and Development) и исследовала поведение потребителя алкогольной продукции, потребности и пожелания бизнеса.
        %br
        %p Наша команда изучила существующие стратегии, кейсы и практики продвижения продукции от таких лидеров алкогольной индустрии как Diageo, Anheuser-Busch, Patrón и Pernod Ricard.
        %br
        %p В рамках исследования мы выявили покупательские предпочтения по видам напитков, брендам и местам употребления алкогольной продукции.
        %br
        %p Кроме того, мы изучили текущее законодательство, касающееся рекламы алкогольной продукции в России и за рубежом, выяснили, какие способы продвижения продукта легальны и в то же время наиболее эффективны.

      %header
        %h5 Аналитика и исследование (Research & Development)
        %p Мы провели масштабные исследования рынка алкогольной продукции, рекламных предложений и социальных сетей, что позволило нам определить предпочтения потребителей.

    -# Alcohol research
    -# ####################################
    %section.block.case-block.text
      %header
        %h4 Исследования рынка алкогольной продукции

      -# Alcohol types research
      %header
        %h5 Предпочтения по видам алкогольной продукции
        %p Согласно данным, полученным Всероссийским центром изучения общественного мнения в 2010 году, в тройку алкогольных напитков – лидеров по частоте употребления в современной России входят пиво, вино и водка.
        %br
        %p Наиболее популярным напитком традиционно остается пиво – с той или иной частотой его употребляют более трети россиян – 36%.

        .image-wrapper
          %img{:src => "/images/cases/alcomath/R&D/3a_1_favorites.svg"}

        %p В основном это мужчины, среди которых пиво пьет каждый второй. Среди женщин этот напиток потребляет только каждая четвертая. Уровень потребления пива зависит от возраста – оно остается скорее молодежным напитком. Так, если в возрасте 18-24 года пиво пьют более половины опрошенных – 56%, то среди представителей средней возрастной категории, то есть потребителей в возрасте 35-44 лет, – уже около 40%, а среди россиян 60 лет и старше – всего 15%.
        %br
        %p Практически столь же популярным является вино – 34% россиян указали на то, что пили его за последнее время. Отметим, что категория «вино» включает крепленые, столовые и игристые вина. В отличие от пива, вино остается преимущественно женским напитком: за последнее время вино употребляли чуть менее половины опрошенных женщин – 42%, – тогда как среди мужчин его пили только около четверти респондентов – 23%. Чаще остальных вино потребляют россияне среднего возраста – 25-59 лет – так ответили 36-39% представителей этого возрастного диапазона.
        %br
        %p На третьем месте по популярности среди алкогольных напитков находится водка – ее употребляет практически каждый четвертый россиянин. Так же как и пиво, водку чаще пьют мужчины – 42% против 14% среди женщин. Наиболее активными потребителями являются россияне трудоспособного возраста – 35-59 лет – водку пьют 30-33% представителей этой возрастной категории.
        %br
        %p Большинство россиян не ограничиваются в своих предпочтениях одним алкогольным напитком. Так, например, каждый третий любитель пива помимо пенного напитка также отметил вино и водку – по 32% ответов.

        .image-wrapper
          %img{:src => "/images/cases/alcomath/R&D/3a_2_consumption.svg"}

        %p Каждый третий потребитель вина – 34% – не отказался бы и от пива. Водку любители вина пьют несколько реже – так ответили 14% опрошенных. Среди всех россиян, предпочитающих водку, около 44% также потребляют пиво и порядка 18% – вино.
        %br

        %p В мае-июне 2013 года компанией Mix Research было проведено исследование, посвященное изучению потребительских предпочтений, а также практик выбора и покупки крепких спиртных напитков среди постоянных жителей Москвы.
        %br
        %p Как показали результаты опроса, каждый третий москвич при наличии подходящего повода не откажется от порции хорошего крепкого алкоголя. Согласно полученным результатам, 37% опрошенных москвичей в возрасте от 18 до 60 лет являются потребителями крепкого алкоголя. При этом крепкие спиртные напитки пьют 49% представителей сильного пола, в то время как среди женщин доля потребителей составляет 27%. Наименьшая приверженность крепкому алкоголю отмечается у столичной молодежи в возрасте до 25 лет: в данной группе напитки с высоким содержанием алкоголя пьют 29% опрошенных.
        %br
        %p Самым популярным крепким напитком у жителей столицы является водка: 66% респондентов хотя бы раз пили ее в течение года, а 32% – употребляют регулярно.

        .image-wrapper
          %img{:src => "/images/cases/alcomath/R&D/3a_3_strong_alc.svg"}

        %p При этом более трети постоянных потребителей (34%) пьют водку не реже раза в неделю.
        %br
        %p Коньяк или виски регулярно пьет почти каждый пятый опрошенный. Однако если для приверженцев виски характерна высокая регулярность потребления напитка – 36% пьют его раз в неделю и чаще, то любители коньяка склонны проявлять большую умеренность – аналогичный показатель в данной группе составляет 24%.
        %br

      -#Alcohol brands research
      %header
        %h5 Предпочтения по брендам алкогольной продукции
        %p Важно отметить, что большинство потребителей водки и коньяка не привязаны к конкретной марке. Свой выбор они осуществляют непосредственно в магазине – так ответили соответственно 36 и 37% потребителей этих напитков. Среди любителей виски доля тех, кто отправляются за покупкой конкретной марки, составляет 42%.
        %br
        %p В качестве самых известных у москвичей марок водки можно назвать «Путинку» (ОАО «Московский завод «Кристалл» филиал «Корыстово»), «Парламент» (ГК «Русский алкоголь»), «Русский стандарт» (ООО «Русский стандарт Водка») и «Зеленую марку» («Русский алкоголь»). При этом наиболее уверенной позицией среди лидеров обладает водка среднего ценового сегмента «Зеленая марка» – каждый четвертый потребитель указывает ее среди известных марок, и каждый десятый вспоминает о ней в первую очередь.

        .image-wrapper
          %img{:src => "/images/cases/alcomath/R&D/3a_4_vodka_top.svg"}

        %p В максимальной близости от марок-лидеров располагаются ТМ «Пять озер» (ООО «Алкогольная сибирская группа»), Absolut (V&S Group) и «Столичная» (ФКП «Союзплодоимпорт»). Помимо хорошей узнаваемости, эти марки обладают высокими показателями известности – самостоятельно их вспоминают соответственно 21, 18 и 16% потребителей.
        %br
        %p Также высокой узнаваемостью обладают такие марки, как Smirnoff (Diageo plc), Nemiroff (ДП УВК Nemiroff) и «Флагман» (ОАО «Московский межреспубликанский винодельческий завод»). Однако без дополнительной подсказки потребители вспоминают их существенно реже.
        %br
        %p Наиболее известным виски в Москве является Jack Daniel’s (Brown-Forman Corporation) и Johnnie Walker Black Label и Red Label (Diageo plc) – эти марки самостоятельно вспоминают более трети всех потребителей напитка.

        .image-wrapper
          %img{:src => "/images/cases/alcomath/R&D/3a_5_whiskey_top.svg"}

        %p При этом каждый четвертый любитель виски в первую очередь вспоминает ТМ Jack Daniel’s. Высокие показатели известности также имеют ТМ White Horse (Diageo plc) и Jameson (John Jameson & Son): они лишь немного уступают маркам-лидерам.
        %br
        %p Несмотря на некоторое отставание, бренды Jim Beam (Beam Global Spirits & Wine), Chivas Regal (Chivas Brothers Ltd.) и Ballantine’s (George Ballantine & Son Ltd) обладают высокой узнаваемостью среди потребителей, что свидетельствует об их устойчивом положении на рынке.
        %br
        %p Согласно опросу жителей столицы, регулярно потребляющих коньяк, безусловными лидерами по уровню известности являются марки «Арарат» (ЗАО «Ереванский коньячный завод», Армения) и Hennessy (Jas Hennessy & Co.).

        .image-wrapper
          %img{:src => "/images/cases/alcomath/R&D/3a_6_cognac_top.svg"}

        %p Обе марки являются легендами коньячного дела, а показатели их узнаваемости говорят о крайне устойчивом на сегодняшний день положении этих игроков на рынке.
        %br
        %p Другие бренды, несмотря на серьезное отставание от лидеров, также демонстрируют высокие показатели известности. Такие марки коньяка, как «Московский» (ООО «Вест-Алко»), «Дагестанский» (ЗАО «Мосазервинзавод») и «Старый Кенигсберг» (ВКЗ «Альянс-1892») знают более двух третьих московских потребителей коньяка.
        %br
        %p Важно отметить, что полученные показатели известности позволяют оценить общее восприятие марок-игроков потребителями. Тем не менее, ведущие позиции того или иного бренда позволяют говорить о более благоприятной ситуации для продвижения, сохранения или улучшения существующих позиций на рынке. Другими словами, на сегодняшний день положение обозначенных марок является стабильным, что на фоне изменений, которые претерпевает рынок алкогольной продукции, приобретает особую значимость.
        %br
        %p Согласно данным Statista (один из крупнейших порталов маркетинговой статистики) предпочтения по выбору бренда покупаемой продукции выглядят следующим образом: наибольший вес имеет мнение друзей и семьи (50.2%), рекоменадия бармена / продавца (12.8%), реклама в социальных сетях (12.2%), промоакции (9.8%), реклама в digital (5.2%), традиционная реклама (5%), одобрение знаменитостей (4.2%), другие способы (0.6%).
        %p В то же время, 80.4% опрошенных признают, что на выбор алкогольного напитка повлияла реклама, которую они видели в социальных сетях. А 72.2% опрошенных при совершении покупок пользуются смартфонами (в том числе социальными сетями).

        .image-wrapper
          %img{:src => "/images/cases/alcomath/R&D/3a_7_advices.svg"}

        %p В марте 2015 года профессор Техасского Университета Гэри Уилкокс опубликовал исследовательскую работу, которая охватила более чем 40-летнюю историю алкогольного рынка США (с 1971 по 2015). Согласно этому исследованию, реклама имеет незначительное влияние на объемы потребляемого алкоголя, но колоссальное - на выбор бренда, которому покупатели отдают предпочтение. Авторы исследования также пришли к выводу, что самым эффективным применением рекламы является информирование покупателей о скидках и доступности товара в близлежащем магазине.

      %header
        %h5 Места употребления алкоголя
        %p Большинство покупок крепкого алкоголя москвичи осуществляют в сетевых магазинах. При этом в большей степени данный вид торговых точек привлекает покупателей водки – здесь ее приобретают 62% потребителей.

        .image-wrapper
          %img{:src => "/images/cases/alcomath/R&D/3a_8_places.svg"}

        %p Специализированные магазины пользуются большей популярностью у любителей коньяка – 26% регулярных потребителей данного напитка направляются туда с целью совершения покупки.
        %br
        %p Приверженцев водки и коньяка объединяет более частый выбор несетевых магазинов у дома для приобретения любимых алкогольных напитков – их предпочитают соответственно 17 и 14% потребителей этих видов алкоголя.
        %br
        %p Среди покупателей виски шире представлена практика употребления напитка в кафе/ресторанах – так ответили 12% опрошенных в этой группе, а также приобретение напитка в магазинах duty-free во время поездок за границу – 11% респондентов. Стоит отметить, что приобретение водки и коньяка в обозначенных местах покупки не является устойчивой практикой для потребителей и встречается лишь в отдельных частных случаях.

        -# Instagram research
        -# ####################################
    %section.block.case-block.text
      %header
        %h4 Исследования Instagram
        %p Поскольку целевой аудиторией нашего приложения являются люди, которым важно поделиться с друзьями эмоциями и воспоминаниями о проведенном досуге, мы провели исследование в социальной сети Instagram.

        -#Rus segment
      %header
        %h5 Статистика публикаций в русскоязычном сегменте
        %p Большинство релевантных (посты от живых людей, направленные не на рекламу или пиар) публикаций совершается непосредственно в момент употребления алкоголя (в баре, ресторане, дома, в гостях). На фотографиях фигурирует алкоголь или сцена его потребления. Есть сравнительно небольшой процент пользователей, выкладывающих фотографии постфактум (latergram). Количество публикаций вечером пятницы и субботы значительно вырастает по сравнению с буднями.
        .table-red-wrapper
          %table
            %tr
              %th Хэштег
              %th Постов в час
              %th Постов всего
            %tr
              %td #бар
              %td 14
              %td 708,195
            %tr
              %td #вечерпятницы
              %td 20
              %td 106,482
            %tr
              %td #пиво
              %td 40
              %td 732,891
            %tr
              %td #вино
              %td 40
              %td 515,487

        %p Выше приведены цифры по русскоязычному сегменту на 04.04.2016
        %br
        %p Стоит отметить, что в России пользуется популярностью публикация без хэштэгов-маркеров, поэтому в реальности цифры по количеству релевантных публикаций еще выше.

        -#Foreign segment
      %header
        %h5 Статистика публикаций в зарубежном сегменте
        %p В зарубежном сегменте интеграция социальной сети в повседневную жизнь на порядок выше, отсюда гораздо большее количество публикаций.
        .table-red-wrapper
          %table
            %tr
              %th Хэштег
              %th Постов в час
              %th Постов всего
            %tr
              %td #beer
              %td 700
              %td 30,824,183
            %tr
              %td #beers
              %td 40
              %td 2,776,905
            %tr
              %td #beertime
              %td 20
              %td 368,904
            %tr
              %td #beerstagram
              %td 30
              %td 1,002,256
            %tr
              %td #wine
              %td 150
              %td 19,713,753
            %tr
              %td #winelover
              %td 15
              %td 710,652
            %tr
              %td #whiskey
              %td 30
              %td 2,290,827
      %header
        %h5 Типовые публикации
      .wrapper-3-elements.gallery
        %figure
          %img{:src => "/images/cases/alcomath/Instagram/3b_1.png"}
          %figcaption
            %h5 #party #shampain
        %figure
          %img{:src => "/images/cases/alcomath/Instagram/3b_2.png"}
          %figcaption
            %h5 #breakfast
        %figure
          %img{:src => "/images/cases/alcomath/Instagram/3b_3.png"}
          %figcaption
            %h5 #mojito
      .wrapper-3-elements.gallery
        %figure
          %img{:src => "/images/cases/alcomath/Instagram/3b_4.png"}
          %figcaption
            %h5 #date
        %figure
          %img{:src => "/images/cases/alcomath/Instagram/3b_5.png"}
          %figcaption
            %h5 #party #cocktail
        %figure
          %img{:src => "/images/cases/alcomath/Instagram/3b_6.png"}
          %figcaption
            %h5 #meeting #friends #wine

    / -# Commercials research
    / -# ####################################
    / %section.block.case-block.text
    /   %header
    /     %h4 Исследования рынка рекламы

    /     -# Russian law
    /     %h5 Российское законодательство
    /     %p В последние годы российское законодательство все сильнее стало ограничивать возможности продвижения алкогольных и табачных брендов.
    /     %br
    /     %p С 1 января 2013 года реклама алкоголя ушла окончательно из печатных СМИ и интернета (поправки от 20.07.2012). Этот день стал «черным понедельником» для отрасли, отмечают рекламисты, однако они не собираются сдаваться.
    /     %br
    /     %p Cейчас алкогольные напитки, за исключением пива, нельзя рекламировать на телевидении (в том числе на платных телеканалах), на радио, в outdoor, в прессе, на всех видах транспорта, а также на расстоянии менее 100 метров от детских, образовательных и медицинских учреждений.
    /     %br
    /     %p Для пивных брендов недавно настали лучшие времена: свежие поправки в тот же закон «О рекламе» от 21 июля 2015 разрешают пивным брендам размещать рекламу на телевидении (во время трансляции спортивных соревнований, а также на специализированных каналах), в прессе (за исключением обложек журналов и первой и последней полос газет) и на стадионах. Практика, распространенная на Западе, призвана вызвать приток денег для проведения чемпионата мира по футболу в 2018 году. Правда, мера эта временная: все ограничения для пива вернутся с 1 января 2019 года.
    /     %br
    /     %p Пивные бренды сейчас пересматривают свои маркетинговые активности, но не теряют голову от новых возможностей: недавно СМИ сообщили о том, что ни один пивной бренд до сих пор не подписал спонсорский контракт с РФПЛ, ссылаясь на завышенную цену контракта.
    /     %br
    /     %p Во многих зарубежных странах законодательство позволяет не только пиву, но и крепким алкогольным напиткам спонсировать и проводить спортивные мероприятия. Так, например, Bacardi в США спонсирует соревнования по баскетболу, о чем рассказывает в своем Instagram.
    /     %br
    /     %p Экспертный совет Института развития интернета (ИРИ) для поддержки российских медиа предлагает ввести для них льготные условия распространения рекламы, в том числе – снять запрет на рекламу алкоголя.
    /     %br
    /     %p В частности, предлагается в первом квартале 2016 года внести изменения в закон "О рекламе". Рекламу алкоголя предлагается разрешить в СМИ и интернете с установлением соответствующих ограничений в отношении несовершеннолетних и времени распространения (7:00 – 23:00).
    /     %br
    /     %p По мнению экспертов ИРИ, это поддержит развитие медиа и телекоммуникационной отрасли, а также будет стимулировать производство и распространение качественного отечественного контента. Ответственными исполнителями предлагается назначить ФАС, Медиакоммуникационный союз, Ассоциацию коммуникационных агентств России и "РусБренд".
    /   .gallery-wrapper
    /     %figure
    /       %img{:src => "/images/cases/alcomath/Practics/3c_1.png"}
    /     %figure.big
    /       %img{:src => "/images/cases/alcomath/Practics/3c_2.png"}


    /   %header
    /     %h5 Реклама алкоголя в интернете
    /     %p Дмитрий Мысков, креативный директор агентства Promo Interactive (входит в состав Ogilvy Group Russia) представил рекомендации по продвижению алкогольных брендов в интернете. Закон направлен именно на то, чтобы полностью убрать рекламу алкоголя из Рунета, подчеркивают авторы рекомендаций.
    /     %br
    /     %p Фактически запрет уже действовал в социальной сети «ВКонтакте» – по личному распоряжению гендиректора Павла Дурова. Сейчас для рекламы алкоголя закрыта сеть Facebook, так как по ее правилам рекламодатель попадает под юрисдикцию своей страны. Видеохостинг Youtube.com недоступен из-за запрета Google.
    /     %br
    /     %p ID Society, сотрудничавшее с Diageo (Baileys, Captain Morgan, Crown Royal, и Johnnie Walker), а также с Chivas Regal и Martell, помогает своим клиентам создавать интернет-кампании, в ходе которых бренд может идентифицировать наиболее лояльных покупателей и сумму, которую они тратят на товары бренда.
    /     %br
    /     %p Алкогольные бренды все больше и больше полагаются на специалистов в области SMM. Например Vitrue, команда которого занимается маркетингом в приложениях и виджетах Facebook, Twitter, вирусными видео и блогосферой. Среди клиентов Vitrue - Anheuser-Busch, Captain Morgan, Miller Lite, Diageo и Bud Light.
    /     %br
    /     %p На протяжении многих лет алкогольные бренды сторонились digital маркетинга, опасаясь нарушить строгие законы о рекламе для несовершеннолетних. Однако теперь, благодаря Facebook и Twitter, возрастной таргетинг стал более  продвинутым, что позволяет доносить рекламу до целевой аудитории без нарушения закона.
    /     %br
    /     %p Кроме того, таргетинг в социальных платформах стал эффективнее традиционного маркетинга. К примеру, такие бренды как Patrón и Pernod Ricard на 30% увеличили бюджет на рекламу в digital в течение 2015 года. Pernod Ricard к тому же заключил контракт с digital-агентством 360i на разработку игр для Absolut Vodka, Jameson Irish Whiskey и Malibu Rum.
    /   .gallery-wrapper
    /     %figure.big
    /       %img{:src => "/images/cases/alcomath/Practics/3c_3.png"}
    /     %figure
    /       %img{:src => "/images/cases/alcomath/Practics/3c_4.png"}

    /     -# Existing practics
    /   %header
    /     %h5 Существующие практики
    /     %p Хотя в интернете возможности алкогольных и табачных брендов тоже сильно ограничены (в сети полностью запрещена их реклама), они, ориентируясь на интересы своей целевой аудитории и активное ее присутствие в digital-среде, делают ставку на интегрированные кампании, совместные онлайн- и офлайн-активности.
    /     %br
    /     %p Промоакции. Все чаще мы можем наблюдать типичные промоакции с кодом под крышкой и сокращенным анонсом через упаковку продукта, когда всю ответственность за проверку возраста берет на себя торговая точка. По закону «О рекламе» такие промоакции нельзя рекламировать, но яркая упаковка служит здесь сразу множеству целей: рекламный материал, eye-stopper и информирование об условиях акции. Упаковка ведет на сайт, где потребитель вовлекается в эту и другие активности бренда, часто там же собирается его персональная информация и он попадает в CRM-систему, которая подхватывает коммуникацию и «ведет» потребителя дальше.
    /     %br
    /     %p Канал, в который уходят значительные доли бюджетов алкогольных брендов, — реклама в торговых точках. Сюда входят все места, где легально можно продавать алкоголь, в том числе, магазины duty-free в аэропортах. Неудивительно, что этот инструмент так популярен: он соответствует не только букве закона, но и особенностям поведения потребителей. По данным Nielsen, в среднем две трети людей принимают решения о покупке непосредственно в местах продаж.
    /     %br
    /     %p Интегрированные кампании с HoReCa. Для таких кампаний обычно используются довольно простые механики и инструменты: фото (их под бренд-маской используют и некоторые табачные бренды), хештеги, чекины. Обычно это подарок за фото с хештегом. Также фотограф бренда, который работает на мероприятии, предлагает скачать фото с сайта бренда, таким образом привлекая на него аудиторию. Но часто гость только забирает свое фото и не вступает в дальнейшую коммуникацию с брендом. Можно решить эту проблему, добавив возможность скачать фото только после регистрации: тогда бренд получает самое ценное — живой контакт представителя ЦА в CRM-системе.
    /     %br
    /     %p Часто бренды хотят выделиться и проводят нестандартные интегрированные кампании и спецпроекты. Виски Ballantine’s, например, уже в третий раз проводит музыкальный конкурс WORK&ROCK Battle, цель которого — найти среди офисных работников музыкальные таланты и доказать, что белый воротничок днем и косуха вечером совместимы. Конкурс поддерживают селебрити (в этом году это Илья Лагутенко и Гриша Ургант), они же участвуют в оценке работ и определении победителя. На сайте конкурса проводится голосование за работы участников. Таким образом, виски работает на таргетированную целевую аудиторию: офисных работников, которые по вечерам мечтают о славе рок-исполнителей. При этом выбрана платформа, основанная на интересах и хобби, как правило, это дает высокую степень вовлеченности участников. Ballantine’s выстраивает ассоциативную цепочку между собой и местом потребления (бар), свободной атмосферой рок-вечеринки.
    /     %br
    /     %p CRM & Direct Mailing. Старый добрый прямой контакт с потребителем продолжает эффективно работать в digital-среде при качественном и максимально индивидуализированном предложении и контенте. Также этот канал позволяет очень четко сегментировать аудиторию и давать ей максимально точное сообщение с высоким показателем ROI.
    /     %br
    /     %p Рассылки. В рамках мотивационных программ могут проводиться как механики формата Collect & Get, так и не менее популярные классические рассылки с любыми инфоповодами: от анонсов акций до поздравления с днем рождения. Эффективно такие программы, к сожалению, работают лишь у тех брендов, которые набрали основу своих CRM-баз еще до вступления в силу последних поправок, когда еще было возможно активное продвижение.
    /     %br
    /     %p MGM-маркетинг. Важный инструмент для расширения CRM-базы — MGM-маркетинг (Member get Member). В данном случае расширение базы данных происходит за счет привлечения текущей базой своих «друзей».
    /     %br
    /     %p Не запрещается Product Placement, реклама в приложениях для iPhone и Android, а также полностью брендированное приложение. При этом iTunes не несет ответственности за действия пользователей, не являющихся гражданами США.
    /     %br
    /     %p Алкогольные бренды могут присутствовать в отчетах о вечеринках – как в виде изображения на кадре, так и в цитатах гостей. Однако не стоит размещать в кадре рекламу, размещенную в точке продажи. Лучше придерживаться «золотого сечения» законодательства: не меньше 60% контента о вечеринке, не больше 40% – о продукте.
    /     %br
    /     %p Промопрограммы. Часто бренды, особенно пивные, выстраивают долгосрочные промопрограммы: они выбирают единую коммуникационную платформу и проводят в рамках нее несколько промоакций с похожей тематикой. Эти акции охватывают большой временной интервал и таким образом формируют лояльность: покупатель знает, что у него постоянно есть шанс что-либо выиграть. Каналы информирования о таких акциях — в основном direct mail и точки продаж.
    /     %br
    /     %p Сайт бренда. Одним из ключевых каналов коммуникации для алкогольных и табачных брендов в digital остаются сайты брендов. В разъяснениях, которые дала ФАС после выхода поправок, ограничивающих рекламу алкоголя в интернете, сказано, что сайт бренда и его страница в социальной сети сами по себе не являются рекламой. На них может быть представлена продукция, информация о ее особенностях и преимуществах, о проводимых акциях и конкурсах. Но доступ на эти сайты — не для всех, существует ограничение по возрасту. И если для большинства алкогольных брендов для доступа достаточно подтвердить возраст, то для многих табачных компаний нажатия кнопки «Да, мне исполнилось 18» недостаточно, они требуют подтверждение возраста с помощью документов или банковских карт.
    /     %br
    /     %p Страница бренда в социальнgtых сетях. В условиях сокращения каналов коммуникации, в том числе в digital, алкогольные бренды активно вкладываются в развитие своих страниц в социальных сетях. И небезуспешно: по количеству подписчиков и уровню вовлеченности страницы алкогольных брендов уступают разве что автомобильным.
    /     %br
    /     %p Самая большая ставка сделана на Facebook, именно там обитает наиболее интересная для алкогольных брендов аудитория: со средним и высоким доходом, старше 18 лет. Лидируют на этой платформе бренды крепкого алкоголя, особенно водки, по количеству подписчиков они опережают другие алкогольные сегменты.
    /     %br
    /     %p Другие площадки не так популярны. Например, возьмем одного из лидеров среди алкогольных брендов по популярности — Bacardi. На глобальном канале YouTube около 2500 подписчиков, в Twitter — 65 000, при этом у страницы на Facebook — 8 млн. У сообществ Martini прослеживается аналогичная тенденция: Facebook — 2,6 млн, YouTube — 1500, Twitter — 7000. Глобальные аккаунты этих брендов в Instagram не представлены, их ведут представительства брендов в отдельных странах, по количеству подписчиков они даже близко не могут конкурировать с Facebook.
    /   .gallery-wrapper
    /     %figure
    /       %img{:src => "/images/cases/alcomath/Practics/3c_5.png"}
    /     %figure
    /       %img{:src => "/images/cases/alcomath/Practics/3c_6.png"}
    /     %figure
    /       %img{:src => "/images/cases/alcomath/Practics/3c_7.png"}

    /     -# App advertisements
    /   %header
    /     %h5 Реклама в мобильных приложениях
    /     %p Бренды и агентства больше не концентрируются только на мобильном Интернете, поскольку мобильные приложения быстро растут и реклама внутри них предлагает торговцам более широкие возможности, нацеленные на нужную аудиторию в нужное время.
    /     %br
    /     %p По сравнению с мобильным Web, реклама в приложении может обеспечить лучшее решение для привлечения внимания целевых потребителей и их поощрения, что обеспечивает взаимодействие без перерыва.
    /     %br
    /     %p Многие крупные компании почувствовали возможности рекламы, размещаемой внутри приложений. Например, в сентябре 2015 года, AOL приобрела Millenial Media (рекламная мобильная сеть) за $ 238 млн, что принесло компании более 65000 приложений.
    /     %br
    /     %p Выручка от рекламы в мобильных приложениях превзойдет продажи медийной рекламы к 2017 г., следует из данных совместного исследования App Annie и IDC. К такому выводу аналитики пришли, изучив рекламный рынок в 10 ключевых странах - Бразилии, Канаде, Франции, Индии, Японии, России, Южной Корее, Великобритании и США.
    /     %br
    /     %p Самый быстрорастущий рынок рекламы в мобильных приложениях - США: с 2013 по 2017 г. он вырастет в 3,5 раза, прогнозируют App Annie и IDC. Самый заметный рост ожидается в этот период в Индии - в 8,7 раза. Драйвером роста индийского рынка станет все большее проникновение смартфонов в этой стране. По данным IDC, количество смартфонов и планшетов на iOS и Android в мире выросло с 2012 по 2013 г. в 1,7 раза, а выручка от продаж приложений и рекламы в расчете на одно устройство увеличилась в 1,1 раза за тот же период.
    /     %br
    /     %p Аналитики прогнозируют, что к 2017 г. доходы от мобильных приложений в России вырастут в 2,7 раза, в Японии - в 1,8 раза, в Великобритании - в 3,2 раза, в Германии - в 3,5 раза, в Южной Корее - в 1,5 раза, во Франции - в 3 раза, в Канаде - в 2,2 раза, в Бразилии - в 3,2 раза. В разных странах лучше работают разные модели монетизации приложений, говорится в отчете: например, в Индии и США эффективнее зарабатывать на рекламе внутри приложений, а в Японии, России и Бразилии проще заработать на продаже приложений.

    -# Targeting
    -# ####################################
    %section.block.case-block.text
      %header
        %h4 Целевая аудитория
        %p “Смартфоны в барах россияне забывают чаще, чем зонты” - Денис Кузнецов, “Российская Газета”, 29.01.2016
        %br
        %p Использование смартфонов в барах уже стало явлением настолько повсеместным и привычным, что уже в далеком 2013-ом году в бразильском Санкт-Паулу появились “пивные-офлайн стаканы”, призванные остановить проникновение эпохи digital в барную культуру.
        %br
        %p После проведенного исследования рынка потребителей алкогольной продукции мы составили портреты пользователей нашего приложения.
      %header
        %h5 Большие компании 19-25

        .audience-wrapper
          .people
            %img{:src => "/images/cases/alcomath/Users/4_Users_1.png"}
            %img{:src => "/images/cases/alcomath/Users/4_Users_2.png"}
            %img{:src => "/images/cases/alcomath/Users/4_Users_3.png"}
          .drinks
            %figure
              %img{:src => "/images/cases/alcomath/Users/4_Drinks_cognac.png"}
              %figcaption
                %h5 Коньяк
            %figure
              %img{:src => "/images/cases/alcomath/Users/4_Drinks_Whiskey.png"}
              %figcaption
                %h5 Виски
            %figure
              %img{:src => "/images/cases/alcomath/Users/4_Drinks_Vodka.png"}
              %figcaption
                %h5 Водка
            %figure
              %img{:src => "/images/cases/alcomath/Users/4_Drinks_cocktail.png"}
              %figcaption
                %h5 Лонги

        %p Порядка 40% нашей целевой аудитории - молодые люди в возрасте от 19 до 25, ведущие социально-активный образ жизни. В основном употребляют алкоголь большими компаниями в пределах увеселительных заведений (бары и клубы). Свое предпочтение отдают крепким алкогольным напиткам (виски, коньяк, водка) и коктейлям на их основе. В европейском сегменте предпочтение по напиткам несколько иное - вино и пиво, так как зачастую алкоголь сопровождает трапезу в середине рабочего дня. Проведение досуга тесно связано с социальными сетями, которые используются для расширения круга знакомств и последующего совместного времяпрепровождения.
      %header
        %h5 Мужчины 23-29

        .audience-wrapper
          .people
            %img{:src => "/images/cases/alcomath/Users/4_Users_1.png"}
          .drinks
            %figure
              %img{:src => "/images/cases/alcomath/Users/4_Drinks_cognac.png"}
              %figcaption
                %h5 Коньяк
            %figure
              %img{:src => "/images/cases/alcomath/Users/4_Drinks_Whiskey.png"}
              %figcaption
                %h5 Виски
            %figure
              %img{:src => "/images/cases/alcomath/Users/4_Drinks_wine.png"}
              %figcaption
                %h5 Вино

        %p Около 30% аудитории - мужчины в возрасте от 23 до 29 лет, имеющие доход выше среднего. Регулярно посещают бары и рестораны, фуршеты. Из алкогольных напитков предпочитают виски, в меньшей степени коньяк и вино. Социальные сети (Instagram, Facebook) являются неотъемлемой частью повседневной жизни. Данная категория пользователей постоянно посещает новые места, регулярно ходит в театры, галереи и на концерты.
      %header
        %h5 Парни и девушки 20-26

        .audience-wrapper
          .people
            %img{:src => "/images/cases/alcomath/Users/4_Users_1.png"}
            %img{:src => "/images/cases/alcomath/Users/4_Users_2.png"}
          .drinks
            %figure
              %img{:src => "/images/cases/alcomath/Users/4_Drinks_wine.png"}
              %figcaption
                %h5 Вино
            %figure
              %img{:src => "/images/cases/alcomath/Users/4_Drinks_beer.png"}
              %figcaption
                %h5 Пиво

        %p Примерно 25% пользователей - парни и девушки в возрасте от 20 до 26, употребляющие алкоголь в домашней атмосфере. Например, за просмотром фильмов и спортивных мероприятий, за игрой в карточные и настольные игры, пикниками на свежем воздухе, выездами на дачу. Из алкогольных напитков эта категория пользователей предпочитает пиво, вино и виски.

    -# Solution
    -# ####################################
    %section.block.case-block.text
      %header
        %h4 Решение
      %header
        %h5 Первая версия
        %p Первая итерация Alcomath уже опубликована в App Store. В ней реализован весь базовый функционал алко-трекера:
        %ul.red-marker
          %li
            %p добавление выпитого алкоголя с возможностью указать вид напитка, его крепость, количество и стоимость;
          %li
            %p ведение учета выпитого алкоголя (стоимость, объем, количество часов до вывода алкоголя из крови);
          %li
            %p просмотр статистики по прошедшим вечеринкам (суммарное количество потраченных денег и выпитого алкоголя, отображение по дням или неделям);
          %li
            %p карта с пользователями приложения. При добавлении алкоголя на карте появляется пин пользователя со статусом и уровнем опьянения (Alcomap);
          %li
            %p регистрация пользователей через социальные сети для дальнейшего развития социального функционала.
      .screen-wrapper
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Iterations/1/5a_Add.png"}
          %figcaption
            %h5 01. Добавление алкоголя
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Iterations/1/5a_Home.png"}
          %figcaption
            %h5 02. Главный экран
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Iterations/1/5a_Login.png"}
          %figcaption
            %h5 03. Логин
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Iterations/1/5a_Map.png"}
          %figcaption
            %h5 04. Карта пользователей

      %header
        %h5 Второй этап
        %p Во второй итерации приложения планируем внедрить для пользователей геймификацию процессов отдыха в барах, ночных клубах и других развлекательных заведениях. Людям, отдыхающим в барах, ресторанах и клубах, зачастую более интересно заводить новые знакомства, открывать для себя свежие заведения, а не идти по проторенной дороге в известные каждому места.
        %br
        %p Мы можем предложить барным завсегдатаям механику квестов внутри приложения: пользователю предлагается посетить определенные бары по маршруту и что-нибудь выпить / выполнить задание. За выполнение квеста игрок получает опыт, достижения и реальные бонусы.
        %br
        %p В свою очередь, для рекламодателей планируется внедрение системы трансляции рекламы и создание CMS (для брендов, заведений, рекламодателей). Для привлечения в приложение большего числа пользователей к существующей карте (Alcomap) планируется добавление социальных механик для удержания пользователей:
        %ul.red-marker
          %li
            %p система чатов между пользователями (приватные, групповые);
          %li
            %p добавление пользователей в друзья;
          %li
            %p возможность поделиться статусом опьянения в социальных сетях;
          %li
            %p отображение на карте мероприятий заведений (в том числе брендированных);
          %li
            %p возможность отметиться в заведении;
      .screen-wrapper
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Iterations/2/5b_Chats.png"}
          %figcaption
            %h5 05. Чаты
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Iterations/2/5b_Check.png"}
          %figcaption
            %h5 06. Акция заведения
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Iterations/2/5b_Map.png"}
          %figcaption
            %h5 07. Карта заведений
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Iterations/2/5b_Share.png"}
          %figcaption
            %h5 08. Экран статуса

      %header
        %h5 Третий этап
        %p Следующим шагом развития приложения станет внедрение системы лояльности (Alcocard). Это позволит не только удержать уже существующих пользователей в приложении, но и открыть еще один канал продвижения продукции для рекламодателей (брендированные вечеринки, промоакции) С помощью пластиковой карты будет осуществляться:
        %ul.red-marker
          %li
            %p автоматическое добавление заказанных напитков;
          %li
            %p зачисление на счет бонусных баллов;
          %li
            %p проход на эксклюзивные мероприятия.
      .gallery-wrapper.vertical
        %figure
          %img{:src => "/images/cases/alcomath/Iterations/3/5c_1.png"}
        %figure
          %img{:src => "/images/cases/alcomath/Iterations/3/5c_2.png"}
        %figure
          %img{:src => "/images/cases/alcomath/Iterations/3/5c_3.png"}

    -# Prototype
    -# ####################################
    %section.block.case-block.text
      %header
        %h4 Проектирование
        %p После завершения исследования рынка (Research & Development) мы приступили к изучению и аналитике уже реализованных дизайн-концепций мобильного приложения (Design Research). Изучив лучшие практики реализации, мы приступили к проектированию собственного интерфейса с целью достижения максимального удобства и логичности с точки зрения Usability.
        %br
        %p В первую очередь мы проработали пользовательские сценарии (User Stories) с учетом данных, полученных после Design Research, после чего приступили непосредственно к прототипированию пользовательского интерфейса (размещение элементов на экране, определение переходов и взаимодействий).
        %br
        %p В последствии пользовательские сценарии будут использоваться для составления воронки продаж и логики Push API.
      .image-wrapper
        %img{:src => "/images/cases/alcomath/Prototype/useflow.svg"}

    -#Visual
    -# ####################################
    %section.block.case-block
      %header
        %h4 Визуальная концепция
        %p По завершении работ по проектированию взаимодействия мы перешли к проработке визуальной концепции, описывающей стиль и характер приложения, и в то же время отвечающей ожиданиям и запросам целевой аудитории.

      -#Logo
      -# ####################################
      -# Логотип — лицо бренда
    %section.block.case-block.case-block-image-right
      %header
        %h5 Логотип
        %p Логотип заключает в себе идею о том, что неявно существует некое закрытое сообщество, пропуск в которое - стакан с выпивкой.
        %br
        %p Фирменный знак — это важная часть общего образа бренда.
        %br
        %p Круг людей, принадлежащих к барной культуре четко ограничен. Попасть в него можно лишь соприкоснувшись с миром алкогольных напитков. Единожды оказавшись внутри, попадаешь под магическое воздействие объединяющих волн и течений. Круговорот вечеринок и тусовок постоянно притягивает к себе новых участников.
      .image-right-wrapper.alc-logo-big
        %img{:src => "/images/cases/alcomath/Visual/7a.png"}


      -#Colors
      -# ####################################
    %section.block.case-block
      %header
        %h5 Цвета
        %p Фирменные цвета — это одна из основ формирования визуального восприятия бренда потребителем. Именно они используются при создании иллюстраций, визуальном оформлении носителей и всех остальных элементов, где используется цвет.
        %br
        %p Цветовая схема тщательно заточена под целевую аудиторию пользователей - завсегдатаев заведений с освещением, не оптимально комфортным для пользователей смартфонов. Увеличение яркости - не панацея.
      .color-wrapper
        %figure.red
          %figcaption #FD1A45
          %figcaption Основной цвет
        %figure.black
          %figcaption #000000
          %figcaption Дополнительный цвет
        %figure.white
          %figcaption #FFFFFF
          %figcaption Цвет текста

      -#Typography
      -# ####################################
      %header
        %h5 Типографика
      .typographics-wrapper
        %figure.title
          %p Open sans Semibold
          %br
          %p Водка  коньяк  пиво  микс  джин
          %br
          %p Заголовки
        %figure.text
          %p Open sans Light
          %br
          %p Коньяк - отличное начало вечера!
          %br
          %p Основной текст
        %figure.value
          %p Open sans Regular
          %br
          %p Bar ToTo 0.75pm 25% 250ml
          %br
          %p Значения



    -# Main screen
    -# ####################################
    %section.block.case-block.text
      %header
        %h4 Главный экран
        %p Главный экран Alcomath содержит в себе следующие элементы:
        %ul.red-marker
          %li
            %p шкала опьянения. Отображает расчетное количество алкоголя в крови выраженное в промилле. Определяет через сколько часов наступит состояние трезвости, и можно будет садиться за руль;
          %li
            %p текущий статус опьянения пользователя. Изменяется в соответствии с добавленным алкоголем;
          %li
            %p счетчик потраченных денег, выпитого алкоголя и часов достигнутого опьянения;
          %li
            %p кнопку “Добавить алкоголь” для обновления алкогольного счетчика.

      .screen-wrapper
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Main/8_Add.png"}
          %figcaption
            %h5 09. Добавление алкоголя
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Main/8_Add_2.png"}
          %figcaption
            %h5 10. Добавление алкоголя
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Main/8_Home_empty.png"}
          %figcaption
            %h5 11. Главный экран
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Main/8_Home.png"}
          %figcaption
            %h5 12. Главный экран

    -#Adding alcohol
    -#####################################
    %section.block.case-block.text
      %header
        %h4 Добавление алкоголя
        %p Экран добавления алкоголя, переход на который происходит тапом на вышеуказанную кнопку, включает в себя:
        %ul.red-marker
          %li
            %p напиток. Каждому по умолчанию заданы значения: крепость, объем и стоимость, основанные на введенных пользователем данных;
          %li
            %p слайдеры крепости, объема и стоимости (для самостоятельного указания значения);
          %li
            %p время, прошедшее с момента употребления напитка;
          %li
            %p кнопку, подтверждающую добавление напитка.

    -# Alco icons
    -#####################################
    %section.block.case-block.text
      %header
        %h4 Иконки напитков
        %p Для приближения пользовательского опыта к привычной реальной действительности мы нарисовали 14 уникальных иконок (9 для каждого вида алкоголя и 5 для пунктов меню), повторяющих характерные черты настоящих напитков.
      .achievments-wrapper.alc-achievments
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon1.png"}
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon2.png"}
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon3.png"}
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon4.png"}
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon5.png"}
      .achievments-wrapper.alc-achievments
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon6.png"}
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon7.png"}
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon8.png"}
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon9.png"}
      %header
        %h4 Иконки меню
        %p Системные иконки повторяют стилистику приложения и несут в себе доступное объяснение системных функций. С их помощью пользователь всегда сможет найти нужный пункт меню даже в тех случаях, когда чтение текста сопряжено с трудностями. Если вы понимаете, о чем я.
      .achievments-wrapper.alc-achievments
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon10.png"}
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon11.png"}
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon12.png"}
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon13.png"}
        .image
          %img{:src => "/images/cases/alcomath/Main/8c-icon14.png"}
      / .image-wrapper
      /   %img{:src => "/images/cases/alcomath/Main/8c_1.png"}
      / .image-wrapper
      /   %img{:src => "/images/cases/alcomath/Main/8c_2.png"}

    -# Stats
    -#####################################
    %section.block.case-block.text
      %header
        %h4 Статистика
        %p Экран статистики содержит:
        %ul.red-marker
          %li
            %p дату выбранной вечеринки;
          %li
            %p динамику развития вечеринки во времени - расчетное содержание алкоголя в крови на момент внесения в приложение крайнего напитка;
          %li
            %p общий счетчик. Отражает суммарные данные по количеству потраченных денег, выпитых литров спиртного, итогового времени опьянения.
      .screen-wrapper
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Stat/9_Drink_stat.png"}
          %figcaption
            %h5 13. Информация о напитке
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Stat/9_Drink_week.png"}
          %figcaption
            %h5 14. Информация о напитке
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Stat/9_Statistics.png"}
          %figcaption
            %h5 15. Статистика за день
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Stat/9_Statistics-week.png"}
          %figcaption
            %h5 16. Статистика за неделю
      %header
        %p Диаграммы, расположенные под счетчиком, отражают пользовательские предпочтения по видам и объемам употребляемых напитков.


    -# Map
    -#####################################
    %section.block.case-block.text
      %header
        %h4 Алкокарта
        %p Экран статистики содержит:
        %ul.red-marker
          %li
            %p пины с положением пользователей;
          %li
            %p отсортированные по удаленности списки потенциальных друзей (с указанием уровня опьянения) и происходящих мероприятий.
      .screen-wrapper
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Map/10_Map.png"}
          %figcaption
            %h5 17. Карта пользователей
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Map/10_Map_list.png"}
          %figcaption
            %h5 18. Список пользователей
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Map/10_Map_pin.png"}
          %figcaption
            %h5 19. Метка пользователя
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Map/10_Map_sale.png"}
          %figcaption
            %h5 20. Акции на карте

      %header
        %p На следующем этапе планируем внедрить в приложение:
        %ul.red-marker
          %li
            %p функционал друзей;
          %li
            %p обмен сообщениями внутри приложения.


    -# Events
    -#####################################
    %section.block.case-block.text
      %header
        %h4 Акции и мероприятия
        %p Alcomath представляет собой крайне эффективную площадку для рекламных кампаний брендов и заведений, которые напрямую заинтересованы в увеличении числа собственных клиентов. Используя Alcomath, можно создать действенный и продуктивный канал рекламы алкоголя, объединяющий в себе BTL и digital.
        %br
        %p Информация об акциях и проводимых мероприятиях заведений и точек продаж будет отображаться в виде:
        %ul.red-marker
          %li
            %p пинов на карте (отличных от пользовательских);
          %li
            %p спец проекты брендов. Конкурсная механика от брендов с привлечением популярных заведений (рекламные баннеры, брендированный алкоголь);
      .screen-wrapper
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Events/11_Brand.png"}
          %figcaption
            %h5 21. Бренд
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Events/11_Event_brand.png"}
          %figcaption
            %h5 22. Событие бренда
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Events/11_Event.png"}
          %figcaption
            %h5 23. Событие заведения
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Events/11_Sale.png"}
          %figcaption
            %h5 24. Акция заведения

    -# Quests
    -#####################################
    %section.block.case-block.text
      %header
        %h4 Квесты в приложении
        %p Последние исследования и конкретные кейсы показывают рост популярности этого вида отдыха и эффективность этого рекламного канала. Мы предлагаем пользователям механику квестов внутри приложения: посетить определенные заведения по заданному маршруту, заказать предложенные напитки или выполнить назначенные задания.
        %br
        %p Игроки соревнуются с друзьями, за выполнение квеста игрок получает опыт, достижения (пользовательские статусы, уникальные напитки) и реальные бонусы, которые в дальнейшем можно потратить в заведениях.
      .screen-wrapper
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Quests/12_Quest.png"}
          %figcaption
            %h5 25. Квест в заведении
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Quests/12_Quest2.png"}
          %figcaption
            %h5 26. Получение приза
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Quests/12_Quest_popup.png"}
          %figcaption
            %h5 27. Уведомление о событии
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Quests/12_Quest_ready.png"}
          %figcaption
            %h5 28. Квест выполнен

    -# Profile
    -#####################################
    %section.block.case-block.text
      %header
        %h4 Профиль
        %p Экран профиля предоставляет пользователю следующие возможности:
        %ul.red-marker
          %li
            %p изменить аватар;
          %li
            %p восстановить пароль;
          %li
            %p включить или выключить отображение собственного пина на карте;
          %li
            %p задать физические параметры (выбрать пол, вес, возраст, частоту употребления алкоголя).
        %p Также, в профиле есть возможность ознакомиться с лицензионным соглашением и связаться со службой поддержки для решения вопросов по работе мобильного приложения.
      .screen-wrapper
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Profile/13_Menu.png"}
          %figcaption
            %h5 29. Меню
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Profile/13_Settings_login.png"}
          %figcaption
            %h5 30. Профиль
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Profile/13_Settings_unlogin.png"}
          %figcaption
            %h5 31. Настройки
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Profile/13_Splash.png"}
          %figcaption
            %h5 32. Splashscreen


    -# Login
    -#####################################
    %section.block.case-block.text
      %header
        %h4 Логин и регистрация
        %p Экран логина в Alcomath содержит в себе классический набор элементов:
        %ul.red-marker
          %li
            %p поле для ввода электронной почты;
          %li
            %p поле для ввода пароля;
          %li
            %p кнопку “Войти”;
          %li
            %p интеграцию с популярными социальными сетями - кнопки для входа через Facebook, Twitter, VK;
          %li
            %p приглашение к регистрации;
          %li
            %p кнопку восстановления пароля.

      .screen-wrapper
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Login/14_Login.png"}
          %figcaption
            %h5 33. Экран входа
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Login/14_Registration.png"}
          %figcaption
            %h5 34. Экран регистрации
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Login/14_Login_recoverpass.png"}
          %figcaption
            %h5 35. Восстановление пароля
        %figure
          .iphone-wrapper
            %img{:src => "/images/cases/alcomath/Login/14_Login_recoverpass2.png"}
          %figcaption
            %h5 36. Успешное восстановление

      / -# Walkthrough (not really fits the spot right now)
      / -#####################################
      / .screen-wrapper
      /   %figure
      /     .iphone-wrapper
      /       %img{:src => "/images/cases/alcomath/walkthrough/15_walkthrough_1.png"}
      /   %figure
      /     .iphone-wrapper
      /       %img{:src => "/images/cases/alcomath/walkthrough/15_walkthrough_2.png"}
      /   %figure
      /     .iphone-wrapper
      /       %img{:src => "/images/cases/alcomath/walkthrough/15_walkthrough_3.png"}
      /   %figure
      /     .iphone-wrapper
      /       %img{:src => "/images/cases/alcomath/walkthrough/15_walkthrough_4.png"}

    -# Site
    -#####################################
    %section.block.case-block.text
      %header
        %h4 Минисайт
        %p Мы запустили мини-сайт, предоставляющий основную информацию о нашем приложении. Там же размещена ссылка для загрузки приложения в App Store.
        .image-wrapper
          %img{:src => "/images/cases/alcomath/Site/16.svg"}

    -# Invest
    -#####################################
    %section.block.case-block
      %header
        %h4 Инвесторская презентация
        %p Для потенциальных инвесторов мы подготовили презентацию, описывающую выработанную бизнес-модель приложения. В презентации мы поэтапно распланировали стратегию развития и масштабирования, просчитали ежемесячную прибыль после запуска и необходимые затраты на разработку, маркетинг и развитие приложения.
      .image-wrapper
        %img{:src => "/images/cases/alcomath/Investor/17_investor.svg"}
      / .image-wrapper
      /   %img{:src => "/images/cases/alcomath/Investor/17_Investor.png"}

    -# Further improvements
    -#####################################
    %section.block.case-block.text
      %header
        %h4 Дальнейшее развитие
        %p В наши дальнейшие планы по развитию приложения входит:
        %ul.red-marker
          %li
            %p разработка следующей итерации приложения с внедрением описанных социальных (создание чатов, добавление друзей), игровых (квесты, достижения, награды) и удерживающих (акции, система лояльности) механик;
          %li
            %p разработка Android-версии приложения для охвата большей аудитории;
          %li
            %p кмасштабное подключение к Alcomath заинтересованных магазинов и заведений;
          %li
            %p тесное сотрудничество с алкогольными брендами;
          %li
            %p разработка и реализация маркетинговой стратегии: создание контента, посев и покупка траффика.

      -# Предыдущий кейс/Следующий кейс
      %section.block.case-block-end
        -# Предыдущей кейс
        %section.case-block-prev
          %a.cases-link{:href => "/cases/almwajaha.html"}
            .arrow-wrapper
              %img{:src => "/images/arrow-left.svg"}
              %img{:src => "/images/cases/almwajaha/almwajaha-preview.png"}
              %header
                %h2.uppercase Almwajaha
                %p Предыдущий кейс

        -# Следующий кейс
        %section.case-block-next
          %a.cases-link{:href => "/cases/uhp.html"}
            .arrow-wrapper
              %header
                %h2.uppercase Уникальные
                %br
                %h2.uppercase кальянные
                %p Следующий кейс
              %img{:src => "/images/arrow-right.svg" }
              %img{:src => "/images/cases/uhp/uhp-preview.png"}




      / -# WIP
      / -# ####################################
      / %section#wip-block.block
      /   -# Контент
      /   %header
      /     %img.icon-gear{:src => "/images/gear.svg"}
      /     %h1 Страница<br>в разработке

      -# Футер
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  -# ####################################
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
