!!!
%html(lang="ru")
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "image/png", :href => "/images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
  %body.case-inner-page
    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render

    -# Попап: связаться с нами
    = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render

    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    %main#main-content
      %section#about-case.block
        %header
          %img{:alt => "Almwajaha", :src => "/images/cases/almwajaha/almwajaha_logo.svg"}/
          %h1 Almwajaha
          .info-wrapper
            %p Клиент: AlphaApps
            %p Услуга: Full-service development
            %p Команда: Илья&nbsp;Бураков, Кирилл&nbsp;Цыганюк, Виктор&nbsp;Гнедин, Роман&nbsp;Золоторев
          %p Крупнейшая арабская игра-викторина, разработанная с учетом специфики пользователей из стран Ближнего Востока. С целью ориентирования приложения на отличительные особенности конечного пользователя был произведен design research, проработана система наград и достижений, добавлены соответствующие предметные области и категории.
          -#.social-buttons
            -#.social-button
              -#.fb-share-button{"data-href" => "https://dribbble.com/", "data-layout" => "button_count", "data-mobile-iframe" => "false", "data-size" => "large"}
                -#%a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdribbble.com%2F&src=sdkpreparse", :target => "_blank"}
            -#.social-button
              -#%a.twitter-share-button{"data-size" => "large", :href => "https://twitter.com/intent/tweet?text=Hello%20world"} Tweet
        -# Градиент
        .gradient-overlay
        -# Видео на фоне
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "almwajaha")


        -# Видео на фоне
        -#= Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "homeherobg")

      -# Intro
      %section.block.case-block.text
        %header
          %h4 Интро
          %p На основне анализа приложения, статистики использования из Google Analytics и комментариев заказчика, мы составили список существующих проблем и слабых мест в приложении, а так же идеи по возможным решениям.
        .images-wrapper
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_1.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_2.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_3.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_4.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_5.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_6.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_7.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_8.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_9.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_10.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_11.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_12.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_13.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_14.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_15.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_16.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_17.png"}
          .image
            %img{:src => "/images/cases/almwajaha/design-research/design-research_4.png"}

      -# Основные проблемы и решения
      %section.block.case-block
        %header
          %h4 Основные проблемы и решения
          %p Главной проблемой прошлой версии была ее сложность и недружелюбность к новым пользователям. На наш взгляд это было вызвано в основном следующими факторами:
        .wrapper-problemes
          %h4
            %span 01
            Устаревший визуальный стиль
          %h4
            %span 02
            Нехватка обучающей документации
          %h4
            %span 03
            Отсутствие разделения вопросов по сложности
          %h4
            %span 04
            Отсутствие разделения по лигам в рейтинге
          %h4
            %span 05
            Отсутствие стимулов и мотивации в игре
          %h4
            %span 06
            Отсутствие продуманной системы поощрения игрока

      -# Дизайн концепция
      %section.case-block.block.case-block-image-right
        %header
          %h4 Дизайн концепция
          %p В настоящее время существует определенный шаблон дизайна мобильных игр, и они редко отличаются друг от друга. Подход к отображению информации везде примерно одинаковый, так что трудно создать что-то оригинальное, не нарушая установленных канонов.
          %br
          %p В таких играх как Almwajaha социальная интеграция занимает все более и более важное место - игра с друзьями, общение во время игры, рейтинги, общие разговоры, шеринг в социальные сети. Теперь вряд ли можно представить себе онлайн игру без этих функций. Но в настоящее время не многие люди принимают их во внимание при визуальном проектировании. Да, необходимо сделать игровой процесс увлекательным, но мы не можем смотреть на вопрос только с одной стороны. Более того, хорошие иллюстрации могут сделать процесс взаимодействия гораздо более интересным. Секрет состоит в том, чтобы объединить игровые и социальные компоненты в дизайне.
          %br
          %p Мы отказались от стандартной визуализации, при которой главный экран приложения выглядит скучно даже для игры-головоломки - тривиальный список с именами противников и их фотографиями.
          %br
          %p Мы выбрали более современное решение: дизайн в форме карточек. Это не только модно, но и по-прежнему очень удобно и интересно. В отличие от обычного представления контента, дизайн в форме карточек имеет куда более широкий простор для применения художественных деталей, красивой анимации и пользовательского взаимодействия, которое оставляет сугубо положительные эмоции. Благодаря взаимодействию пользователь сильнее заинтересован, что и является одной из наших целей. Вместо того, чтобы просто развлекать пользователя милыми иллюстрации, мы даем то, что ему на самом деле нужно – других людей. Именно поэтому мы немного раньше и поднимали вопрос о социальной интеграции.
        .image-right-wrapper.alm-design-concept
          %img{:src => "/images/cases/almwajaha/design-conception.svg"}

      -# Useflow и fast prototypes
      %section.case-block.case-block-image.use-flow
        %header.block
          %h4 Карта приложения и прототипы
          %p После исследования начался этап проектирования интерфейса. В первую очередь мы переработали все пользовательские сценарии с учетом данных, полученных после Design Research, а так же нового функционала и переработанной навигации. Впоследствии пользовательские сценарии использовались для составления воронки продаж и логики Push API.
        .use-flow-bg
          -# Видео на фоне
          %video.video-bg{:autoplay => "autoplay", :loop => "loop", :muted => "muted"}
            %source{:src => "/videos/use-flow-animation.mp4"}

      -# Первый запуск
      %section.block.case-block
        %header
          %h4 Первый запуск
          %p Результат аналитики показал, что более 80% пользователей входят через Facebook. Поэтому было решено сделать аутентификацию через Facebeook основным call-to-action на экране входа (мы так же оставили вход через email для существующей аудитории). Так же мы добавили экран с друзьями из Facebook в Almwajaha, для тех кто заходит первый раз и не знает, кто из его друзей уже в игре.
        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-01.png"}
            %figcaption
              %h5 01. Экран входа
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-02.png"}
            %figcaption
              %h5 02. Регистрация
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-03.png"}
            %figcaption
              %h5 03. Логин
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-04.png"}
            %figcaption
              %h5 04. Добавление друзей

      -# Приложение
      %section.block.case-block
        %header
          %h4 Главный экран
          %p Almwajaha — увлекательная игра, позволяющая пользователям состязаться в знании различных областей науки, спорта, литературы, кино и многого другого. Пользователи могут играть как со случайными противниками, так и со своими друзьями, общаться во внутриигровом чате, соревноваться в рейтинговой игре и получать достижения.

        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-05.png"}
            %figcaption
              %h5 05. Главный экран
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-06.png"}
            %figcaption
              %h5 06. Выбор оппонента
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-07.png"}
            %figcaption
              %h5 07. Выбор категории
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-08.png"}
            %figcaption
              %h5 08. Поиск оппонента

      -# Игровой процесс
      %section.block.case-block
        %header
          %h4 Игровой процесс
          %p Игровой процесс происходит на отдельном экране, где пользователям предлагается вопрос и варианты ответов на него. При выборе ответы подсвечиваются для каждого игрока отдельно, а также выделяется правильный ответ. Категории брендов позволяют пользователям соревноваться в знании истории или особенностей определённого спонсора и получать призы.
        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-09.png"}
            %figcaption
              %h5 09. Раунды игры
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-10.png"}
            %figcaption
              %h5 10. Вопрос
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-11.png"}
            %figcaption
              %h5 11. Экран победителя
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-12.png"}
            %figcaption
              %h5 12. Спосонская категория

      -# Аватары
      %section.block.case-block.case-block-image
        %header
          %h4 Аватары
          %p Одной из проблем было отсутствие или ужасное качество аватаров пользователей в игре, поэтому вместе с новым интерфейсом мы так же нарисовали и новые аватары для пользователей в казуальном стиле с нотками Востока и яркими цветами.
        .avatars-wrapper
          .avatar
            %img{:src => "/images/cases/almwajaha/avatars/almwajaha-avatar-1.png"}
          .avatar
            %img{:src => "/images/cases/almwajaha/avatars/almwajaha-avatar-2.png"}
          .avatar
            %img{:src => "/images/cases/almwajaha/avatars/almwajaha-avatar-3.png"}
          .avatar
            %img{:src => "/images/cases/almwajaha/avatars/almwajaha-avatar-4.png"}

      -# Достижения и награды
      %section.block.case-block
        %header
          %h4 Достижения и награды
          %p Мы разработали систему достижений для поощрения пользователей и увеличения ретеншена. В игре присутствуют достижения практически всех видов: событийные, отслеживаемые, многоуровневые и многие другие.
        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-13.png"}
            %figcaption
              %h5 13. Экран достижений
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-14.png"}
            %figcaption
              %h5 14. Закрытое достижение
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-15.png"}
            %figcaption
              %h5 15. Открытое достижение
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-16.png"}
            %figcaption
              %h5 16. Получена награда



      -# Иконки достижений
      %section.block.case-block.case-block-image
        %header
          %h4 Иконки достижений
          %p Мы нарисовали 20 уникальных и в целом более 50 иконок достижений, включая разные уровни, состояния и анимацию. В иконках достижений используются яркие цвета и простые формы. В элементах обыгрываются всевозможные логические игры, видные мыслители, тематика категорий и другое.
        .achievments-wrapper
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_1.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_2.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_3.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_4.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_5.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_6.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_7.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_8.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_9.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_11.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_12.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_13.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_14.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_15.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_16.png"}
          .image
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_17.png"}
          .image.last-achiviements
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_19.png"}
          .image.last-achiviements
            %img{:src => "/images/cases/almwajaha/achievmenets/achievmenets_20.png"}


      -#Анимации иконок
      %section.block.case-block
        %header
          %h4 Анимации иконок
          %p Для большей увлеченности пользователя мы добавили иконкам анимацию, которая сделала игровой процесс еще более интересным, ярким и динамичным.
        .screen-wrapper.achievment-all-wrapper
          %figure
            .achievment-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-achievment-animation.gif"}
            %figcaption
              %h5 Мировое признание
          %figure
            .achievment-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-achievment-animation-2.gif"}
            %figcaption
              %h5 Тайный бонус
          %figure
            .achievment-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-achievment-animation-3.gif"}
            %figcaption
              %h5 Эйнштейн доволен
          %figure
            .achievment-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-achievment-animation-4.gif"}
            %figcaption
              %h5 Пришельцы



      -# Рейтинговая система
      %section.block.case-block
        %header
          %h4 Рейтинговая система
          %p Аналитика показала, что новых игроков пугает существующий рейтинг: топовые игроки с огромным количеством очков демотивируют новичков. Мы разработали систему рейтинга, сосоящую из трех лиг: Silver League, Gold League и Hall of Fame. Основная идея этой системы в том, что каждая лига используется только соответствующим типом игроков (casual, midcore, hardcore), разделяя начинающих и опытных игроков.
        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-17.png"}
            %figcaption
              %h5 17. Золотая лига
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-18.png"}
            %figcaption
              %h5 18. Зал Славы
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-19.png"}
            %figcaption
              %h5 19. Рейтинг недоступен
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/almwajaha/almwajaha-screen-20.png"}
            %figcaption
              %h5 20. Новая лига

      -# Все экраны
      %section.block.case-block
        %header
          %h4 Список всех экранов
          %p Всего было нарисовано более 60 экранов.
        .all-screens-wrapper
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-01.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-02.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-03.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-04.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-05.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-06.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-07.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-08.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-09.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-10.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-11.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-12.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-13.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-14.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-15.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-16.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-17.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-18.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-19.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-20.png"}
          .screen-preview
            %img{:src => "/images/cases/almwajaha/almwajaha-screen-21.png"}

      -# Предыдущий кейс/Следующий кейс
      %section.block.case-block-end
        -# Предыдущей кейс
        %section.case-block-prev
          %a.cases-link{:href => "/cases/streetcar.html"}
            .arrow-wrapper
              %img{:src => "/images/arrow-left.svg"}
              %img{:src => "/images/cases/streetcar/streetcar-preview.png"}
              %header
                %h2.uppercase Street Car
                %p Предыдущий кейс

        -# Следующий кейс
        %section.case-block-next
          %a.cases-link{:href => "/cases/alcomath.html"}
            .arrow-wrapper
              %header
                %h2.uppercase Alcomath
                %p Следующий кейс
              %img{:src => "/images/arrow-right.svg"}
              %img{:src => "/images/cases/alcomath/alcomath-preview.png"}


      -# Футер
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
