!!!
%html(lang="ru")
  
  -# Head
  -# ####################################
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "image/png", :href => "/images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
    %script(src="/js/video.js")
  
  -# Body
  -# ####################################
  %body.case-inner-page
    
    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
    
    -# Попап: связаться с нами
    = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render
    
    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    -# ####################################
    %main#main-content
      %section.block#about-case
        %img{:alt => "Alcomath", :src =>"/images/cases/alcomath/alcomath_logo.png"}
        %h1 Home credit
        .info-wrapper
          %p Client: <РЫБА>
          %p Service: <РЫБА>
          %p Team: <РЫБА>, <РЫБА>
        %p <РЫБА> Cоциальная сеть отчаянных любителей сумасбродных вечеринок и отвязных тусовок, завсегдатаев злачных заведений города и прочих потребителей алкоголя. Проект основан на механике алко-трекера с добавлением социального функционала. Мобильное приложение позволяет хранить историю своих вечеринок, отмечая разновидность и количество выпитого спиртного, делиться впечатлениями с друзьями и искать единомышленников.
        .social-buttons
          .social-button
            .fb-share-button{"data-href" => "https://dribbble.com/", "data-layout" => "button_count", "data-mobile-iframe" => "false", "data-size" => "large"}
              %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdribbble.com%2F&src=sdkpreparse", :target => "_blank"}
          .social-button
            %a.twitter-share-button{"data-size" => "large", :href => "https://twitter.com/intent/tweet?text=Hello%20world"} Tweet


    
    -# Intro
    -# ####################################
    %section.block.case-block
      %header
        %h4 О проекте
        %p Технологии стали неотъемлемой частью общественной жизни, в особенности мобильные приложения, которые делают вещи вокруг нас комфортнее, работу -- эффективнее, общение -- доступнее. Однако, в крупных компаниях процесс внедрения последних технологий сопряжен с колоссальными временными затратами. Изменение инфраструктуры, технологического процесса и организации в таком крупном масштабе крайне затруднительно, а иногда и невозможно, поэтому даже частичное использование новейших технологий можно считать значительным достижением в области внедрения инноваций.
      %h4 <SLIDER>


    -# Problem
    -# ################################
    %section.block.case-block.text
      %header
        %h4 О проекте
        %p В повседневной работе сотрудникам Home Credit приходится решать множество как разноплановых, так и повторяющихся задач, успешное выполнение которых во многом зависит от грамотного и рационального планирования стратегии их решения. 
        %br
        %p Удержание лидирующих позиций на рынке банковских услуг требует постоянной работы над улучшением качества оказываемых клиентам услуг. Для этого Home Credit на ежедневной основе осуществляет аудит собственных торговых точек, что позволяет своевременно выявлять требующие особого внимания участки и предпринимать меры по повышению уровня клиентского сервиса в каждой точке.
      .scheme-wrapper.hc
        %figure
          %p Проблема 1
          %p Описание проблемы
        .placeholder
        %figure
          %p Проблема 2
          %p Описание важной проблемы
        .placeholder
        %figure
          %p Проблема 3
          %p Описание очень важной проблемы

    -# User scenario
    -############################
    %section.block.case-block.text
      %header
        %h4 Пользовательские сценарии
        %h5 Выполнение задачи
      .scheme-wrapper.hc
        %figure
          %p Получение
          %p Новая задача
        .arrows-wrapper
          .arrow
        %figure
          %p Выполнение
          %p Проверка места
        .arrows-wrapper
          .arrow
        %figure
          %p Завершение
          %p Задача выполнена
      %header
        %h5 Выполнение задачи
      .scheme-wrapper.hc
        %figure
          %p Оформление
          %p Новая задача
        .arrows-wrapper
          .arrow
        %figure
          %p Назначение
          %p Проверка места
        .arrows-wrapper
          .arrow
        %figure
          %p Отслеживание
          %p Проверка задачи




   

      -# Предыдущий кейс/Следующий кейс
      %section.block.case-block-end
        -# Предыдущей кейс
        %section.case-block-prev
          .arrow-wrapper
            %img{:src => "/images/arrow-left.svg"}
            %img{:src => "#"}
            %header
              %h2.uppercase Home credit
              %p Предыдущий кейс
        -# Следующий кейс
        %section.case-block-next
          .arrow-wrapper
            %header
              %h2.uppercase Mystery Dream
              %p Следующий кейс
            %img{:src => "/images/arrow-right.svg"}
            %img{:src => "/images/cases/mystery-dream/mystery-dream-preview.png"}



      
      / -# WIP
      / -# #################################### 
      / %section#wip-block.block
      /   -# Контент
      /   %header
      /     %img.icon-gear{:src => "/images/gear.svg"}
      /     %h1 Страница<br>в разработке

      -# Футер
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  -# ####################################
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
