!!!
%html(lang="ru")
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "image/png", :href => "/images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
  %body.case-inner-page
    
    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
    
    -# Попап: связаться с нами
    = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render
    
    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render
    
    -# Основной контент
    %main#main-content
      / -# Хидер
      / = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render
      
      / -# %section.block.block-first{:style => "background-image:url(/images/cases/almwajaha/almwajaha-case-bg.png)"}
  
      %section#about-case.block
        %img{:alt => "Home Credit Stuff", :src => "/images/cases/stuff/homecredit-logo.svg"}/
        %h1 Home Credit Stuff
        .info-wrapper
          %p Client: Home Credit
          %p Service: Full-service development
          %p Team: Ilya Burakov
        %p Мобильное приложение для первого в России каршеринг-сервиса. Участники клуба могут найти ближайший автомобиль и забронировать его; составить расписание поездок на день, неделю или месяц. Реализован поиск ближайших свободных автомобилей и полное управление своим бронированием через приложение.
      


      -# Основные проблемы
      %section.block.case-block
        %header
          %h4 Проблемы
          %p Well, the main problem is that the game is complicated and unfriendly for novices. We believe that current situation has been influenced mostly by the following factors:
        .wrapper-problemes
          %h4 
            %span 01
            Улучшение
            %br качества услуг
          %h4 
            %span 02
            Большие
            %br временные затраты
          %h4 
            %span 03
            Проведение
            %br ревизии работы



      -# Решение
      -#################################
      %section.block.case-block.text
        %header
          %h4 Решение
          %p Первый в Санкт-Петербурге каршеринговый клуб. Участники получают доступ к системе автоматизированного проката автомобилей, расположенных на круглосуточно доступных парковках по всей территории города. Нашей задачей было разработать дизайн мобильного приложения. 
          %br
          %p В России многие называют каршерингом сервисы краткосрочной аренды автомобиля. Пользователь берет автомобиль в одном месте и оставляет его в пункте своего назначения. Такие проекты стремятся стать комфортной альтернативой общественному транспорту, но по сути конкурируют с такси, чьи услуги обходятся дешевле и с меньшим риском (пользователь не управляет автомобилем).
          %br
          %p STREETCAR отличается клубной структурой. Сервис призван заменить личный транспорт: машины расположены по всему городу и находятся в пешей доступности. Клиенты берут авто практически во дворе и возвращают на исходную позицию (как это было бы при пользовании собственным авто). За счет этого компания снижает издержки, возникающие из-за неравномерного распределения автомобилей по городу и обеспечивает доступ к машинам для всех желающих. А главное, именно эта модель воплощает в себе суть каршеринга — совместное использование автомобиля.

      -# Пользователи
      %section.block.case-block
        %header
          %h4 Пользователи
          %p Well, the main problem is that the game is complicated and unfriendly for novices. We believe that current situation has been influenced mostly by the following factors:
        .wrapper-problemes
          %h4 
            %span Исполнение
            Аудитор
          %h4 
            %span Назначение
            Менеджер
          %h4 
            %span Развитие
            Топ Менеджер

      -# Пользовательские сценарии
      %section.block.case-block
        %header
          %h4 Пользовательские сценарии
          %p Well, the main problem is that the game is complicated and unfriendly for novices. We believe that current situation has been influenced mostly by the following factors:
        

        .wrapper-problemes
          %h4 
            %span Получение
            Новая задача
          %h4 
            %span Выполнение
            Проверка места
          %h4 
            %span Завершение
            Задача выполнена

          


      -# Проектирование
      -#####################################
      %section.block.case-block
        %header
          %h4 Проектирование
          %p Мы изучили существующий процесс бронирования автомобиля как со стороны клиента, так и со стороны менеджера компании, разобрались в логике работы системы бронирования, чтобы понимать все возможности и ограничения. Собрав необходимую информацию мы сформировали основные сценарии и use flow.
      .image-wrapper
        %img{:src => "/images/cases/stuff/flow.png"}
        -# Заглушка для видео
        / %video.video-bg{:autoplay => "autoplay", :loop => "loop", :muted => "muted"}
        /     %source{:src => "##########"}


      -# Подбор автомобиля
      -############################
      %section.block.case-block
        %header
          %h4 Визуальный дизайн
          %p Постоянный клиент может забронировать авто в три касания. По умолчанию приложение предлагает пользователю ближайший свободный автомобиль. Подобрать машину можно из списка, либо с помощью карты. Реализована возможность фильтрации по районам города, типу автомобиля, стоимости часа. При желании пользователь может спланировать расписание своих поездок на неделю вперед. 
        %h4 Концепции
        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/stuff/Concept_1.png"}
            %figcaption 
              %h5 01. Первый вариант
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/stuff/Concept_2.png"}
            %figcaption 
              %h5 02. Второй вариант
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/stuff/Concept_3.png"}
            %figcaption 
              %h5 03. Третий вариант
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/stuff/Concept_4.png"}
            %figcaption 
              %h5 04. Финальный вариант

        %h4 Шрифт
        .screen-wrapper.wrapper-problemes
          .museo-700
            %h4 
              %span Museo sans 700
              %br Контроль и качество
              План на неделю
            %h4 
              Проверка места
            %h4 
              Задача выполнена


      -# Управление бронированием
      -#######################
      %section.block.case-block
        %header
          %h4 Управление бронированием
          %p После подтверждения брони, пользователь может посмотреть местоположения авто на карте и проложить маршрут до него, если это необходимо. Чтобы открыть машину не нужно иметь при себе ключи или клубную карту — достаточно нажать кнопку в мобильном приложении. Существует возможность отменить активное бронирование или изменить время.

        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/5.png"}
            %figcaption 
              %h5 04. Экран бронирования
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/6.png"}
            %figcaption 
              %h5 05. Построить маршрут
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/7.png"}
            %figcaption 
              %h5 06. Экран поездки
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/8.png"}
            %figcaption 
              %h5 07. Поездка завершена


      -# Промокоды
      -#######################
      %section.block.case-block
        %header
          %h4 Промокоды
          %p Для более активного привлечения новых клиентов была разработана система промокодов, которыми пользователи делились со своими друзьями и знакомыми. Промокод позволяет совершить одну бесплатную поездку. Промоутеры компании раздавали брошюры с промокодами на различных мероприятиях и в местах скопления людей. Помимо этого компания дарила промокоды за совершение определенных действий в рамках ко-брендовых рекламных кампаний.

        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/13.png"}
            %figcaption 
              %h5 08. Получение промокода
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/14.png"}
            %figcaption 
              %h5 09. Введение промокода
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/15.png"}
            %figcaption 
              %h5 10. Промо от citibank
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/16.png"}
            %figcaption 
              %h5 11. Вступление в клуб

      -# Профиль пользователя
      -#######################
      %section.block.case-block
        %header
          %h4 Профиль пользователя
          %p На экране профиля пользователь видит общее количество километров, которое он проехал. Накопленные километры позволяют получать бесплатные поездки, а также другие бонусы от компании. Здесь же пользователь может составить расписание, если он пользуется автомобилем часто, привязать банковскую карту для оплаты и поменять настройки безопасности.

        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/9.png"}
            %figcaption 
              %h5 12. Экран профиля
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/10.png"}
            %figcaption 
              %h5 13. Экран расписания
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/11.png"}
            %figcaption 
              %h5 14. Привязка карты
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/12.png"}
            %figcaption 
              %h5 15. Безопасность

      -# Интеграция с metavera
      -#######################
      %section.block.case-block
        %header
          %h4 Интеграция с METAVERA
          %p Для управления системой бронирования, GPS трекинга и контроля доступа в автомобиль используется решение компании Metavera. В машинах установлены специальные устройства, подключенные к интернету. Через них осуществляется передача координат, а также статусов бронирования и данных о состоянии авто (пользователи отвечают на вопросы на устройстве перед поездкой).
          %br
          %p Перед нами стояла задача провести интеграцию с API. Мы скооперировались с командой сервиса, изучили документацию, провели внедрение и тестирование.
          %br
          %p Мы решили упростить процесс начала поездки для пользователей. В приложении мы реализовали возможность открыть машину без специальной карты, используя только мобильное приложение, так как серверная часть позволяла передавать ID клиента на устройство в автомобиле.

        .scheme-wrapper
          %figure
            %img{:src => "/images/cases/streetcar/Meta_1.png"}
            %figcaption Автомобиль
          .arrows-wrapper
            .arrow
          %figure
            %img{:src => "/images/cases/streetcar/Meta_2.png"}
            %figcaption Metavera
          .arrows-wrapper
            .arrow
          %figure
            %img{:src => "/images/cases/streetcar/Meta_3.png"}
            %figcaption API
          .arrows-wrapper
            .arrow
          %figure
            %img{:src => "/images/cases/streetcar/Meta_4.png"}
            %figcaption Приложение


      -# Развитие сервиса
      -#######################
      %section.block.case-block
        %header
          %h4 Развитие сервиса
          %p В настоящее время сервис недоступен для пользователей в связи с реструктуризацией. Компания столкнулась с большим количеством безответственных водителей, которые часто попадали в ДТП. Специфика бизнеса не позволяет страховать автомобили по КАСКО, так как стоимость поездки становится неконкурентоспособной.
          %br
          %p В настоящее время мы работаем над новой концепцией сервиса: внедряем телематику и геймификацию. Теперь приложение самостоятельно отслеживает скорость и координаты, а также сам характер езды с помощью акселлерометров и гироскопа. Участники клуба получают баллы и “уровни” в зависимости от своей аккуратности. Новичкам доступны лишь самые простые автомобили. При желании они могут взять авто классом выше, но с доплатой за предоставление страховки (КАСКО). По мере накопления баллов за аккуратную езду возможности выбора авто увеличиваются, предоставляются различные бонусы: отмена бронирования без штрафа, бесплатные километры и другое. 


        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/17.png"}
            %figcaption 
              %h5 16. Выбор авто
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/18.png"}
            %figcaption 
              %h5 17. Аренда авто
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/19.png"}
            %figcaption 
              %h5 18. Профиль
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/20.png"}
            %figcaption 
              %h5 15. Приглашение



      -# Предыдущий кейс/Следующий кейс
      %section.block.case-block-end
        -# Предыдущей кейс
        %section.case-block-prev
          .arrow-wrapper
            %img{:src => "/images/arrow-left.svg"}
            %img{:src => "/images/cases/almwajaha/almwajaha-preview.png"}
            %header
              %h2.uppercase Almwajaha
              %p Предыдущий кейс
        -# Следующий кейс
        %section.case-block-next
          .arrow-wrapper
            %header
              %h2.uppercase Home credit
              %p Следующий кейс
              //////////Replace pic
            %img{:src => "/images/arrow-right.svg"}
            %img{:src => "/images/cases/streetcar/streetcar-preview.png"}

      -# Футер
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
