!!!
%html(lang="ru")
	%head
		%meta{:charset => "utf-8"}
		-# META
		%title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
		%meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
		%meta{:name => "author", :content => "OZ INTERACTIVE"}
		-# Favicon
		%link{:rel => "icon", :type => "image/png", :href => "//images/favicon.png"}
		-# Mobile Specific Metas
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
		%meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
		-# CSS
		%link{:rel => "stylesheet", :href => "/css/main.css"}
	%body.case-inner-page
		-# Прелоадер
		= Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render

		-# Хидер
		-# #################################
		= Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

		-# Основной контент
		-# #################################

		%main#main-content

			-# Карточка проекта
			-# #################################
			%section#about-case.block
				%header
					%img{:alt => "Уникальные Кальянные", :src => "/images/cases/uhp/uhp_logo.svg"}
					%h1 Уникальные<br>Кальянные
					.info-wrapper
						%p Клиент: Unique Hookah Places
						%p Услуга: ALL INCLUSIVE
						%p Команда: Илья&nbsp;Бураков, Кирилл&nbsp;Цыганюк, Виктор&nbsp;Гнедин, Роман&nbsp;Золоторев, Татьяна&nbsp;Гребнева, Ричард&nbsp;Воронин, Сергей&nbsp;Коробов, Максим&nbsp;Индыков, Павел&nbsp;Третьяков, Денис&nbsp;Очиров
					%p Создание продукта под ключ для федеральной сети кальянных: начиная с разработка 150-страничного digital-брендингаи заканчивая созданием геймифицированного личного кабинета для сотрудников и посетителей.
					-#.social-buttons
						-#.social-button
							-#.fb-share-button{"data-href" => "https://dribbble.com/", "data-layout" => "button_count", "data-mobile-iframe" => "false", "data-size" => "large"}
								-#%a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdribbble.com%2F&src=sdkpreparse", :target => "_blank"}
						-#.social-button
							-#%a.twitter-share-button{"data-size" => "large", :href => "https://twitter.com/intent/tweet?text=Hello%20world"} Tweet

				-# Градиент
				.gradient-overlay
				-# Видео на фоне
				= Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "uhp")

			-# Ценности
			-# #################################
			%section.block.case-block
				-# Заголовок
				%header
					%h4 Ценности
					%p Формирование восприятия бренда в сознании человека — сложный процесс, зависящий от многих факторов, одним из которых являются ценности, транслируемые этим брендом. В идеологии «Уникальных Кальянных» мы выделили 6 основных ценностей, определяющих направление развития проекта. Именно они оказывают непосредственное влияние на коммуникацию между клиентом и брендом.
				-# Контент
				.wrapper-3-elements.rules
					-# Честность
					%figure
						%img{:src => "/images/cases/uhp/rules/1.svg"}
						%figcaption
							%h5 Честность
							%p «Уникальные Кальянные» дорожат своей репутацией, краеугольным камнем которой является честность. Никакая выгода не в силах заставить нас обманывать клиента или принимать у себя людей, потерявших лицо.
					-# Инновации
					%figure
						%img{:src => "/images/cases/uhp/rules/6.svg"}
						%figcaption
							%h5 Инновации
							%p Сосредоточившись исключительно на развитии существующего можно легко забыть об инновациях. Мы всегда будем радовать вас нововведениями, но их интеграция будет происходить без ущерба для комфорта и традиционных ценностей.
					-# Профессионализм
					%figure
						%img{:src => "/images/cases/uhp/rules/3.svg"}
						%figcaption
							%h5 Профессионализм
							%p Мы ценим профессионализм во всех его проявлениях. Данное требование предъявляется ко всем заведениям и сотрудникам сети. Кроме того, «Уникальные Кальянные» особенно рады принимать у себя профессионалов своего дела.
					-# Лояльность
					%figure
						%img{:src => "/images/cases/uhp/rules/2.svg"}
						%figcaption
							%h5 Лояльность
							%p Сложно представить себе тёплые и долгосрочные отношения двух сторон без лояльности по отношению друг к другу. Мы ориентированы именно на такой тип отношений и лояльность всегда будет вознаграждена в наших стенах.
					-# Желание развиваться
					%figure
						%img{:src => "/images/cases/uhp/rules/5.svg"}
						%figcaption
							%h5 Желание развиваться
							%p Отсутствие развития — это стагнация, но при условии того, что мир движется вперёд, стагнация превращается в деградацию. Мы считаем, что постоянное развитие и оптимизация должны являться непременным атрибутом любого дела.
					-# Открытость в общении
					%figure
						%img{:src => "/images/cases/uhp/rules/4.svg"}
						%figcaption
							%h5 Открытость в общении
							%p Конечная цель «Уникальных Кальянных» состоит не в заработке, а в том, чтобы создать вокруг себя сообщество близких по духу людей, готовых делиться опытом, работать, общаться и просто отдыхать вместе.

			-# Суть бренда
			-# #################################
			%section.block.case-block
				%header
					%h4 Суть бренда
					%p Суть бренда — это его ядро, та самая парадигма характеристик, определяющая компанию и выделяющая её из огромного списка других брендов.
				.wrapper-1-image
					%img{:src => "/images/cases/uhp/tagline.svg"}

			-# Принципы работы бренда на рынке
			-# #################################
			%section.block.case-block
				-# Заголовк
				%header
					%h4 Принципы работы бренда на рынке
					%p Обещание бренда это то послание, которое мы хотим передать своим клиентами. Они должны чётко понимать почему стоит выбрать именно наш бренд и какую конкретно пользу они могут получить от общения с ним. Для этого нужно выделить те качества, которые отличают нас от конкурентов.
				-# Контент
				.wrapper-2-elements
					-# Правило 5 минут
					%figure
						%img{:src => "/images/cases/uhp/promises/1.svg"}
						%figcaption
							%h5 Правило 5 минут
							%p Мы ценим свою репутацию и стремимся, чтобы сервис всегда оставался на высоком уровне. Правило пяти минут гласит: «Если в течении 5 минут после подачи кальяна, клиента что-то не устраивает или он выражает сомнения в качестве, то такой кальян подлежит замене».
					-# Индивидуальный подход
					%figure
						%img{:src => "/images/cases/uhp/promises/2.svg"}
						%figcaption
							%h5 Индивидуальный подход
							%p Индивидуальный подход — это показатель уровня сервиса. Кальянщик должен быть одновременно хорошим слушателем и отличным рассказчиком. Первое качество поможет ему узнать об индивидуальных предпочтениях клиента, что позволит создать уникальную атмосферу.
					-# Отношения к клиентам
					%figure
						%img{:src => "/images/cases/uhp/promises/3.svg"}
						%figcaption
							%h5 Отношения к клиентам
							%p Клиент — это не просто безликий гость. Следует понимать, что каждый гость имеет свою индивидуальность и отношение к нему должно быть соответствующим. С клиентом можно просто пообщаться, обсудить подходящие темы, узнать его мнение по каким-то вопросам.
					-# Отдых с пользой
					%figure
						%img{:src => "/images/cases/uhp/promises/4.svg"}
						%figcaption
							%h5 Отдых с пользой
							%p Посетители «Уникальных Кальянных» — это молодые и креативные предприниматели. Отдых в наших заведениях позволяет завести новые полезные знакомства. Следовательно, наши пространства должны подходить и для проведения деловых встреч.

			-# Целевая аудитория
			-# #################################
			%section.block.case-block
				%header
					%h4 Целевая аудитория
					%p Целевая аудитория заведений «Уникальных Кальянных» — предприниматели — они создают ценности, сконцентрированы на себе и на своих потребностях. Не стоит путать предпринимателей и бизнесменов. Бизнесмены используют ресурсы для заработка. Инвестируют в компании, но не создают их. Они потребляют продукты и услуги для повышения своего социального уровня, а не исходя из потребностей. В отличии от бизнесменов, предприниматели по своей сути креативны, деятельны и обеспечены, но спокойно смотрят на роскошь и не желают конкурировать с теми, кто напрямую от неё зависит.
				.wrapper-3-elements.our-auditory
					%figure
						%h5 Возраст
						%br
						%p 25 – 35 лет
					%figure
						%h5 Пол
						%br
						%p Преобладают мужчины
					%figure
						%h5 Ежемесячный доход
						%br
						%p Выше среднего
					%figure
						%h5 Черты личности
						%br
						%p Экстраверты, лидеры мнения
					%figure
						%h5 Социальный уровень
						%br
						%p Обладают недвижимостью в престижном районе, а также владеют практичным автомобилем
					%figure
						%h5 Семейное положение
						%br
						%p Большинство состоит в серьёзных отношениях, возможно имеют семью

			-# Письменная коммуникация
			-# #################################
			-#%section.block.case-block
				-#%header
					-#%h4 Письменная коммуникация
					-#%p Бренд зарождается в сознании людей и его восприятие зависит от многих факторов. Одним из наиболее эффективных способов общения бренда и аудитории является письменная коммуникация, но её результативность напрямую зависит от качества материалов и продуманной контентной стратегии. Помимо всего прочего, текст должен быть узнаваем, для этого он должен обладать своей уникальной стилистикой. Важно понимать, что даже незначительные детали могут повлиять на образ бренда.


			-# Голос бренда
			-# #################################
			-#%section.block.case-block
				-#%header
					-#%h4 Голос бренда
					-#%p Голос бренда — это визуальный дизайн, представленный в виде текста. За образ бренда отвечает не только визуальная составляющая, письменная тоже может и должна его передавать.
					-#%p Зачем нужен голос бренда? Можно задать копирайтеру общие правила оформления текста при помощи прямых указаний, можно грубо обозначить стилистику, но с помощью простых инструкций нельзя добиться чёткого понимания того, как именно придать тексту ту тонкую индивидуальность, которая делает его стиль по-настоящему уникальным.
					-#%p Голос бренда позволяет увидеть личность, которая должна стоять за текстом и позволит копирайтеру, исходя из этой личности, действовать в нужном ключе.

			-# Описание личности бренда
			-# #################################
			-#%section.block.case-block
				-#%header
					-#%h4 Описание личности бренда
					-#%p Формирование личности бренда необходимо для живой и естественной коммуникации с аудиторией. Важно помнить, что за брендом стоит реальная личность, которой присущи индивидуальные черты характера, речевые и письменные интонации, манера поведения.
					-#%p Именно личность создает эмоциональную связь с брендом, ведет философские диспуты и приоткрывает завесу тайного знания. В процессе коммуникации с посетителями личность бренда раскрывается, обнаруживая разные аспекты своей индивидуальности.

			-# Логотип — лицо бренда
			%section.block.case-block.case-block-image-right
				%header
					%h4 Логотип — лицо бренда
					%p Логотип заключает в себе идею о том, что неявно существует некое сообщество людей, которых объединяет кальянный ритуал. Фирменный знак — это важная часть общего образа бренда.
					%p Эта часть посвящена подробному описанию использования логотипа «Уникальных Кальянных». В ней мы расскажем о принципах построения логотипа, вариантах логотипа и их сочетаемости с различными цветами, остановимся на том, в каких случаях нельзя применять фирменный знак, а также ознакомим вас с прочими важными вещами, касающимися использования логотипа при работе с брендом.
				.image-right-wrapper.uhp-logo-big
					%img{:src => "/images/cases/uhp/uhp-screen-01.png"}

			-# Как можно использовать
			%section.block.case-block
				%header
					%h5 Как можно использовать
				.wrapper-3-elements.logo-usage
					%figure
						%img{:src => "/images/cases/uhp/logo-usage/1.svg"}
						%figcaption
							%h5 Чёрный
					%figure
						%img{:src => "/images/cases/uhp/logo-usage/2.svg"}
						%figcaption
							%h5 Яркий цветной
					%figure
						%img{:src => "/images/cases/uhp/logo-usage/3.svg"}
						%figcaption
							%h5 Тёмно-синий
					%figure
						%img{:src => "/images/cases/uhp/logo-usage/4.svg"}
						%figcaption
							%h5 Темный
					%figure
						%img{:src => "/images/cases/uhp/logo-usage/5.svg"}
						%figcaption
							%h5 Светлый
					%figure
						%img{:src => "/images/cases/uhp/logo-usage/6.svg"}
						%figcaption
							%h5 Белый


			%section.block.case-block
				%header
					%h5 Как нельзя использовать
				.wrapper-3-elements.logo-prohibited
					%figure
						%img{:src => "/images/cases/uhp/logo-prohibited/1.svg"}
							%figcaption
								%h5 Ориентация
								%p Не менять ориентацию логотипа (вращать знак, менять положение текста и так далее).
					%figure
						%img{:src => "/images/cases/uhp/logo-prohibited/2.svg"}
							%figcaption
								%h5 Сжатие
								%p Не сжимать логотип по ширине или высоте.
					%figure
						%img{:src => "/images/cases/uhp/logo-prohibited/3.svg"}
							%figcaption
								%h5 Пропорции
								%p Не менять размеры элементов логотипа.̆
					%figure
						%img{:src => "/images/cases/uhp/logo-prohibited/4.svg"}
							%figcaption
								%h5 Подложка
								%p Не помещать логотип на подложку.
					%figure
						%img{:src => "/images/cases/uhp/logo-prohibited/5.svg"}
							%figcaption
								%h5 Обводка
								%p Не добавлять логотипу обводку.
					%figure
						%img{:src => "/images/cases/uhp/logo-prohibited/6.svg"}
							%figcaption
								%h5 Разделение
								%p Не использовать знак и текст по отдельности.
					%figure
						%img{:src => "/images/cases/uhp/logo-prohibited/7.svg"}
							%figcaption
								%h5 Цвет
								%p Не использовать в логотипе сторонние цвета.
					%figure
						%img{:src => "/images/cases/uhp/logo-prohibited/8.svg"}
							%figcaption
								%h5 Креатив
								%p Не добавлять к логотипу никаких элементов.
					%figure
						%img{:src => "/images/cases/uhp/logo-prohibited/9.svg"}
							%figcaption
								%h5 Фотография
								%p Не вставлять в логотип фотографию.

			-# Цвета бренда
			-# #################################
			%section
				%header.block
					%h4 Цвета бренда
					%p Фирменные цвета — это одна из основ формирования визуального восприятия бренда потребителем. Именно они используются при создании иллюстраций, визуальном оформлении носителей и всех остальных элементов, где используется цвет. Разумеется, неправильное использование цветов может привести к созданию неверного образа бренда «Уникальных Кальянных» в сознании посетителей.
				.wrapper-uhp-colors
					-# Золотой
					.wrapper-uhp-color.uhp-gold
						.wrapper-text
							%h5 Золотой
							%p HEX: #EEA93C
							%p RGB: 238, 169, 60
							%p CMYK: 4, 32, 85, 0
						.wrapper-color
					-# Темно-синий
					.wrapper-uhp-color.uhp-navy
						.wrapper-text
							%h5 Темно-синий
							%p HEX: #272A33
							%p RGB: 39, 42, 51
							%p CMYK: 87, 39, 51, 54
						.wrapper-color
					-# Серый
					.wrapper-uhp-color.uhp-gray
						.wrapper-text
							%h5 Серый
							%p HEX: #666E75
							%p RGB: 102, 110, 117
							%p CMYK: 60, 50, 41, 11
						.wrapper-color
					-# Белый
					.wrapper-uhp-color.uhp-white
						.wrapper-text
							%h5 Белый
							%p HEX: #FFFFFF
							%p RGB: 255, 255, 255
							%p CMYK: 0, 0,0, 0
						.wrapper-color

			-# Комбинации цветов
			-# #################################
			%section.block.case-block
				%header
					%h5 Комбинации цветов
				.wrapper-2-elements
					-# Левая колонка
					.wrapper-2-elements
						-# Золотой/Темной-синий
						.wrapper-uhp-color.uhp-gold
							.wrapper-text
								%h5 Золотой
							.wrapper-color
						.wrapper-uhp-color.uhp-navy
							.wrapper-text
								%h5 Темно-синий
							.wrapper-color
						-# Белый/Темной-синий
						.wrapper-uhp-color.uhp-white
							.wrapper-text
								%h5 Белый
							.wrapper-color
						.wrapper-uhp-color.uhp-navy
							.wrapper-text
								%h5 Темно-синий
							.wrapper-color
						-# Серый/Темной-синий
						.wrapper-uhp-color.uhp-gray
							.wrapper-text
								%h5 Серый
							.wrapper-color
						.wrapper-uhp-color.uhp-navy
							.wrapper-text
								%h5 Темно-синий
							.wrapper-color
						-# Золотой/белый
						.wrapper-uhp-color.uhp-gold
							.wrapper-text
								%h5 Золотой
							.wrapper-color
						.wrapper-uhp-color.uhp-white
							.wrapper-text
								%h5 Белый
							.wrapper-color

					-# Правая колонка
					.wrapper-2-elements
						-# Серый / Белый
						.wrapper-uhp-color.uhp-gray
							.wrapper-text
								%h5 Серый
							.wrapper-color
						.wrapper-uhp-color.uhp-white
							.wrapper-text
								%h5 Белый
							.wrapper-color
						-# Темной-синий / Белый
						.wrapper-uhp-color.uhp-navy
							.wrapper-text
								%h5 Темно-синий
							.wrapper-color
						.wrapper-uhp-color.uhp-white
							.wrapper-text
								%h5 Белый
							.wrapper-color
						-# Белый / Серый
						.wrapper-uhp-color.uhp-white
							.wrapper-text
								%h5 Белый
							.wrapper-color
						.wrapper-uhp-color.uhp-gray
							.wrapper-text
								%h5 Серый
							.wrapper-color
						-# Темной-синий / Золотой
						.wrapper-uhp-color.uhp-navy
							.wrapper-text
								%h5 Темно-синий
							.wrapper-color
						.wrapper-uhp-color.uhp-gold
							.wrapper-text
								%h5 Золотой
							.wrapper-color

			-# Типографика
			-# #################################
			%section.block.case-block
				.wrapper-2-columns
					.wrapper-column
						%header
							%h4 Типографика
							%p В оформлении материалов мы комбинируем в заголовках гротескный и кондовый Bebas Neue с современной антиквой Lora. Первая гарнитура подчёркивает взрывной характер заголовка, а вторая даёт отсылку к историческим ценностям. Для набора текста используется Open Sans, являющийся одной из самых удобных для чтения гарнитур.
						.wrapper-image
							%img{:src => "/images/cases/uhp/typography-fonts.svg"}
					.wrapper-column
						.wrapper-image-big
							%img{:src => "/images/cases/uhp/typography-characters.svg"}


			-# Модульная сетка
			-# #################################
			%section.block.case-block
				%header
					%h4 Модульная сетка
					%p Существует огромное количество носителей и единство визуального оформления может затеряться. Модульная сетка присутствует везде и определяет единство построения, не давая нарушить визуальный стиль. Поэтому в графических элементах используется сетка, построенная нетипичным способом: сама контентная область делится на модульные блоки, число которых так же равно первым числам Фибоначчи. Размер и количество блоков определяются интерльяжем наборного шрифта.
				.wrapper-1-image
					%img{:src => "/images/cases/uhp/modular-grid.svg"}

			-# Иллюстрации
			-# #################################
			-#%section.block.case-block
				-#%header
					-#%h4 Иллюстрации
					-#%p Стиль иллюстраций основывается на масонских гравюрах, а также изображениях, относящихся к периоду позднего Средневековья. Изображения контурны, минималистичны и адаптированы под наше время. Иллюстрации могут использоваться не только как графические, но и как смысловые элементы, которые могут послужить основой для написания историй, дополняющих образ бренда в сознании потребителя, а также выступить в виде компонентов для создания гербов наших заведений.

			-# Уникальное оформление
			-# #################################
			-#%section.block.case-block
				-#%header
					-#%h4 Уникальное оформление
					-#%p Важной концепцией нашего бренда является уникальное оформление заведений. В данной главе вы ознакомитесь со спецификой создания индивидуальных особенностей для каждого отдельного заведения.

			-# Гербы и геральдика
			-# #################################
			%section.block.case-block.case-block-image-right
				%header
					%h4 Гербы и геральдика
					%p Герб, как эмблема или отличительный знак, появился в Средние века в Западной Европе. Первый герб датируется XII веком. На протяжении долгого времени гербы были лицом государств, воинских подразделений, элитных династий, студенческих клубов.
					%p В «Уникальных Кальянных» каждое отдельное заведение имеет свой герб. Для упрощения роста бренда мы создали концепцию сборки гербов из составных элементов. Такой подход позволяет создать герб заведения за минимальное количество времени и при этом держаться в рамках общего визуального стиля. Полное руководство по использования гербов, допустимых для них форматов и цветов, мы описали в брендбуке.
				.image-right-wrapper.uhp-gerb-big
					%img{:src => "/images/cases/uhp/blazons/liberty.svg"}


			-# Составные части герба
			-# #################################
			-# %section.block.case-block
			-# 	%header
			-# 		%h5 Составные части герба
			-# 		%p Изучением традиций и практики использования и построения гербов занимается историческая дисциплина геральдика. Основываясь на её концепциях, из всего массива составных элементор герба мы выбрали 5 основных: шлем, щит, девиз, щитодержатели и гербовую фигуру.

			-# Примеры гербов заведений
			-# #################################
			%section.block.case-block
				-# Заголовок
				%header
					%h5 Примеры гербов заведений
					%br
					%p При оформлении материалов используется в заголовках гротескный и кондовый Bebas Neue с современной антиквой Lora.

				-# Контент
				.wrapper-3-elements.blazons
					-# «Крафт»
					%figure
						%img{:src => "/images/cases/uhp/blazons/1.svg"}
						%figcaption
							%h5 Уникальная кальянная «Крафт»
							%br
							%p Нижний новгород
					-# «Академия»
					%figure
						%img{:src => "/images/cases/uhp/blazons/2.svg"}
						%figcaption
							%h5 Уникальная кальянная «Академия»
							%br
							%p Санкт-Петербург
					-# «Облака»
					%figure
						%img{:src => "/images/cases/uhp/blazons/3.svg"}
						%figcaption
							%h5 Уникальная кальянная «Облака»
							%br
							%p Воронеж
					-# «Зал единства»
					%figure
						%img{:src => "/images/cases/uhp/blazons/4.svg"}
						%figcaption
							%h5 Уникальная кальянная «Зал единства»
							%br
							%p Казань
					-# «Резерв»
					%figure
						%img{:src => "/images/cases/uhp/blazons/5.svg"}
						%figcaption
							%h5 Уникальная кальянная «Резерв»
							%br
							%p Тюмень
					-# «Сумерки»
					%figure
						%img{:src => "/images/cases/uhp/blazons/6.svg"}
						%figcaption
							%h5 Уникальная кальянная «Сумерки»
							%br
							%p Санкт-Петербург

			-# Узоры в брендинге
			-# #################################
			%section.block.case-block
				%header
					%h4 Узоры в брендинге
					%p Помимо герба, каждая отдельная кальянная имеет свой паттерн. Для стилистического единства мы используем одну структуру паттернов для всех кальянных, но при этом наполняем её различными визуальными элементами для унификации каждого отдельного заведения.
					%p Паттерн — набор повторяющихся элеменов, образующий общую визуальную картину и воспринимаемый человеком как единое целое. Из графических паттернов складываются узоры, встречаемые в древнем быте и культуре многих народов.
			.image-wrapper
				%img{:src => "/images/cases/uhp/patterns/pattern.svg"}

			-# Построение паттернов
			-# #################################
			%section.block.case-block
				-# Заголовок
				%header
					%h4 Построение паттернов
					%p В качестве визуальных элементов мы используем гербовую фигуру и геральдический шлем, содержащийся в гербе кальянной, а также один из специальных фонов.
				-# Контент
				.wrapper-3-elements.pattern-stage
					-# Выбор фона
					%figure
						%img{:src => "/images/cases/uhp/patterns/pattern-stage-1.svg"}
						%figcaption
							%h5 Выбор фона паттерна
							%p Фон паттерна выбирается из представленного набора произвольно, он не связан с гербом.
					-# Добавление фигур
					%figure
						%img{:src => "/images/cases/uhp/patterns/pattern-stage-2.svg"}
						%figcaption
							%h5 Добавление гербовых фигур
							%p Для использования в паттерне выбирается гербовая фигура и размещается в вершинах ромба.
					-# Добавление шлема
					%figure
						%img{:src => "/images/cases/uhp/patterns/pattern-stage-3.svg"}
						%figcaption
							%h5 Добавление геральдического шлема
							%p Геральдический шлем, используемый в гербе, размещается в центре ромба.

			-# Уникальные Цвета
			-# #################################
			-#%section.block.case-block.case-block-image
				-#%header
					-#%h4 Уникальные Цвета
					-#%p Наравне с фирменными цветами бренда, для оформления каждой кальянной подразумевается использование уникального цвета. Цвет очень сильно влияет на восприятие и запоминание человеком айдентики.

			-# Дизайн интерьера
			-# #################################
			%section.block.case-block
				%header
					%h4 Дизайн интерьера
					%p Концепция интерьера, как и в целом вся визуальная идентификация бренда, строится на контрасте и мелких деталях. Основу задают белые потолок и стены вместе с тёмной и черной мебелью. А различные брендированные материалы вроде подушек, столов, кружек и прочего подчёркивают индивидуальность заведения.

				-# Большой зал
				-# #################################
				%header
					%h5 Большой зал
					%p Комбинация чёрно-белой плитки, белых стен, а также геральдической шторы и штандартов, даже при отсутствии естественного освещения, создает необычную атмосферу средневековых тайных сообществ, рыцарских орденов и секретных комнат.

				.image-grid-wrapper
					%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-01.png"}
					%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-02.png"}
					%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-03.png"}

				-# Малый зал
				-# #################################
				%header
					%h5 Малый зал
					%p В отличии от постоянно шумного и дымного Большого зала, в Малом зале царит тишина и спокойствие. Он подходит как для деловых встреч, так и для шумных посиделок в компании друзей.

				.image-grid-wrapper
					%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-04.png"}
					%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-05.png"}
					%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-06.png"}

				%header
					%h5 Прихожая
					%p Кухня превратилась в прихожую, при этом не утеряв изначальное предназначение. Здесь, как и во всем интерьере, мы развивали идею с геймификацией. Кухня может служить точкой выдачи наград: стеллаж на заднем фоне наполнен как рабочими, так и трофейными кальянами для особых посетителей.

				.image-grid-wrapper
					%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-07.png"}
					%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-08.png"}
					%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-09.png"}

				/ -#%header
				/ 	-#%h5 Детали интерьера

				/ .image-grid-wrapper
				/ 	.images-six-interior
				/ 		%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-01.jpg"}
				/ 		%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-02.jpg"}
				/ 		%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-03.jpg"}
				/ 		%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-04.jpg"}
				/ 		%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-05.jpg"}
				/ 		%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-06.jpg"}
				/ 	.images-six-interior
				/ 		%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-07.jpg"}
				/ 		%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-08.jpg"}
				/ 		%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-09.jpg"}
				/ 		%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-10.jpg"}
				/ 		%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-11.jpg"}
				/ 		%img{:src => "/images/cases/uhp/interior/uhp-screen-interior-12.jpg"}

			-# Сайт
			-# #################################
			%section.block.case-block
				%header
					%h4 Сайт
					%p Сайт Уникальных Кальянных отражает философию, подход и ценности проекта. На нем располагается личный кабинет для сотрудников и посетителей, страницы каждого заведения сети, информация о системе геймификации и лояльности, история становления сети кальянных.


				-# Вход и регистрация
				-# #################################
				%header
					%h5 Вход и регистрация
					%p Для гостей и сотрудников нашей сети мы создали личный кабинет, в котором можно посмотреть основную информацию профиля, историю посещения заведений, график рабочих смен и список приобретенных навыков, достижений.

				.wrapper-3-elements.gallery
					%figure
						%img{:src => "/images/cases/uhp/site/uhp-site-01.png"}
						%figcaption
							%h5 01. Вход
					%figure
						%img{:src => "/images/cases/uhp/site/uhp-site-02.png"}
						%figcaption
							%h5 02. Регистрация
					%figure
						%img{:src => "/images/cases/uhp/site/uhp-site-03.png"}
						%figcaption
							%h5 03. Меню

				-# Заведения
				-# #################################
				%header
					%h5 Заведения
					%p Каждое заведение нашей сети уникально в своем оформлении и неизменно в подходе к гостю. Страница заведения содержит подробную информацию о каждой кальянной ложе: адрес, телефон, режим работы заведения; фотографии интерьера; профили кальянных мастеров; возможность бронирования столика.


				.wrapper-3-elements.gallery
					%figure
						%img{:src => "/images/cases/uhp/site/uhp-site-04.png"}
						%figcaption
							%h5 04. Заведения
					%figure
						%img{:src => "/images/cases/uhp/site/uhp-site-05.png"}
						%figcaption
							%h5 05. Заведение
					%figure
						%img{:src => "/images/cases/uhp/site/uhp-site-06.png"}
						%figcaption
							%h5 06. Бронирование

				-# Сообщество
				-# #################################
				%header
					%h5 Сообщество
					%p Страница отражает фундаментальные идеи и положения образовавшегося вокруг кальянного ритуала сообщества, объясняет основное назначение программы лояльности.

				.wrapper-3-elements.gallery
					%figure
						%img{:src => "/images/cases/uhp/site/uhp-site-07.png"}
						%figcaption
							%h5 07. Основные ценности
					%figure
						%img{:src => "/images/cases/uhp/site/uhp-site-08.png"}
						%figcaption
							%h5 08. Система лояльности
					%figure
						%img{:src => "/images/cases/uhp/site/uhp-site-09.png"}
						%figcaption
							%h5 09. Полезные знакомства

				-# Достижения и навыки
				-# #################################
				%header
					%h5 Личный кабинет
					%p Личный кабинет содержит основную информацию о посетителе или сотруднике заведения и предоставляет следующие возможности: посмотреть количество баллов, необходимых для повышения уровня; забронировать столик в заведении; назначить встречу в заведении, выслав приглашение; посмотреть список открытых бонусов, навыков и достижений; посмотреть график рабочих смен (для сотрудника); посмотреть историю бронирований и посещений (для посетителя); посмотреть рейтинг посетителей.


				.wrapper-3-elements.gallery
					%figure
						%img{:src => "/images/cases/uhp/site/uhp-site-10.png"}
						%figcaption
							%h5 10. Личный кабинет
					%figure
						%img{:src => "/images/cases/uhp/site/uhp-site-11.png"}
						%figcaption
							%h5 11. Навыки
					%figure
						%img{:src => "/images/cases/uhp/site/uhp-site-12.png"}
						%figcaption
							%h5 12. Достижение

			-# Достижения и навыки
			%section.block.case-block
				%header
					%h4 Иконки достижений и навыков
					%p Для того, чтобы система геймификации была максимально эффективной и захватывающей, было нарисовано несколько десятков уникальных иконок достижений и навыков. Каждая из них вдохновлена масонскими гравюрами и сюжетами позднего средневековья и адаптирована под современность.
			.image-wrapper
				%img{:src => "/images/cases/uhp/uhp-screen-achievments.png"}


			-#%section.block.case-block.case-block-image
				-#%header
					-#%h4 Иконки достижений и навыков
					-#%p Для того, чтобы система геймификации была максимально эффективной и захватывающей, было нарисовано несколько десятков уникальных иконок достижений и навыков. Каждая из них вдохновлена масонскими гравюрами и сюжетами позднего средневековья и адаптирована под современность.
				-#.achievments-wrapper
					-#.image
						-#%img{:src => "/images/cases/uhp/achievements/achievmenets_01.png"}
					-#.image
						-#%img{:src => "/images/cases/uhp/achievements/achievmenets_18.png"}

			-# Предыдущий кейс/Следующий кейс
			%section.block.case-block-end
				-# Предыдущей кейс
				%section.case-block-prev
					%a.cases-link{:href => "/cases/alcomath.html"}
						.arrow-wrapper
							%img{:src => "/images/arrow-left.svg"}
							%img{:src => "/images/cases/alcomath/alcomath-preview.png"}
							%header
								%h2.uppercase Alcomath
								%p Предыдущий кейс
				-# Следующий кейс
				%section.case-block-next
					%a.cases-link{:href => "/cases/streetcar.html"}
						.arrow-wrapper
							%header
								%h2.uppercase Street Car
								%p Следующий кейс
							%img{:src => "/images/arrow-right.svg"}
							%img{:src => "/images/cases/streetcar/streetcar-preview.png"}

			-# Футер
			= Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

	-# Скрипты
	= Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
