!!!
%html(lang="ru")
  
  -# Head
  -# ####################################
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "image/png", :href => "/images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
    %script(src="/js/video.js")
  
  -# Body
  -# ####################################
  %body.page-home
    
    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
    
    -# Попап: связаться с нами
    = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render
    
    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    -# ####################################
    %main#main-content
      
      -# WIP
      -# #################################### 
      %section#wip-block.block
        -# Контент
        %header
          %img.icon-gear{:src => "/images/gear.svg"}
          %h1 Страница<br>в разработке
        
      

      -# Футер
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  -# ####################################
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
