-# %section#popup_contact.form_bg
-# 		%form.form
-# 			.popup_cross
-# 				%img{:alt => "Закрыть", :src => "images/cross.svg"}/
-# 			%fieldset
-# 				%legend.form Контактные данные
-# 				/ <input type="text" name="theme"> Было бы неплохо сделать дропдаун с темами
-# 				%input.form{:name => "email", :placeholder => "*Email", :required => "", :type => "email"}/
-# 				%input.form{:name => "name", :placeholder => "Имя", :required => "", :type => "text"}/
-# 				%input.form{:name => "company", :placeholder => "Компания", :type => "text"}/
-# 			%fieldset
-# 				%legend.form Тема письма
-# 				%textarea.form{:name => "description", :placeholder => "*Краткое описание задачи", :required => ""}
-# 			%fieldset
-# 				%legend.form Прикрепить файл
-# 				%label.uploadbutton.form
-# 					#upload_btn.btn_brief.upload_file.form
-# 						%span#name_file Файл не выбран
-# 					%input#upload_file{:name => "file", :type => "file"}/
-# 			%button.btn_brief.btn_sendus.form{:name => "sumbit"}
-# 				%small