%header.page-header#header
  
  %a{:href => "/index.html"}
    %img#logo{:alt => "OZ INTERACTIVE", :src => "/images/logo.svg"}
  %img#icon-menu-cross{:alt => "Меню", :src => "/images/cross.svg"}
  
  %nav
    .links-wrapper
      %a{:href => "/"} Главная
      %a{:href => "/about.html"} О компании
      %a{:href => "/services.html"} Услуги
      %a{:href => "/cases.html"}  Кейсы
      %a{:href => "/wip.html"}  Блог
      %a{:href => "/contacts.html"}  Контакты

  %img#icon-menu{:alt => "Меню", :src => "/images/menu.svg"}

    -# .languages-wrapper
    -#   %a{:href => "index-en.html"}
    -#     .flag-wrapper
    -#       %img{:src => "images/flag-uk.svg"}
    -#     %p EN
  
  
    