%section#lets-work-together.block
  %header
    %h2.uppercase Если у вас есть интересные идеи, будем рады пообщаться!
    -# %button.open-form-btn.button
    -#   %small
  .contacts-wrapper
    %h4 Всегда на связи:
    %section.contacts
      %p Пишите:
      %p in@oz.digital
    %section.contacts
      %p Звоните:
      %p 8 (812) 913-79-00
    %section.contacts
      %p Приходите:
      %p 8-Я ЛИНИЯ Д. 29 В.О.