%section#popup_contact.form_bg
  .popup_cross
    %img{:alt => "Закрыть", :src => "images/cross.svg"}
  %form.form
    %fieldset.form
      %legend.form Контактные данные
      / <input type="text" name="theme"> Было бы неплохо сделать дропдаун с темами
      %input.form{:name => "email", :placeholder => "*Email", :required => "", :type => "email"}/
      %input.form{:name => "name", :placeholder => "Имя", :required => "", :type => "text"}/
      %input.form{:name => "company", :placeholder => "Компания", :type => "text"}/
    %fieldset.form
      %legend.form Тема письма
      %textarea.form{:name => "description", :placeholder => "*Краткое описание задачи", :required => ""}
    %fieldset.form
      %legend.form Прикрепить файл
      %label.uploadbutton.form
        #upload_btn.button.upload_file.form
          %input#upload_file{:name => "file", :type => "file"}
          %span#name_file Файл не выбран
    %button.button.form{:name => "sumbit"}
      %small