%section#preloader
  .oz_wrapper
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %br
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %br
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %br
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %br
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
