-# jQuery
%script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
-# GSAP
%script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js")
-# Прелоадер
%script(src="/js/preloader.js")
-# Slick Slider
%script(src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
-# Videos for mobile
%script(src="/js/video.js")
-# Settings
%script(src="/js/settings.js")