.case-inner-page .block {
  padding-bottom: 0; }
  .case-inner-page .block header {
    margin-bottom: 48rem; }

.wrapper-2-elements {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap; }
  .wrapper-2-elements figure {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 48%;
    margin-bottom: 48rem; }
    .wrapper-2-elements figure img {
      height: 96rem;
      margin-right: 40rem; }
    .wrapper-2-elements figure figcaption h5 {
      margin-bottom: 8rem; }

.wrapper-3-elements {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap; }
  .wrapper-3-elements figure {
    width: 30%;
    margin-bottom: 48rem; }
    .wrapper-3-elements figure img {
      height: 64rem;
      margin-bottom: 32rem; }
    .wrapper-3-elements figure figcaption h5 {
      display: block;
      margin-bottom: 8rem; }

.wrapper-2-columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between; }
  .wrapper-2-columns .wrapper-column {
    width: calc(50% - 48rem); }
    .wrapper-2-columns .wrapper-column .wrapper-image {
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
      .wrapper-2-columns .wrapper-column .wrapper-image img {
        width: 75%; }
    .wrapper-2-columns .wrapper-column .wrapper-image-big {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: auto; }
      .wrapper-2-columns .wrapper-column .wrapper-image-big img {
        width: 123%; }
