!!!
%html(lang="ru")
	%head
		%meta{:charset => "utf-8"}
		%title OZ INTERACTIVE
		-# Basic Page Needs
		%title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
		%meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
		%meta{:name => "author", :content => "OZ INTERACTIVE"}
		%link{:rel => "icon", :type => "/image/png", :href => "images/favicon.png"}
		-# Mobile Specific Metas
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
		%meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
		-# CSS
		%link{:rel => "stylesheet", :href => "/css/main.css"}
		<script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
	%body.page-home
	
		-# Прелоадер
		= Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
		-# Попап: связаться с нами
		= Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render
		
		-# Хидер
		= Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

		-# Основной контент
		%main#main-content
			-# О компании
			%section#services-hero.block-hero.block
				%header
					%h1 О компании
				%footer
					%h4 会社向 の プレ<br>ゼ ン テ ー ション
				-# Градиент
				.gradient-overlay
				-# Видео на фоне
				= Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "about-rules-bg")
				
			
			-# Философия
			%section#our-philosophy.block
				%header
					%h2 Мы выросли из небольшой команды дизайнеров. По мере развития компании мы занимались стартапами и мобильными играми. Мы много работали и теперь OZ INTERACTIVE — крупное полносервисное агентство, предоставляющее уникальную экспертизу в комплексном развитии проектов.

				.history-wrapper
					%figure
						%img{:src => "/images/about/cupboard.svg"}
						%figcaption
							%h4 Cupboard
							%p Дизайн-бюро Cupboard появилось в 2014 году. В это время мы строили идеальный процесс создания дизайна, а также его внедрения и поддержки. Уровень качества рос с каждой новой работой. Постепенно мы расширяли спектр услуг: стали самостоятельно верстать макеты, появились свои мобильные и серверные разработчики.
					%figure
						%img{:src => "/images/about/alcomath-mimicra.svg"}
						%figcaption
							%h4 Alcomath & Mimicra
							%p Мы научились успешно решать задачи наших клиентов и занялись развитием внутренних проектов. Мы прошли весь путь создания digital продукта от стратегии до запуска, детально изучили все особенности и подводные камни. Этот опыт помог стать нам стать продуктовой компанией и выработать уникальный подход.
					%figure
						%img{:src => "/images/about/ozinteractive.svg"}
						%figcaption
							%h4 OZ INTERACTIVE
							%p Мы собрали идеальную команду, для воплощения всех задуманных идей. Сейчас у нас в штате более 20 человек, среди них дизайнеры, разработчики, продюсеры и маркетологи. Есть собственный photo & video production. Мы работаем с клиентами из России, Германии, Канады, Саудовской Аравии. При этом дизайн был и остается основой всего, что мы делаем.

			
			-# Принципы и ценности
			%section#our-values.block
				%header
					%h2.uppercase Принципы и ценности
				.rules-wrapper
					.rule
						%span 1
						%h4 Любовь
						%p Мы любим свою работу. Любим проекты, которые делаем. Мы очарованы новыми технологиями и возможностями, которые они открывают. Любим сложные задачи и очень трепетно относимся ко всему, что делаем.

					.rule
						%span 2
						%h4 Экспертиза
						%p Мы — команда экспертов в своей отрасли. Наш опыт успешной решения задач клиентов показывает, что предложенные и разработанные нами инструменты работают эффективно, приносят пользу своим владельцам и целевой аудитории. С большинством клиентов мы работаем на постоянной основе.

					.rule
						%span 3
						%h4 Видение
						%p Мы не беремся за разработку или дизайн по техническому заданию клиента. Наша цель — создание успешного продукта, а это далеко не только кодинг или дизайн. Поэтому мы предлагаем клиентам наше видение и подход, с помощью  которых удается достичь высоких результатов и сделать уникальный продукт.

					.rule
						%span 4
						%h4 Философия
						%p Мы фокусируемся на крутых инновационных проектах. Наше правило — каждый новый проект должен быть на порядок успешнее предыдущего, повышать экспертизу команды и выводить бизнес клиента на новый уровень.

					.rule
						%span 5
						%h4 Ответственность
						%p Мы серьезно относимся к данным обещаниям и своей репутации, и ожидаем такого же подхода от партнеров. Мы предлагаем только лучшие практики и технологии, несем ответственность за принятые решения.

					.rule
						%span 6
						%h4 Собственные проекты
						%p Мы занимаемся не только заказной разработкой, но и развитием собственные проекты. Благодаря этому нам&nbsp;удалось детально изучить все аспекты создания продукта от идеи до запуска, и отточить рабочий процесс.
				-# Видео на фоне
				= Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "about-hero-bg")
			
			-# Команда
			= Haml::Engine.new(File.read('app/haml/sections/our-team.haml')).render

			-# Вакансии
			%section#vacancies.block
				%header
					%span Работа в OZ
					%h2 Мы ценим талантливых и ответственных людей, прикладываем все усилия, чтобы в компании работали настоящие мастера своего дела.

				.vacancies-wrapper
					.column
						%a{:href => "https://spb.hh.ru/vacancy/17949230"} - Android разработчик
						%a{:href => "https://spb.hh.ru/vacancy/17811723"} - iOS разработчик
					.column
						%a{:href => "https://spb.hh.ru/vacancy/17811784"} - Frontend разработчик

				%p *Нет подходящей вакансии в списке, но ты считаешь что, твой опыт, навыки и подход к работе будут полезны? Напиши нам о себе и своем опыте сюда: in@oz.digital. Будем рады знакомству!

				-# Градиент
				.gradient-overlay
				-# Видео на фоне
				= Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "about-vacansys-bg")	

			-# Наши клиенты
			= Haml::Engine.new(File.read('app/haml/sections/our-clients.haml')).render
			
			-# Партнеры
			-# %section.block
			-# 	%header
			-# 		%h2 У нас много партнеров и мы надеемся их число будет расти
			-# 		%p Мы рады, что число наших партнеров постоянно растет. Возможно Вы — следующий? Самое время познакомиться! Мы всегда открыты интересным предложениям и новым друзьям.

			-# Контакты
			= Haml::Engine.new(File.read('app/haml/parts/_letsworktogether.haml')).render
			
			-# Футер
			= Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

	-# Скрипты
	= Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
