!!!
%html(lang="ru")
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "/image/png", :href => "images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
  %body.page-home

    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
    -# Попап: связаться с нами
    -# = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render

    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    %main#main-content
      -# Кейсы
      -# ####################################

      %section#services-hero.block-hero.block
        %header
          %h1 Кейсы
        %footer
          %h4 会社向 の プレ<br>ゼ ン テ ー ション
        -# Градиент
        .gradient-overlay
        -# Видео на фоне
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "cases-hero-video")

      -# Лучшие кейсы
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/sections/_cases.haml')).render

      -# Наши кейсы
      -# ####################################
      %section#our-cases.block
        %header
          %span Наши кейсы
          %h2 В своих работах мы стремимся найти идеал и превзойти его, раздвинуть границы привычного и разработать будущее. Без полной самоотдачи, усердной работы и любви к своему делу невозможно создать уникальный продукт, изменяющий эту реальность.

      -# Сетка с проектами
      %section#cases-grid
        -# UHP
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Уникальные Кальянные", :service => "Все включено" , :image => "images/cases/uhp/uhp-preview.png", :link => "/cases/uhp.html")

        -# Street Car
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Street Car", :service => "Все включено" , :image => "images/cases/streetcar/streetcar-preview.png", :link => "/cases/streetcar.html")

        -# Almwajaha
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Almwajaha", :service => "Редизайн" , :image => "images/cases/almwajaha/almwajaha-preview.png", :link => "/cases/almwajaha.html")

        -# Alcomath
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Alcomath", :service => "Все включено" , :image => "images/cases/alcomath/alcomath-preview.png", :link => "cases/alcomath.html")

        -# Home Credit
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Home Credit Stuff", :service => "Проектирование и дизайн" , :image => "images/cases/stuff/stuff-preview.gif", :link => "/wip.html")

        -# Mystery Dream
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Mystery Dream", :service => "Все включено" , :image => "images/cases/mystery-dream/mystery-dream-preview.png", :link => "/wip.html")

        -# VK Fest
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Фестиваль Вконтакте", :service => "Репортажная съемка" , :image => "images/cases/vk-fest/vk-fest-preview.png", :link => "/wip.html")

        -# Tatakoto
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Tatakoto", :service => "Концепция брендинга" , :image => "images/cases/tatakoto/tatakoto-preview.png", :link => "/wip.html")

        -# -# Paxum
        -# = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Paxum", :service => "Все включено" , :image => "images/cases/paxum/paxum-preview.png", :link => "cases/paxum.html")

        -# Mimicra
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Mimicra", :service => "Все включено" , :image => "images/cases/mimicra/mimicra-preview.png", :link => "/wip.html")

        -# AHT
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "AHT Capsule Collection", :service => "Рекламная съемка" , :image => "images/cases/aht/aht-preview.png", :link => "/wip.html")

      -# Наши клиенты
      = Haml::Engine.new(File.read('app/haml/sections/our-clients.haml')).render

      -# Контакты
      = Haml::Engine.new(File.read('app/haml/parts/_letsworktogether.haml')).render

      -# Футер
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
