!!!
%html(lang="ru")
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "/image/png", :href => "images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
  %body.page-home
  
    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
    -# Попап: связаться с нами
    -# = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render
    
    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    %main#main-content
      -# Наши услуги
      #services-hero.block-hero.block
        %header
          %h1 Контакты
        %footer
          %h4 会社 OZ INTERACTIVE<br>向 の プレ ゼ ン テ ー ション
        -# Градиент
        .gradient-overlay
        -# Видео на фоне
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "contacts-hero-video")

      -# Контакты
      = Haml::Engine.new(File.read('app/haml/parts/_letsworktogether.haml')).render

      #our-location
      <script>
      var map;
      function initialize() {
      map = new google.maps.Map(document.getElementById('our-location'), {
      zoom: 10,

      scrollwheel: false,
      scaleControl: false,
      mapTypeControl: false,

      center: new google.maps.LatLng(59.94434800000001,30.28083300000003),
      mapTypeId: 'roadmap',

      styles: [
      {
      "featureType": "all",
      "elementType": "labels.text.fill",
      "stylers": [
      {
      "saturation": 36
      },
      {
      "color": "#000000"
      },
      {
      "lightness": 40
      }
      ]
      },
      {
      "featureType": "all",
      "elementType": "labels.text.stroke",
      "stylers": [
      {
      "visibility": "on"
      },
      {
      "color": "#000000"
      },
      {
      "lightness": 16
      }
      ]
      },
      {
      "featureType": "all",
      "elementType": "labels.icon",
      "stylers": [
      {
      "visibility": "off"
      }
      ]
      },
      {
      "featureType": "administrative",
      "elementType": "geometry.fill",
      "stylers": [
      {
      "color": "#000000"
      },
      {
      "lightness": "24"
      }
      ]
      },
      {
      "featureType": "administrative",
      "elementType": "geometry.stroke",
      "stylers": [
      {
      "color": "#000000"
      },
      {
      "lightness": 17
      },
      {
      "weight": 1.2
      }
      ]
      },
      {
      "featureType": "administrative.locality",
      "elementType": "labels",
      "stylers": [
      {
      "visibility": "off"
      }
      ]
      },
      {
      "featureType": "administrative.neighborhood",
      "elementType": "labels",
      "stylers": [
      {
      "visibility": "simplified"
      }
      ]
      },
      {
      "featureType": "administrative.neighborhood",
      "elementType": "labels.text.fill",
      "stylers": [
      {
      "lightness": "17"
      }
      ]
      },
      {
      "featureType": "administrative.land_parcel",
      "elementType": "labels",
      "stylers": [
      {
      "visibility": "off"
      }
      ]
      },
      {
      "featureType": "landscape",
      "elementType": "geometry",
      "stylers": [
      {
      "color": "#000000"
      },
      {
      "lightness": "12"
      }
      ]
      },
      {
      "featureType": "landscape",
      "elementType": "labels",
      "stylers": [
      {
      "visibility": "on"
      }
      ]
      },
      {
      "featureType": "landscape.man_made",
      "elementType": "labels",
      "stylers": [
      {
      "visibility": "off"
      }
      ]
      },
      {
      "featureType": "landscape.man_made",
      "elementType": "labels.text",
      "stylers": [
      {
      "visibility": "off"
      }
      ]
      },
      {
      "featureType": "landscape.natural",
      "elementType": "labels",
      "stylers": [
      {
      "visibility": "on"
      }
      ]
      },
      {
      "featureType": "poi",
      "elementType": "geometry",
      "stylers": [
      {
      "color": "#000000"
      },
      {
      "lightness": 21
      }
      ]
      },
      {
      "featureType": "poi",
      "elementType": "labels",
      "stylers": [
      {
      "visibility": "off"
      }
      ]
      },
      {
      "featureType": "road",
      "elementType": "labels",
      "stylers": [
      {
      "visibility": "simplified"
      }
      ]
      },
      {
      "featureType": "road.highway",
      "elementType": "geometry",
      "stylers": [
      {
      "visibility": "on"
      },
      {
      "color": "#00ff88"
      }
      ]
      },
      {
      "featureType": "road.highway",
      "elementType": "geometry.fill",
      "stylers": [
      {
      "lightness": 17
      }
      ]
      },
      {
      "featureType": "road.highway",
      "elementType": "geometry.stroke",
      "stylers": [
      {
      "color": "#000000"
      },
      {
      "lightness": 29
      },
      {
      "weight": 0.2
      }
      ]
      },
      {
      "featureType": "road.highway",
      "elementType": "labels",
      "stylers": [
      {
      "invert_lightness": true
      },
      {
      "visibility": "off"
      }
      ]
      },
      {
      "featureType": "road.highway.controlled_access",
      "elementType": "geometry.fill",
      "stylers": [
      {
      "color": "#3b3b3b"
      }
      ]
      },
      {
      "featureType": "road.arterial",
      "elementType": "geometry",
      "stylers": [
      {
      "color": "#000000"
      },
      {
      "lightness": 18
      }
      ]
      },
      {
      "featureType": "road.arterial",
      "elementType": "geometry.fill",
      "stylers": [
      {
      "color": "#00ff88"
      },
      {
      "lightness": "39"
      },
      {
      "gamma": "0.43"
      },
      {
      "saturation": "-47"
      }
      ]
      },
      {
      "featureType": "road.arterial",
      "elementType": "labels",
      "stylers": [
      {
      "visibility": "off"
      }
      ]
      },
      {
      "featureType": "road.local",
      "elementType": "geometry",
      "stylers": [
      {
      "color": "#000000"
      },
      {
      "lightness": 16
      }
      ]
      },
      {
      "featureType": "road.local",
      "elementType": "geometry.stroke",
      "stylers": [
      {
      "color": "#555555"
      }
      ]
      },
      {
      "featureType": "road.local",
      "elementType": "labels",
      "stylers": [
      {
      "visibility": "off"
      }
      ]
      },
      {
      "featureType": "transit",
      "elementType": "geometry",
      "stylers": [
      {
      "color": "#000000"
      },
      {
      "lightness": 19
      }
      ]
      },
      {
      "featureType": "water",
      "elementType": "geometry",
      "stylers": [
      {
      "color": "#000000"
      },
      {
      "lightness": "10"
      }
      ]
      }
      ]
      });

      var image = '/images/pin.png';

      marker = new google.maps.Marker({map: map, icon: image, position: new google.maps.LatLng(59.94434800000001,30.28083300000003)});
      
      infowindow = new google.maps.InfoWindow({content:'<h4>OZ INTERACTIVE</h4><br><p>8-линия В.О. 29, Санкт-Петербург, 199004<br></p>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);
      }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDR6WgYB7XMt7yTDDzQNEdF_gTdUiq8dI&callback=initialize"></script>

      -# Футер
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render