!!!
%html(lang="ru")
  
  -# Head
  -# ####################################
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "image/png", :href => "/images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
    %script(src="/js/video.js")
  
  -# Body
  -# ####################################
  %body.page-home
    
    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
    
    -# Попап: связаться с нами
    = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render
    
    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    -# ####################################
    %main#main-content
      
      -# Мы есть синтез
      -# #################################### 
      %section#landing-block.block
        -# Контент
        %header
          %h1 Мы есть синтез <b>технологии</b> и <b>магии</b>
          -# %button.open-form-btn.button
          -#   %small
        -# Подпись
        %footer
          %h4 会社 OZ INTERACTIVE<br>向 の プレ ゼ ン テ ー ション
        -# Градиент
        .gradient-overlay
        -# Видео на фоне
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "homeherobg")

      -# О компании
      -# ####################################
      %section#about-us.block
        %header
          %h2 Команда стратегов, дизайнеров, продюсеров и разработчиков, вдохновленных силой технологий и инноваций. Мы помогаем клиентам достичь их целей с помощью неординарного подхода к отношениям между брендом и потребителем, пользовательскому опыту и взаимодействию.
          %a.download-pdf{:href => "/ozinteractive.pdf", :target => "_blank"} Скачать презентацию
      
      -# Наши услуги
      -# ####################################
      %section#our-services.block
        %header
          %h2 OZ INTERACTIVE занимается созданием и запуском digital продуктов. Наши услуги охватывают как отдельные этапы проекта, так и разработку ALL INCLUSIVE.
        %div
          %section
            %h4 Стратегия
            %p Мы решаем весь комплекс задач, связанный со стратегией и планированием.  Погружаемся в процесс, определяем цели и задачи, составляем роадмап, продумываем этапы, подбираем необходимые технологии.
            %a{:href => "/services/strategy.html"} Узнать больше →
          %section
            %h4 Креатив
            %p Качественно реализуем каждый этап стратегии. Проводим аналитику, разрабатываем брендинг, продумываем концепции, создаем дизайн интерфейса, рисуем иллюстрации, продумываем анимацию и interactive, снимаем фото и видео контент. 
            %a{:href => "/services/creative.html"} Узнать больше →
          %section
            %h4 Разработка
            %p Программируем и верстаем веб проекты от промо-сайтов до сложных веб-приложений. Разрабатываем мобильные приложения, игры. Знаем, как сделать чтобы работало — интегрируем сторонние системы разрабатываем API, пишем документацию. 
            %a{:href => "/services/development.html"} Узнать больше →
          %section
            %h4 Маркетинг
            %p Умеем запускать и продвигать как веб, так и мобильные проекты. Оптимизируем продукт для запуска, подбираем каналы и площадки, а так же продумываем контентную стратегию и закупаем траффик для эффективного продвижения.
            %a{:href => "/services/marketing.html"} Узнать больше →

      -# Наши кейсы
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/sections/_cases.haml')).render
      
      -# Наши клиенты
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/sections/our-clients.haml')).render
      
      -# Контакты
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/parts/_letsworktogether.haml')).render

      -# Футер
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  -# ####################################
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
