!!!
%html(lang="ru")
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "/image/png", :href => "images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
  %body.page-home
  
    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
    -# Попап: связаться с нами
    -# = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render
    
    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    %main#main-content
      -# Наши услуги
      #services-hero.block-hero.block
        %header
          %h1 Наши услуги
        %footer
          %h4 会社 OZ INTERACTIVE<br>向 の プレ ゼ ン テ ー ション
        -# Градиент
        .gradient-overlay
        -# Видео на фоне
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "services-hero-video")
      -# Особенность подхода
      %section#our-vision.block
        %header
          %h2 OZ INTERACTIVE — это не digital production и не рекламное агентство. Мы можем решать задачи в рамках разработки и рекламы, но при этом сфокусированы на трех направлениях деятельности:
        .main-services-wrapper
          %figure.main-service
            %img.main-service-icon{:src => "images/services/globe.svg"}
            %figcaption
              %h4 Сложные инновационные<br>проекты
          %figure.main-service
            %img.main-service-icon{:src => "images/services/digital.svg"}
            %figcaption
              %h4 Комплексный digital<br>outsourcing
          %figure.main-service
            %img.main-service-icon{:src => "images/services/consulting.svg"}
            %figcaption
              %h4 Консалтинг и<br>поведенческий маркетинг
       
      -# Подробный список услуг
      %section#services-list.block
        %header
          %span Наши услуги
          %h2 Наши услуги составляют полный набор материалов и решений, необходимых для создания продукта и достижения поставленных целей. 
        .services-wrapper
          .service
            %h4 Стратегия 
            %a{:href => "/wip.html"} Design Research
            %a{:href => "/wip.html"} Concept Development
            %a{:href => "/wip.html"} Brand Strategy
            %a{:href => "/wip.html"} Campaign Strategy
            %a{:href => "/wip.html"} Project Planning
          .service
            %h4 Креатив
            %a{:href => "/wip.html"} User Experience
            %a{:href => "/wip.html"} Interaction Design
            %a{:href => "/wip.html"} Art Direction & Design
            %a{:href => "/wip.html"} 3D & Motion Graphic
            %a{:href => "/wip.html"} Film & Sound
          .service
            %h4 Разработка
            %a{:href => "/wip.html"} Front & Back-end
            %a{:href => "/wip.html"} Мобильная разработка
            %a{:href => "/wip.html"} Администрирование
            %a{:href => "/wip.html"} DevOps
            %a{:href => "/wip.html"} Content Management
          .service
            %h4 Маркетинг
            %a{:href => "/wip.html"} Маркетинговые кампании
            %a{:href => "/wip.html"} Social Media Management
            %a{:href => "/wip.html"} Client/Public Relations
            %a{:href => "/wip.html"} Channel-стратегия
            %a{:href => "/wip.html"} SEO-стратегия
      
      -# Процесс разработки
      %section#our-process.block
        %header
          %span Наш процесс
          %h2 Проработанный процесс и гибкая методология развития digital-проектов позволяет запускать по-настоящему успешные решения для бизнеса. 
        .process-wrapper
          %span.process-stage R&D
          %span.process-stage UX
          %span.process-stage IxD
          %br
          %span.process-stage Design
          %span.process-stage Front
          %span.process-stage Visual
          %span.process-stage Graphic
          %span.process-stage Motion
          %span.process-stage Concept
          %span.process-stage Script
          %br
          %span.process-stage Tech
          %span.process-stage Testing
          %span.process-stage Launch
          %span.process-stage Planning
          %span.process-stage Meeting
          %span.process-stage Status
          %span.process-stage Location
          %span.process-stage Casting
          %br
          %span.process-stage Logic
          %span.process-stage Back
          %span.process-stage Goals
          %span.process-stage Strategy
          %span.process-stage Account
          %span.process-stage Client
          %span.process-stage Stage
          %span.process-stage Project
        -# Видео на фоне
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "services-process-bg")

      -# Основные компетенции
      %section#competetions.block
        %header
          %span Основные компетенции
          %h2 Мы стараемся быть экспертами не только digital, но и в специфике рынка на котором работает клиент. Наибольшей компетенции мы достигли в следующих сферах:
        .competences-wrapper
          .competence
            %h4 Системы лояльности
            %p Успешно применяем свой опыт в задачах, связанных с программами лояльности. Умеем удерживать клиентов и продавать больше, применяем клиентоориентированный маркетинг. Создаем экономически оправданные системы на основе digital.
          .competence
            %h4 Игрофикация
            %p Внедряем игровые механики как для аудитории бренда, так и во внутренние бизнес процессы. Знаем как сделать это взаимодействие по-настоящему вовлекающим, а так же эффективным и по KPI.
          .competence
            %h4 HoReCa
            %p Мы много работали со сферой гостеприимства: сети кафе и ресторанов, кальянные, доставка еды, интернет-сервисы для HoReCa. Хорошо знаем специфику рынка и аудиторию.
          .competence
            %h4 Инновационная реклама
            %p Мы постоянно ищем новые варианты взаимодействия пользователя и бренда, которые успешно применяем в нестандартной рекламе, нацеленной на социальность и массовость.
          .competence
            %h4 Инфраструктурные проекты
            %p Финансы — очень сложная сфера. На каждом этапе разработки важно учитывать множество факторов: стандарты безопасности, поведенческие паттерны, хранение и передача данных, шифрование. Работая над финтех проектами мы раскрываем весь потенциал OZ INTERACTIVE.
          .competence
            %h4 Финтех
            %p Нам нравится когда digital взаимодействует с реальной жизнью, поэтому мы стараемся приманять свои возможности в инфраструктурных решениях: интерактивные системы навигации, бронирования, оповещения.

      -# Контакты
      = Haml::Engine.new(File.read('app/haml/parts/_letsworktogether.haml')).render
      
      -# Футер
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
