#services-hero
  header
    position: relative

    z-index: 150
  footer
    color: #00ff88

// Философия
#our-philosophy 
  border-top: 1px solid rgba(255,255,255, 0.15)

  header
    position: relative
   
    margin-bottom: 80rem

    z-index: 150

  .history-wrapper
    display: flex

    width: 100%

    justify-content: space-between
    @media screen and (max-width: 640px) { flex-wrap: wrap }

    figure
      width: 30%
      @media screen and (max-width: 640px) { width: 100%; margin-bottom: 48rem }

      img
        height: 64rem
        margin-bottom: 32rem

//Принципы и ценности
#our-values
  header
    margin-bottom: 80rem
    position: relative
    z-index: 150

  .rules-wrapper
    display: flex

    justify-content: space-between
    flex-wrap: wrap

    width: 100%
    height: auto

    position: relative

    z-index: 150

    .rule
      position: relative
      width: 30%
      @media screen and (max-width: 640px) { width: 100% }
      
      span
        display: flex
        position: absolute

        justify-content: center
        align-items: center

        top: -4rem
        left: -56rem

        width: 36rem
        height: 36rem

        border: 2px solid rgba(0,255,136,0.33)
        border-radius: 100%

        font-size: 18rem
        font-weight: 600
        line-height: 36rem
        color: #00ff88

      h4
        display: inline-block
        margin-bottom: 16rem

        color: #00ff88

      p
        margin-bottom: 32rem


  
// Наша команда
#our-team
  header
    max-width: 1080rem
    margin-bottom: 48rem

  .team-wrapper
    display: flex

    justify-content: space-between
    flex-wrap: wrap
    
    width: 100%
    height: auto
    
    figure
      position: relative

      width: 23%
      @media screen and (max-width: 640px) { width: 48%; margin-bottom: 64rem }

      margin-bottom: 48rem

      height: auto
      
      img
        width: 100%
        height: auto

        border: 1px solid rgba(15,15,15,1)

        margin-bottom: 32rem
      
      figcaption

// Вакансии
#vacancies

  header
    max-width: 720rem
    @media screen and (max-width: 640px) { max-width: 90% }
    margin-bottom: 32rem

    position: relative

    z-index: 150

    h2
      margin-bottom: 16rem

  .vacancies-wrapper
    display: flex
    position: relative

    margin-bottom: 32rem

    z-index: 150

    .column
      margin-right: 32rem
      a
        display: block
        line-height: 2.5

  p
    position: relative

    max-width: 640rem

    z-index: 150

