.button
  display: inline-block
  position: relative

  width: 256rem
  height: 64rem

  overflow: hidden

  font-size: 14rem
  text-align: center
  color: white

  background: none
  border: 2rem solid rgba(255, 255, 255, 0.25)
  
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1)
  
  cursor: pointer

  small
    display: block
    position: absolute

    top: 0
    left: 0

    width: 100%
    height: 100%

    background: url(../images/mail.svg) center center no-repeat
    background-size: 36% 36%
    
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1)

  &:before
    content: 'Написать нам'
    
    display: block
    position: absolute

    top: 150%
    left: 0
    
    width: 100%
    height: 100%

    font-size: 16rem
    font-weight: 500
    line-height: 56rem
    color: white
    
    background-color: #00ff8b
    border: 0
    
    
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1)

  &:hover
    border: 2rem solid #00ff8b

    &:before
      top: 0

    small
      top: -100%

  &:active
    border: 1rem solid black

    &:before
      top: 0
      
      background-size: 40% 40%
      background-color: black

    small
      top: -100%

  &:focus
    -webkit-appearance: none
    outline: none

.button-next
  small
    background: url(../images/next.svg) center center no-repeat
    background-size: 28% 28%

  &:before
    content: 'Перейти'