//Text size and margins for cases
/////////////////////////////
.alm-design-concept
  img
    width: 100%
    min-width: 720rem
    @media screen and (max-width: 768px) {max-width: 50%;  height:auto; max-height:60%}
    @media screen and (min-width: 1400px) { max-width:720rem; height:auto; max-height:60%}
.last-achiviements
  @media screen and (max-width: 768px) {display:none!important}

section


  &.block

    p
      font-size: 20rem
      line-height: 28rem
      @media screen and (max-width: 768px) {margin-bottom:0rem}

    h5

      margin-bottom: 20rem
      @media screen and (max-width: 768px) {margin-bottom:12rem; margin-top:20rem}

    &.case-block

      &.text

        //Margin fix for iphones inside long text block
        ////////////////////////////////////////////
        .screen-wrapper

          margin-bottom: 36rem

        //Margin fix for image inside header
        ////////////////////////////
        header
          .image-wrapper

            margin-top: 36rem
            width: 100%
            @media screen and (max-width: 768px) {width: 100%}

          p
            margin-bottom: 20rem

          //Lists and markers
          ////////////////////////////////
          ul
            display: block
            margin-bottom: 48rem

            li

              padding-left: 20rem

              p

                margin-bottom: 6rem


            &.red-marker

              li

                background: url('/images/cases/alcomath/marker1.png') 0 12rem no-repeat


#case-hero
  padding: 0

.block-first
  min-height: 66vh

  background-position: center center;
  background-repeat: no-repeat
  background-size: cover
  background-color: black

.case-block
  header
    max-width: 960rem

.images-wrapper
  display: flex
  width: 100%

  flex-wrap: wrap
  justify-content: space-between

  perspective: 640px

  .image
    position: relative

    width: 10.1%

    @media screen and (max-width: 768px) {width: 16%}

    border-radius: 4rem
    border: 1px solid rgba(255,255,255,0.1)
    overflow: hidden

    margin-bottom: 16rem

    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1)
    &:hover
      transform: rotate3d(1, 0, 0, 10deg)
    img
      width: 100%

.wrapper-problemes
  display: flex
  flex-wrap: wrap

  width: 100%

  justify-content: space-between
  text-align: left

  h4
    width: 32%
    @media screen and (max-width: 768px) { width: 100%}
    padding: 48rem
    border: 1px solid rgba(255,255,255,0.1)
    margin-bottom: 32rem

    span
      display: block
      color: #009cff

      margin-bottom: 8rem


.case-block-image-right
  display: flex

  //justify-content: space-between
  //align-items: flex-start

  header
    width: 38%
    p
      margin-bottom: 16rem

  .image-right-wrapper
    display: block
    margin-left: 120rem
    width: 50%

    img
      width: 100%







.use-flow
  display: block
  position: relative

  width: 100%

  .use-flow-bg
    width: 100%

    video
      width: 100%

.achievments-wrapper
  display: flex
  width: 100%

  flex-wrap: wrap
  justify-content: space-around //Changed from: space-between (To fix the spread if there's less elements in lines)

  perspective: 640px

  .image
    position: relative

    width: 15%

    padding: 48rem

    //border-radius: 4rem
    //border: 1px solid rgba(255,255,255,0.1)
    overflow: hidden

    margin-bottom: 32rem

    @media screen and (max-width: 768px) {display:inline-block; width:25%}

    &:hover
      img
        cursor: pointer
        transform: scale(1.2,1.2)
    img
      width: 100%
      @media screen and (max-width: 768px) {display:inline-block; width:200%}
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1)

.avatars-wrapper
  display: flex
  position: relative

  width: 100%
  flex-wrap: wrap
  justify-content: space-between
  @media screen and (max-width: 768px) {width: 100%; margin-top: 20rem}


  .avatar
    display: block
    position: relative

    width: 20%
    @media screen and (max-width: 768px) {width: 25%}

    img
      width: 80%

.all-screens-wrapper
  display: flex
  position: relative

  width: 100%
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 40rem

  @media screen and (max-width: 768px) { display: flex }

  .screen-preview
    width: 13.5%

    &:last-of-type
      @media screen and (max-width: 768px) { display:none }

    @media screen and (max-width: 768px) { width: 25% }

    img
      width: 95%
      margin-bottom: 32rem



//#last-screen-alm
 // @media screen and (max-width: 768px) { display:none }



// О кейсе
// ///////////////////////////////////////////////
#about-case


  //min-height: 66%

  //border-top: 1px solid rgba(255, 255, 255, 0.075)
  border-bottom: 1px solid rgba(255, 255, 255, 0.075)

  //color: white

  overflow: hidden

  //margin-top: 128rem

  header
    max-width: 720rem

    margin: 120rem 0
    @media screen and (max-width: 768px) {  margin: 256rem 0 }
    z-index: 160

    h1
      margin-bottom: 16rem
      z-index: 160

    img
      display: block
      position: relative
      height: 80rem
      margin-bottom: 32rem
      z-index: 160

    div
      margin-bottom: 16rem

    .info-wrapper
      margin-bottom: 16rem
      z-index: 160

      p
        display: block
    p
      max-width: 960rem
      z-index: 160
      //margin-bottom: 80rem
    .social-buttons
      margin-top: 32rem
      .social-button
        display: inline-block
        width: auto
        margin-right: 16rem
        z-index: 160



// Классы для шаблонов
// ///////////////////////////////////////////////


// Враппер на 4 экрана
// ///////////////////////////////////////////////
.case-block
  header
    margin-bottom: 48rem
    @media screen and (max-width: 768px) { max-width:100%}

  p
    @media screen and (max-width: 768px) { display:block}

  @media screen and (max-width: 768px) { display: flex; flex-direction: column }

.screen-wrapper
  display: flex

  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  @media screen and (max-width: 768px) { display: flex; flex-direction: column; align-items: center }

  width: 100%
  height: auto

  margin-top: 64rem
  @media screen and (max-width: 768px) {  margin-top: 48rem }

  figure
    @media screen and (max-width: 768px) { margin-bottom: 40rem; text-align: center; padding: 20rem}

  .iphone-wrapper
    position: relative

    width: 208px
    height: 424px
    margin-right: 16rem
    margin-bottom: 32rem

    background-image: url(../images/cases/iphone-white-mockup.png)
    background-size: 100% 100%

    @media screen and (max-width: 768px) { display: flex; flex-direction: column; align-items: center }
    img
      position: absolute
      left: 14px
      top: 52px

      width: 180px
      height: 320px

// Враппер на 1 изображение
// ///////////////////////////////////////////////

.image-wrapper
  display: block
  position: relative

  width: 100%
  height: auto

  margin-bottom: 64rem

  img
    display: block
    position: relative

    width: 100%
    @media screen and (max-width: 768px) { width: 100% } //Changed from: width:200%

    height: auto


// Враппер на 3 страницы
// ///////////////////////////////////////////////
.page-wrapper
  display: flex

  width: 100%
  height: auto

  flex-direction: row
  justify-content: space-between

  img
    display: block

    width: 90%
    height: auto

    margin-bottom: 32rem


// Враппер на 4 анимированных иконокё
.achievment-all-wrapper
  @media screen and (max-width: 768px) {width: 100%; display: flex; flex-direction: column; align-items:center}
  .achievment-wrapper
    width: 20%
    img
      width: 250rem

      margin-bottom: 24rem
  figure
    figcaption
      display: block
      text-align: center

// Враппер на 4 фотографии
// ///////////////////////////////////////////////
.image-grid-wrapper
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: space-between
  width: 100%

  .image-big
    display: block
    width: 65%
    height: 100%

  img
    display: inline-block
    position: relative

    width: 30%
    height: 100%

    margin-bottom: 5%
    @media screen and (max-width: 768px) {width: 100%; margin-bottom:40rem}

// Следующий / Предыдущий кейс
// ///////////////////////////////////////////////
.case-block-end
  display: flex
  flex-direction: row
  padding: 0 !important

  .case-block-prev, .case-block-next
    display: block
    position: relative
    width: 50%
    height: auto

    border: 1px solid rgba(255, 255, 255, 0.075)

  .case-block-prev,.case-block-next
    .arrow-wrapper
      display: flex
      position: relative

      flex-wrap: nowrap

      padding: 128rem

      flex-direction: row
      align-items: center
      justify-content: center

      z-index: 160


      header
        position: relative

        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1)

        z-index: 150

        h2
          margin-bottom: 8rem
        p

      &:hover
        cursor: pointer

        img:last-of-type
          opacity: 0.6

      img
        position: relative
        width: 32rem
        margin-top: -5rem
        z-index: 150

        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1)

      img:last-of-type
        position: absolute

        top: 0

        opacity: 0

        height: auto
        width: 100%

        z-index: 100

        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1)

  .case-block-prev
    text-align: left
    .arrow-wrapper
      &:hover
        header
          left: 0
        img
          left: 0
          opacity: 1
          margin-right: 40rem
        img:last-of-type
          left: 0rem
      header
        left: 16rem
      img
        left: 16rem
        margin-right: -20rem
        opacity: 0

      img:last-of-type
        left: -80rem

  .case-block-next
    text-align: right
    .arrow-wrapper
      &:hover
        img
          right: 0
          opacity: 1
          margin-left: 40rem
        img:last-of-type
          right: 0rem
      img
        right: 16rem
        opacity: 0
        margin-left: -20rem
      img:last-of-type
        right: -80rem

  .color-overlay
    display: block
    position: absolute

    width: 100%
    height: 100%

    top: 0
    left: 0

    background-color: rgba(0,0,0,0.0)

    z-index: 100

    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1)


// Изображение справа
// ///////////////////////////////////////////////
.case-image-right
  display: flex

  flex-direction: row
  justify-content: space-between

  .section-wrapper
    width: 60%

  .logo-wrapper
    width: 24%

    img
      width: 100%
  .fonts-wrapper
    width: 60%

    margin-bottom: 128rem

    img
      width: 100%
  .symbol-wrapper
    width: 45%

    margin-top: 24rem

    img
      width: 100%


// Изображение справа
// ///////////////////////////////////////////////
#cases-grid
  display: flex
  position: relative

  justify-content: space-between
  align-items: space-between
  flex-wrap: wrap

  width: 100%
  height: 100%

  .case-prevew
    display: block
    position: relative

    flex: 1 0 auto

    width: 50%
    height: 320px
    @media screen and (max-width: 768px) { width: 100%; height: 320px}

    // border: 1px solid gray

    overflow: hidden

    .case-content-wrapper
        display: flex
        position: relative

        padding: 128rem

        height: 100%
        width: 100%


        flex-direction: column
        justify-content: flex-start
        align-items: flex-start

        z-index: 150

        // top: 100%
        transform: scale(1.5,1.5)
        opacity: 0

        background-color: rgba(0,0,0,0.66)

        transition: all 660ms cubic-bezier(0.19, 1, 0.22, 1)

        h3
          margin-bottom: 24rem
        p
          margin-bottom: 48rem
    .case-image-wrapper
      display: block
      position: absolute

      width: 100%
      height: 100%

      left: 0
      top: 0

      overflow: hidden

      .image-bg
        display: block
        position: absolute

        width: 100%
        height: 100%

        left: 0
        top: 0

        transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1)

        background-size: cover

        overflow: hidden

    &:hover
      cursor: pointer
      .case-content-wrapper
        // top: 0
        transform: scale(1,1)
        opacity: 1

      .case-image-wrapper
        .image-bg
          transform: scale(1.2,1.2)

.cases-link
  color: white
  &:hover
    color: white
