// Кейсы
// ///////////////////////////////////////////////

#our-cases
  padding: 0
  min-height: 100%

  header
    padding: 128rem
    @media screen and (max-width: 768px) { padding: 80rem }
    border-top: 1px solid rgba(255, 255, 255, 0.075)

.cases-wrapper
  display: block
  position: relative

  width: 100%
  height: 100%

  &:active
    cursor: -webkit-grab

  .case-wrapper
    display: block
    position: relative

    width: 100%
    height: 88vh

    outline: 0px solid transparent

    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1)

    background-position: center center;
    background-repeat: no-repeat
    background-size: cover
    background-color: black

    &:focus
      outline: 0px solid transparent

    figure
      display: flex
      position: relative

      padding: 128rem
      @media screen and (max-width: 768px) { padding: 80rem }

      width: 100%
      height: 100%
      
      flex-direction: row
      align-items: center

      overflow: hidden

      user-select: auto

      figcaption
        position: relative
        max-width: 560rem

        left: 160rem

        transition: all 750ms cubic-bezier(0, 0.55, 0.5, 1)

        z-index: 150

        img
          height: 80rem
          margin-bottom: 40rem

        h3
          margin-bottom: 16rem

        h1 
          margin-bottom: 48rem

        p:last-of-type
          margin-bottom: 48rem

    figcaption:active
      cursor: auto

  .slick-current
    figure
      figcaption
        left: 0rem