@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=5cb5d4ef-cf86-4cec-abac-63e0578c876d")

@font-face
  font-family: "Avenir Next W00_n3"
  src: url("../fonts/5db267f9-3612-485c-ae18-5698d2692816.eot?#iefix") format("eot")

@font-face
  font-family: "Avenir Next W00"
  src: url("../fonts/5db267f9-3612-485c-ae18-5698d2692816.eot?#iefix")
  src: url("../fonts/5db267f9-3612-485c-ae18-5698d2692816.eot?#iefix") format("eot"), url("../fonts/174d458a-81e0-4174-9473-35e3bf0a613c.woff2") format("woff2"), url("../fonts/57a79aa3-9b06-4ba7-a9a4-2b766d826ecf.woff") format("woff"), url("../fonts/733cb7bd-50e1-4dee-893a-0b40ef382b02.ttf") format("truetype"), url("../fonts/594135c6-6c4f-4880-a0d2-ba923b5ef38e.svg#594135c6-6c4f-4880-a0d2-ba923b5ef38e") format("svg")
  font-weight: 300
  font-style: normal

@font-face
  font-family: "Avenir Next W00_i3"
  src: url("../fonts/9e4f77ac-2ea3-4f4e-b592-290f5c4af932.eot?#iefix") format("eot")

@font-face
  font-family: "Avenir Next W00"
  src: url("../fonts/9e4f77ac-2ea3-4f4e-b592-290f5c4af932.eot?#iefix")
  src: url("../fonts/9e4f77ac-2ea3-4f4e-b592-290f5c4af932.eot?#iefix") format("eot"), url("../fonts/69a545eb-cdd0-4c00-9035-0029d8cede28.woff2") format("woff2"), url("../fonts/642cb581-067a-4f15-9df9-55c49c6b5446.woff") format("woff"), url("../fonts/972d8132-0f21-4d94-b42d-8f4022e6aa17.ttf") format("truetype"), url("../fonts/670d40f3-affd-4e16-8ad8-055f11470e24.svg#670d40f3-affd-4e16-8ad8-055f11470e24") format("svg")
  font-weight: 300
  font-style: italic

@font-face
  font-family: "Avenir Next W00_n4"
  src: url("../fonts/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix") format("eot")

@font-face
  font-family: "Avenir Next W00"
  src: url("../fonts/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix")
  src: url("../fonts/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix") format("eot"), url("../fonts/7db1f672-3a8f-4d19-9c49-7f61aed450b5.woff2") format("woff2"), url("../fonts/4ab86b35-c0c2-42b5-98ad-4b6eba66b197.woff") format("woff"), url("../fonts/276b3566-1c3b-4bc1-8915-15314f091f29.ttf") format("truetype"), url("../fonts/5d02f5f4-46e7-453a-aef9-3e7106d7bb68.svg#5d02f5f4-46e7-453a-aef9-3e7106d7bb68") format("svg")
  font-weight: 400
  font-style: normal

@font-face
  font-family: "Avenir Next W00_i4"
  src: url("../fonts/78f55966-cc8e-4f4c-bf8b-8fe59be9fe96.eot?#iefix") format("eot")

@font-face
  font-family: "Avenir Next W00"
  src: url("../fonts/78f55966-cc8e-4f4c-bf8b-8fe59be9fe96.eot?#iefix")
  src: url("../fonts/78f55966-cc8e-4f4c-bf8b-8fe59be9fe96.eot?#iefix") format("eot"), url("../fonts/b17468ea-cf53-4635-984b-4d930a68ed4d.woff2") format("woff2"), url("../fonts/4d1d0d0d-9ea6-4117-901f-8b32ca1ab936.woff") format("woff"), url("../fonts/66b50093-e606-427c-a42a-a44b2f9ff219.ttf") format("truetype"), url("../fonts/78695677-7ebb-4ef8-8996-eff09dc64f26.svg#78695677-7ebb-4ef8-8996-eff09dc64f26") format("svg")
  font-weight: 400
  font-style: italic

@font-face
  font-family: "Avenir Next W00_n5"
  src: url("../fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix") format("eot")

@font-face
  font-family: "Avenir Next W00"
  src: url("../fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix")
  src: url("../fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix") format("eot"), url("../fonts/b0b84e4d-2164-45c7-a674-1662f19f3ba6.woff2") format("woff2"), url("../fonts/e91d1bbf-3fea-45e2-b003-a22b12ce6e5f.woff") format("woff"), url("../fonts/ead8b64b-1abd-4d5b-a642-a21dfe2f463b.ttf") format("truetype"), url("../fonts/e536e1c2-92a4-4db4-8a41-1c55354d11b7.svg#e536e1c2-92a4-4db4-8a41-1c55354d11b7") format("svg")
  font-weight: 500
  font-style: normal

@font-face
  font-family: "Avenir Next W00_i5"
  src: url("../fonts/1f022c78-180e-4c6b-b5ee-e1573f17e4b6.eot?#iefix") format("eot")

@font-face
  font-family: "Avenir Next W00"
  src: url("../fonts/1f022c78-180e-4c6b-b5ee-e1573f17e4b6.eot?#iefix")
  src: url("../fonts/1f022c78-180e-4c6b-b5ee-e1573f17e4b6.eot?#iefix") format("eot"), url("../fonts/349e5647-5161-46bb-a19f-8a609ae235e4.woff2") format("woff2"), url("../fonts/cc0a88c2-524b-4c90-b6f0-a80570222c30.woff") format("woff"), url("../fonts/03aefdc0-0198-4662-a9c7-640a4734063e.ttf") format("truetype"), url("../fonts/132a539d-37fa-48fb-92ec-1f4591f98ee1.svg#132a539d-37fa-48fb-92ec-1f4591f98ee1") format("svg")
  font-weight: 500
  font-style: italic

@font-face
  font-family: "Avenir Next W00_n6"
  src: url("../fonts/fbf4298d-ef75-419c-b615-47f209a48ed2.eot?#iefix") format("eot")

@font-face
  font-family: "Avenir Next W00"
  src: url("../fonts/fbf4298d-ef75-419c-b615-47f209a48ed2.eot?#iefix")
  src: url("../fonts/fbf4298d-ef75-419c-b615-47f209a48ed2.eot?#iefix") format("eot"), url("../fonts/40d36b4a-60c6-460a-bf43-4c948c23563e.woff2") format("woff2"), url("../fonts/45b78f45-e639-4836-8612-e0892e120f14.woff") format("woff"), url("../fonts/cbc021cc-b96f-4c82-ba0d-59cb0b7449c0.ttf") format("truetype"), url("../fonts/c6778bcf-ca82-4a86-8a5f-08b70c9a71fd.svg#c6778bcf-ca82-4a86-8a5f-08b70c9a71fd") format("svg")
  font-weight: 600
  font-style: normal

@font-face
  font-family: "Avenir Next W00_i6"
  src: url("../fonts/6fe465ee-8bf8-4fb1-b3c9-be94e71375e6.eot?#iefix") format("eot")

@font-face
  font-family: "Avenir Next W00"
  src: url("../fonts/6fe465ee-8bf8-4fb1-b3c9-be94e71375e6.eot?#iefix")
  src: url("../fonts/6fe465ee-8bf8-4fb1-b3c9-be94e71375e6.eot?#iefix") format("eot"), url("../fonts/553b4ee3-b700-43b9-946e-f48d29a14959.woff2") format("woff2"), url("../fonts/0ee6969c-805b-4b51-8340-7e7bcecec99e.woff") format("woff"), url("../fonts/4f41e5bd-7b7e-4e8a-bdde-0688fcdec93f.ttf") format("truetype"), url("../fonts/ab92199b-7296-43db-8910-aebba5069daa.svg#ab92199b-7296-43db-8910-aebba5069daa") format("svg")
  font-weight: 600
  font-style: italic

@font-face
  font-family: "Avenir Next W00_n7"
  src: url("../fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix") format("eot")

@font-face
  font-family: "Avenir Next W00"
  src: url("../fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix")
  src: url("../fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix") format("eot"), url("../fonts/4c04fb14-abdb-4f93-82bb-734d1b84307b.woff2") format("woff2"), url("../fonts/04d2f223-2786-40c9-8481-be9dd47d8e7f.woff") format("woff"), url("../fonts/bce3274e-f498-48ae-b269-a6930df496e7.ttf") format("truetype"), url("../fonts/68f0375d-f66f-4f88-822a-5a0b61d2efc0.svg#68f0375d-f66f-4f88-822a-5a0b61d2efc0") format("svg")
  font-weight: 700
  font-style: normal

@font-face
  font-family: "Avenir Next W00_i7"
  src: url("../fonts/8316f326-afe6-49dc-a5d8-cd1d521182c2.eot?#iefix") format("eot")

@font-face
  font-family: "Avenir Next W00"
  src: url("../fonts/8316f326-afe6-49dc-a5d8-cd1d521182c2.eot?#iefix")
  src: url("../fonts/8316f326-afe6-49dc-a5d8-cd1d521182c2.eot?#iefix") format("eot"), url("../fonts/395aeb70-3407-45d6-91b3-3d9a114af9bd.woff2") format("woff2"), url("../fonts/5f0686cb-9605-4656-8b38-9b8ca092ca9b.woff") format("woff"), url("../fonts/5fafc2a7-1ec9-4ba2-8d0b-836dfae0023b.ttf") format("truetype"), url("../fonts/f2ab6bd3-14da-4c86-949e-eddf030a8147.svg#f2ab6bd3-14da-4c86-949e-eddf030a8147") format("svg")
  font-weight: 700
  font-style: italic