#footer
  display: flex
  position: relative

  width: 100%
  height: auto
  
  flex-direction: row
  justify-content: space-between
  align-content: center

  padding: 48rem 128rem
  @media screen and (max-width: 768px) { padding: 48rem 80rem }

  background: black
  border-top: 1px solid rgba(255, 255, 255, 0.075)