#header
  display: flex
  position: absolute

  justify-content: space-between
  @media screen and (max-width: 768px) { justify-content: center }
  align-items: center
  flex-wrap: nowrap

  width: 100%
  height: auto

  padding: 40rem 128rem
  @media screen and (max-width: 768px) { text-align: center; padding: 32rem }

  line-height: 1

  border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  background: rgba(0, 0, 0, 0.25)

  -webkit-backface-visibility: hidden

  z-index: 400

  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1)

  &.sticky
    position: fixed
    background-color: black 
    border-bottom: 1px solid rgba(255,255,255,0.15)

  &.active
    display: block
    position: fixed


    width: 100%
    height: 100%

    padding: 0

    background: black

    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1)

    a
      img
        display: none

    #icon-menu-cross
      @media screen and (max-width: 768px) { display: inline-block; float: none; width: 18px; height: auto; margin: 128rem; }
    #icon-menu
      display: none

    nav
      display: block
      .links-wrapper
        @media screen and (max-width: 768px) { display: block; text-align: center; }
        a
          display: block

          margin-left: 0

          font-size: 48rem
          font-weight: 500
          letter-spacing: 2px

          line-height: 2.5
  
  // Иконка меню
  #icon-menu-cross
    display: none

    height: 32rem
    width:  32rem

    float: left

  // Иконка меню
  #icon-menu
    display: none
    @media screen and (max-width: 768px) { display: inline-block }

    height: 32rem
    width:  32rem

    float: left
  
  // Logo
  a
    display: inline-block
    @media screen and (max-width: 768px) { display: none }
    position: relative

    width: auto
    height: auto

    img
      height: 14rem
      width: auto
      @media screen and (max-width: 768px) { height: 20rem }

  // Навигация
  nav
    display: inline-block
    
    .links-wrapper
      display: inline-block
      @media screen and (max-width: 768px) { display: none }

      a
        display: inline-block
        
        color: rgba(255, 255, 255, 0.66)
        
        font-size: 16rem
        letter-spacing: 2px
        font-weight: 600

        margin-left: 40rem
        @media screen and (max-width: 768px) { margin-left: 24rem }
        
        &:hover
          color: white
          transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1)

        &:first-of-type
          margin-left: 0rem

    // Языки
    .languages-wrapper
      display: inline-block

      a
        display: inline-block
        
        color: rgba(255, 255, 255, 0.66)
        
        font-size: 22px
        letter-spacing: 2px
        font-weight: 600  

      p
        display: inline-block

        color: rgba(255, 255, 255, 1)
        
        font-size: 16rem
        letter-spacing: 2px
        font-weight: 600
      
      .flag-wrapper
        display:  inline-flex
        align-items: center
        position: relative

        width: 22px
        height: 22px

        border: 1px solid gray

        img
          width: 16px

        
      p
        display: none

