#landing-block
  display: flex

  flex-direction: column
  justify-content: center
  
  min-height: 66%

  header
    max-width: 720rem

    margin: 120rem 0
    @media screen and (max-width: 768px) {  margin: 256rem 0 }
    z-index: 150

    h1
      margin-bottom: 48rem
      @media screen and (max-width: 768px) { line-height: 1.6 }
  footer
    position: relative
    z-index: 200

// О компании
// ///////////////////////////////////////////////

#about-us
  border-top: 1px solid rgba(255, 255, 255, 0.075)
  border-bottom: 1px solid rgba(255, 255, 255, 0.075)

  header
    h2
      margin-bottom: 32rem

// Услуги
// ///////////////////////////////////////////////

#our-services
  header
    margin-bottom: 48rem
    @media screen and (max-width: 960px) { margin-bottom: 80rem; }

  div
    display: flex
    position: relative

    justify-content: space-between
    flex-wrap: wrap
   
    width: 100%

    section
      width: 23%
      @media screen and (max-width: 960px) { width: 48%; margin-bottom: 64rem; }
      
      &:last-of-type
        margin-bottom: 0 

      @media screen and (max-width: 640px) { width: 100% }

      h4
        margin-bottom: 16rem

      p
        margin-bottom: 32rem
            

// Наши клиенты
// ///////////////////////////////////////////////
#our-clients
  header
    margin-bottom: 64rem

  .logos-wrapper
    display: flex
    flex-wrap: wrap

    border: 1px solid rgba(255, 255, 255, 0.1)

    div
      display: flex
      justify-content: center
      align-items: center
      width: 25%
      @media screen and (max-width: 768px) { width: 50% }
      
      padding: 80rem 48rem 80rem 48rem
      @media screen and (max-width: 768px) { padding: 64rem 24rem 64rem 24rem }
      
      text-align: center
      
      opacity: 0.66
      
      border: 0

      img
        height: 64rem
        @media screen and (max-width: 768px) { height: 48rem }

        &.onetwotrip
            height: 72rem


// Контакты
// ///////////////////////////////////////////////

#lets-work-together
  border-top: 1px solid rgba(255, 255, 255, 0.075)
  header
    z-index: 150

    h2
      max-width: 560px
      margin-bottom: 32rem
    button 
      display: block
      color: white

      margin-bottom: 48rem

  .contacts-wrapper
    position: relative
    z-index: 150
    h4
      margin-bottom: 24rem

    .contacts
      display: inline-block
      @media screen and (max-width: 768px) { display: block; margin-bottom: 24rem; }
      margin-right: 48rem

      p
        display: block

      p:last-of-type
        color: #00ff8b
        opacity: 1