@font-face
  font-family: 'icomoon'
  src: url('../icons/icomoon.eot?8nqtqc')
  src: url('../icons/icomoon.eot?8nqtqc#iefix') format("embedded-opentype"), url('../icons/icomoon.ttf?8nqtqc') format("truetype"), url('../icons/icomoon.woff?8nqtqc') format("woff"), url('../icons/icomoon.svg?8nqtqc#icomoon') format("svg")
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-download:before
  content: "\e900"
  color: inherit
  display: inline-block
  position: relative
  font-size: 23rem
  top: 4px
  margin-right: 8px