#popup_contact
  display: flex
  flex-direction: column
  flex-wrap: wrap
  position: fixed
  justify-content: center
  align-items: center
  overflow-y: scroll
  position: fixed
  width: 100%
  min-height: 100%
  height: auto
  color: white
  z-index: 100
  background: rgba(0, 0, 0, 1)
  z-index: 1000

  top: 100%

  > form
    display: block
    position: relative
    overflow: auto
    width: 100%
    min-height: auto
    max-width: 640rem
    padding: 80rem
    background: black

    .button
      width: 100%

    > fieldset
      display: block
      position: relative
      overflow: hidden
      width: 100%
      height: auto
      max-width: 100%

      >
        legend
          display: block
          position: relative
          margin: 0
          padding: 0
          border: 0
          font-size: 14rem
          font-weight: 600
          line-height: 28rem
          text-transform: uppercase
          letter-spacing: 2px
          margin-bottom: 24rem
          color: white

        input
          display: block
          position: relative
          width: 100%
          height: auto
          box-sizing: border-box
          background: white !important
          max-width: 100%
          resize: vertical
          padding: 24rem
          border: 0
          margin-bottom: 24rem

textarea
  display: block
  position: relative
  width: 100%
  height: auto
  box-sizing: border-box
  background: white !important
  max-width: 100%
  resize: vertical
  padding: 24rem
  border: 0
  margin-bottom: 24rem

#popup_contact > form > fieldset >
  input:focus, textarea:focus
    outline: none

#upload_file
  position: absolute
  opacity: 0

.upload_file
  width: 100%
  text-align: left
  padding: 24rem
  height: auto

  &:hover
    border: 1px solid rgba(255, 255, 255, 0.6)

  &:before
    display: none

.uploadbutton
  display: block
  position: relative
  background: none
  margin-bottom: 48rem

  > span
    text-align: left
    font-size: 14rem



.popup_cross
  display: block
  position: absolute
  top: 0
  right: 0
  padding: 16rem
  border: 1px solid rgba(255, 255, 255, 0.15)
  border-top: 0
  border-right: 0
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1)

  &:hover
    background: #00ff8b

  > img
    height: 16rem