#preloader
  display: flex
  position: absolute
  left: 0
  top: 0
  flex-direction: row
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  background: black
  z-index: 500
  
  user-select: none
  cursor: default

  div
    text-align: center

    .oz
      display: inline-block
      height: 14rem
      margin: 7rem

      opacity: 0
      transform: scale(0.8)
