#our-vision
  border-top: 1px solid rgba(255, 255, 255, 0.075)

  header
    max-width: 960rem
    margin-bottom: 48rem

  .main-services-wrapper
    display: flex
    position: relative

    width: 100%
    height: auto

    align-items: center
    justify-content: space-between

    @media screen and (max-width: 767px) { flex-wrap: wrap }

    .main-service
      display: inline-flex
      position: relative

      @media screen and (max-width: 767px) { width: 100%; margin-bottom: 48rem }

      align-items: center

      .main-service-icon
        display: inline-block
        position: relative

        height: 48rem

        margin-right: 32rem

      figcaption
        display: inline-block
        position: relative

        h4
          margin-bottom: 0

#services-list
  border-top: 1px solid rgba(255, 255, 255, 0.075)

  header
    max-width: 1080rem
    margin-bottom: 64rem
  .services-wrapper
    display: flex
    position: relative

    justify-content: space-between
    @media screen and (max-width: 768px) { flex-wrap: wrap }
    .service
      display: inline-block
      position: relative

      @media screen and (max-width: 768px) { margin-bottom: 48rem }
      h4
        margin-bottom: 8rem
      a
        display: block
        line-height: 3
      a:before
        content: ''
        display: block
        width: 8rem
        height: 1px

        left: -20rem
        top: 20rem

        background: #00ff8b
        position: relative


// Компетенции
#competetions
  header
    margin-bottom: 80rem
  .competences-wrapper
    display: flex
    position: relative

    flex-wrap: wrap
    justify-content: space-between

    width: 100%
    height: auto
    
    @media screen and (max-width: 768px) { flex-wrap: wrap }

    .competence
      position: relative

      width: 30%
      @media screen and (max-width: 768px) { width: 50%; margin-bottom: 48rem }
      @media screen and (max-width: 640px) { width: 100%; margin-bottom: 48rem }
      height: auto

      margin-bottom: 48rem

// Наш процесe
#our-process
  header
    position: relative
    z-index: 150

    max-width: 1080rem

    margin-bottom: 64rem



  .process-wrapper
    display: block
    position: relative
    z-index: 150

    justify-content: space-between
    flex-wrap: wrap

    left: -16rem

    width: calc(100% + 32rem)
    height: auto

    .process-stage
      display: inline-block
      position: relative

      width: 10%
      @media screen and (max-width: 767px) { width: 25% }

      margin: 16rem
      padding: 24rem 0


      color: #00ff8b
      text-align: center
      font-size: 16rem
      font-weight: 600
      text-transform: uppercase
      letter-spacing: 2rem
      line-height: 1

      border: 1px solid rgba(0,255,139,0.25)

      transition: all 400ms cubic-bezier(0, 0.55, 0.5, 1)

      &:hover
        cursor: pointer
        color: white
        background: #00ff8b
      &:active
        transform: scale(0.9,0.9)
