.slick-dots
  display: block
  position: relative
  height: auto
  width: auto
  top: -96rem
  left: 128rem
  @media screen and (max-width: 768px) { left: 80rem }
  z-index: 300
  cursor: default

  > li
    display: inline-block
    width: 16rem
    height: 16rem
    border-radius: 8rem
    margin-left: 16rem
    background: none
    border: 1rem solid rgba(255, 255, 255, 0.25)
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1)
    transform: scale(0.75, 0.75)
    cursor: default

    &:first-of-type
      margin-left: 0

    > button
      display: none

    &.slick-active
      cursor: default
      background: rgba(255, 255, 255, 1)
      border: 2rem solid rgba(255, 255, 255, 1)
      transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1)
      transform: scale(1, 1)

    &:hover
      cursor: pointer
      background: rgba(255, 255, 255, 0.15)
      border: 2rem solid rgba(255, 255, 255, 0.25)

    &:active
      cursor: pointer
      background: rgba(255, 255, 255, 0.5)
      border: 1rem solid rgba(255, 255, 255, 1)
      transform: scale(1, 1)

    &.slick-active:hover
      cursor: default
      background: rgba(255, 255, 255, 1)
      border: 2rem solid rgba(255, 255, 255, 1)

.slick-slider
  position: relative
  width: 100%
  height: 100%
  display: block
  box-sizing: border-box
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-touch-callout: none
  -khtml-user-select: none
  -ms-touch-action: pan-y
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent

.slick-list
  display: block
  position: relative
  width: 100%
  height: 100%
  overflow: hidden
  margin: 0
  padding: 0
  &:focus
    outline: none
  &.dragging
    cursor: pointer
    cursor: hand

.slick-slider
  .slick-track, .slick-list
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.slick-track
  position: relative
  top: 0
  left: 0
  display: block
  height: 100%
  &:before
    display: table
    content: ''
  &:after
    display: table
    content: ''
    clear: both

.slick-loading .slick-track
  visibility: hidden

.slick-slide
  display: none
  float: left
  width: 100%
  height: 100%

[dir='rtl'] .slick-slide
  float: right

.slick-slide
  img
    display: block
  &.slick-loading img
    display: none
  &.dragging img
    pointer-events: none

.slick-initialized .slick-slide
  display: block

.slick-loading .slick-slide
  visibility: hidden

.slick-vertical .slick-slide
  display: block
  height: auto
  border: 1px solid transparent

.slick-arrow.slick-hidden
  display: none