

// Стиль страницы
// ///////////////////////////////////////////////
@charset "UTF-8"

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-tap-highlight-color: transparent
  &::selection
    background: rgba(255,255,255,0.16)
html
  overflow-y: auto
body
  overflow-y: auto

html, body
  display: block
  position: static

  width: 100%
  height: 100%

  overflow-x: hidden
  overflow-scrolling: touch
  -webkit-overflow-scrolling: touch

  font-size: 0.75px
  @media screen and (max-width: 768px) { font-size: 0.55px }

  line-height: 0.75px
  font-family: "Avenir Next W00", sans-serif

  color: white
  background: black


// Повторяющиеся блоки
.block
  display: block
  position: relative

  width: 100%
  height: auto

  padding: 128rem
  @media screen and (max-width: 768px) { padding: 80rem }

  overflow: hidden
  z-index: 100

  header
    span
      display: inline-block
      position: relative
      margin: 0
      padding: 0
      border: 0
      font-size: 18rem
      font-weight: 600
      line-height: 28rem
      text-transform: uppercase
      letter-spacing: 2px
      color: #00ff8b
      margin-bottom: 32rem

.block-hero
  header
    padding: 64rem 0
  footer
    position: relative
    z-index: 150


// Стандартный блок на странице кейсов
.page-case
  .block
    padding: 64rem 128rem
    @media screen and (max-width: 768px) { padding: 80rem }


.gradient-overlay
  display: block
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 100%)
  pointer-events: none
  overflow: hidden
  z-index: 110

a[href]
  cursor: pointer

input
  &[type='submit'], &[type='image']
    cursor: pointer

label[for], select, button, .pointer, a:active
  cursor: pointer
