.uppercase
  text-transform: uppercase
  letter-spacing: 4rem

h1
  display: block
  position: relative
  margin: 0
  padding: 0
  border: 0
  font-size: 48rem
  font-weight: 400
  line-height: 64rem
  text-transform: uppercase
  letter-spacing: 4px

h2
  display: block
  position: relative
  margin: 0
  padding: 0
  border: 0
  font-size: 28rem
  font-weight: 500
  line-height: 44rem

h3
  display: inline-block
  position: relative
  margin: 0
  padding: 0
  border: 0
  font-size: 28rem
  font-weight: 500
  line-height: 48rem

h4
  display: block
  position: relative
  margin: 0
  padding: 0
  border: 0
  font-size: 20rem
  font-weight: 600
  line-height: 28rem
  text-transform: uppercase
  letter-spacing: 2px
  margin-bottom: 12rem

h5
  display: inline-block
  position: relative
  margin: 0
  padding: 0
  border: 0
  font-size: 16rem
  font-weight: 500
  line-height: 24rem
  text-transform: uppercase
  letter-spacing: 2px

p
  display: inline-block
  position: relative
  margin: 0
  padding: 0
  border: 0
  font-size: 18rem
  font-weight: 500
  line-height: 28rem
  opacity: 0.5

b
  font-weight: 500

// Ссылки

a
  display: block
  position: relative

  font-size: 14rem
  font-weight: 500
  text-transform: uppercase
  letter-spacing: 2rem

  text-decoration: none

  color: #00ff8b
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1)

  &:hover
    color: rgba(0,255,139,0.5)

    cursor: pointer

a.download-pdf
  font-size: 18rem

  &:hover
    cursor: pointer
    &:before
      opacity: 0.5
      cursor: pointer

  &:before
    content: ''
    display: inline-block
    position: relative

    width: 28rem
    height: 28rem

    margin-bottom: -10rem
    margin-right: 12rem

    background-image: url(../images/download-pdf.svg)
    background-size: 100% 100%

    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1)