.video-wrapper
  display: block
  position: absolute

  top: 0
  left: 0

  width: 100%
  height: 100%

  overflow: hidden

  z-index: 100

  transition: all 1600ms cubic-bezier(0.19, 1, 0.22, 1)
    
 
  video, canvas
    /* Make video to at least 100% wide and tall */
    min-width: 130%
    min-height: 130%
    
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto
    height: auto
    
    /* Center the video */
    position: absolute
    bottom: 50%
    left: 50%
    transform: translate(-50%,50%)
