#wip-block 
  display: flex
  position: relative

  align-items: center
  justify-content: center
  text-align: center
  width: 100%
  height: calc(100vh - 128rem)

  .icon-gear
    height: 120rem

    margin-bottom: 48rem
